AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/wsdls/BRMBillServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BRMBILLService" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
            <include schemaLocation="../schemas/PCM_OP_BILL_GROUP_MOVE_MEMBER.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_MAKE_BILL_NOW.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_GROUP_GET_PARENT.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_DEBIT.xsd"/>
        </schema>
    </types>
    <message name="PCM_OP_BILL_GROUP_MOVE_MEMBER_inmsg">
        <part element="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_inputFlist" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_MOVE_MEMBER_outmsg">
        <part element="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_outputFlist" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg">
        <part element="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inputFlist" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg">
        <part element="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outputFlist" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_MAKE_BILL_NOW_inmsg">
        <part element="brm:PCM_OP_BILL_MAKE_BILL_NOW_inputFlist" name="PCM_OP_BILL_MAKE_BILL_NOW_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_MAKE_BILL_NOW_outmsg">
        <part element="brm:PCM_OP_BILL_MAKE_BILL_NOW_outputFlist" name="PCM_OP_BILL_MAKE_BILL_NOW_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_GET_PARENT_inmsg">
        <part element="brm:PCM_OP_BILL_GROUP_GET_PARENT_inputFlist" name="PCM_OP_BILL_GROUP_GET_PARENT_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_GET_PARENT_outmsg">
        <part element="brm:PCM_OP_BILL_GROUP_GET_PARENT_outputFlist" name="PCM_OP_BILL_GROUP_GET_PARENT_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_DEBIT_inmsg">
        <part element="brm:PCM_OP_BILL_DEBIT_inputFlist" name="PCM_OP_BILL_DEBIT_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_DEBIT_outmsg">
        <part element="brm:PCM_OP_BILL_DEBIT_outputFlist" name="PCM_OP_BILL_DEBIT_outputFlist"/>
    </message>
    <portType name="BRMBILLService_ptt">
        <operation name="PCM_OP_BILL_GROUP_MOVE_MEMBER">
            <input message="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_inmsg" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_Request"/>
            <output message="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_outmsg" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT">
            <input message="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_Request"/>
            <output message="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_MAKE_BILL_NOW">
            <input message="brm:PCM_OP_BILL_MAKE_BILL_NOW_inmsg" name="PCM_OP_BILL_MAKE_BILL_NOW_Request"/>
            <output message="brm:PCM_OP_BILL_MAKE_BILL_NOW_outmsg" name="PCM_OP_BILL_MAKE_BILL_NOW_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_GROUP_GET_PARENT">
            <input message="brm:PCM_OP_BILL_GROUP_GET_PARENT_inmsg" name="PCM_OP_BILL_GROUP_GET_PARENT_Request"/>
            <output message="brm:PCM_OP_BILL_GROUP_GET_PARENT_outmsg" name="PCM_OP_BILL_GROUP_GET_PARENT_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_DEBIT">
            <input message="brm:PCM_OP_BILL_DEBIT_inmsg" name="PCM_OP_BILL_DEBIT_Request"/>
            <output message="brm:PCM_OP_BILL_DEBIT_outmsg" name="PCM_OP_BILL_DEBIT_Response"/>
        </operation>
    </portType>
    <plt:partnerLinkType name="BRMBILLService_plt">
        <plt:role name="BRMBILLService_role">
            <plt:portType name="brm:BRMBILLService_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
</definitions>
