AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/Siebel/V1/RequesterABCS/QueryBalanceDetailsSiebelCommsReqABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="QueryBalanceDetailsSiebelCommsReqABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryBalanceDetailsSiebelCommsReqABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:siebelfault="http://www.siebel.com/xml/SWIFault/V0"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common"
     xmlns:ns1="http://schemas.oracle.com/service/bpel/common"
     xmlns:abcsimplsiebelbaldtlsabcs="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryBalanceDetailsSiebelCommsReqABCSImpl/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:abcsimplsiebelbaldtlsabo="http://www.siebel.com/xml/SWIBillingGroupDetailIOReq"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:abcsimplsiebelbaldtlsrespabo="http://www.siebel.com/xml/SWIBillingGroupDetailIORes"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service contains operations that would be used to query the Balance Details of an account, from the billing system</svcdoc:Description>
            <svcdoc:ServiceType>RequesterABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>QueryBalanceDetailsSiebelCommsReqABCSImpl Requester ABCS
                          Implementation Interface</svcdoc:DisplayName>
            <svcdoc:EBOName>CustomerPartyEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.siebel.com/xml/SWIBillingGroupDetailIOReq" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/Swibillinggroupdetailioreq.xsd"/>
            <import namespace="http://www.siebel.com/xml/SWIBillingGroupDetailIORes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/Swibillinggroupdetailiores.xsd"/>
            <xsd:import namespace="http://www.siebel.com/xml/SWIFault/V0" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/Fault.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
        </schema>
        <xsd:schema>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </xsd:schema>
    </types>
    <message name="QueryBalanceDetailsReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as a payload to Query Balance
                        Details operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryBalanceDetails" element="abcsimplsiebelbaldtlsabo:ListOfSwibillinggroupdetailioreq"/>
    </message>
    <message name="QueryBalanceDetailsRespMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for sending response by Query
                        Balance Details operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryBalanceDetailsResponse" element="abcsimplsiebelbaldtlsrespabo:ListOfSwibillinggroupdetailiores"/>
    </message>
    <message name="SiebelFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="siebelfault:Fault"/>
    </message>
    <message name="QueryBalanceDetailsFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="corecom:Fault"/>
    </message>
    <portType name="QueryBalanceDetailsSiebelCommsReqABCSImpl">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains operations that can act upon
                            the object</svcdoc:Description>
                <svcdoc:DisplayName>Query BalanceDetails Siebel Requestor ABCS Implementation</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="QueryBalanceDetails">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Query an BalanceDetails
                              object</svcdoc:Description>
                    <svcdoc:MEP>SyncReqResp</svcdoc:MEP>
                    <svcdoc:DisplayName>QueryBalanceDetails</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplsiebelbaldtlsabcs:QueryBalanceDetailsReqMsg"/>
            <output message="abcsimplsiebelbaldtlsabcs:QueryBalanceDetailsRespMsg"/>
            <fault name="fault" message="abcsimplsiebelbaldtlsabcs:SiebelFaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="QueryBalanceDetailsSiebelCommsReqABCSImpl">
        <plnk:role name="QueryBalanceDetailsSiebelCommsReqABCSImplProvider">
            <plnk:portType name="abcsimplsiebelbaldtlsabcs:QueryBalanceDetailsSiebelCommsReqABCSImpl"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
