AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/Siebel/V1/RequesterABCS/QueryInvoicePaymentSiebelCommsReqABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="QueryInvoicePaymentSiebelCommsReqABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoicePaymentSiebelCommsReqABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:siebelfault="http://www.siebel.com/xml/SWIFault/V0"
     xmlns:abcsimplsiebelinvpymtrespabo="http://www.siebel.com/xml/CMU%20Response%20Billed%20Usgae%20Payments%20IO"
     xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common"
     xmlns:commsinvpymt="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:abcsimplsiebelinvpymtreqabo="http://www.siebel.com/xml/CMU%20Request%20Billed%20Usage%20IO"
     xmlns:abcsimplsiebelinvpymtreqabcs="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoicePaymentSiebelCommsReqABCSImpl/V1"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service contains operations that would be used to query the Payment records for a particular bill of the account in the billing system</svcdoc:Description>
            <svcdoc:ServiceType>RequesterABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>QueryInvoicePaymentSiebelCommsReqABCSImpl Requester ABCS
                          Implementation Interface</svcdoc:DisplayName>
            <svcdoc:EBOName>ReceivedPaymentEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>CMU</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.siebel.com/xml/CMU%20Request%20Billed%20Usage%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBilledUsageIo.xsd"/>
            <import namespace="http://www.siebel.com/xml/CMU%20Response%20Billed%20Usgae%20Payments%20IO"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseBilledUsgaePaymentsIo.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
            <xsd:import namespace="http://www.siebel.com/xml/SWIFault/V0" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/Fault.xsd"/>
            <import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </schema>
    </types>
    <message name="QueryInvoicePaymentReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as a payload to Query Invoice Payment operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryInvoicePayment" element="abcsimplsiebelinvpymtreqabo:ListOfCmuRequestBilledUsageIo"/>
    </message>
    <message name="QueryInvoicePaymentRespMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for sending response by Query Invoice Payment operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryInvoicePaymentResponse" element="abcsimplsiebelinvpymtrespabo:ListOfCmuResponseBilledUsgaePaymentsIo"/>
    </message>
    <message name="SiebelFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="siebelfault:Fault"/>
    </message>
    <message name="QueryInvoicePaymentFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryInvoicePaymentFault" element="commsinvpymt:Fault"/>
    </message>
    <portType name="QueryInvoicePaymentSiebelCommsReqABCSImpl">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains operations that can act upon
                            the object</svcdoc:Description>
                <svcdoc:DisplayName>Query InvoicePayment Siebel Requestor ABCS Implementation</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="QueryInvoicePayment">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Query an InvoicePayment
                              object</svcdoc:Description>
                    <svcdoc:MEP>SyncReqResp</svcdoc:MEP>
                    <svcdoc:DisplayName>QueryInvoicePayment</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplsiebelinvpymtreqabcs:QueryInvoicePaymentReqMsg"/>
            <output message="abcsimplsiebelinvpymtreqabcs:QueryInvoicePaymentRespMsg"/>
            <fault name="fault" message="abcsimplsiebelinvpymtreqabcs:SiebelFaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="QueryInvoicePaymentSiebelCommsReqABCSImpl">
        <plnk:role name="QueryInvoicePaymentSiebelCommsReqABCSImplProvider">
            <plnk:portType name="abcsimplsiebelinvpymtreqabcs:QueryInvoicePaymentSiebelCommsReqABCSImpl"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
