AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/Siebel/V1/RequesterABCS/QueryUnbilledUsageSiebelCommsReqABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="QueryUnbilledUsageSiebelCommsReqABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryUnbilledUsageSiebelCommsReqABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:abcsimplsiebelunbillusgreqabo="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO"
     xmlns:bpelcommon="http://schemas.oracle.com/service/bpel/common"
     xmlns:abcsimplsiebelunbillusgreqabcs="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryUnbilledUsageSiebelCommsReqABCSImpl/V1"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	 xmlns:siebelfault="http://www.siebel.com/xml/SWIFault/V0"
     xmlns:abcsimplsiebelunbillusgrespabo="http://www.siebel.com/xml/CMU%20Response%20Unbilled%20Usage%20IO"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service contains Siebel ABCS implementation of Query Unbilled Usage operation</svcdoc:Description>
            <svcdoc:ServiceType>RequesterABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>Query Unbilled Usage Siebel Requestor ABCS Implememntation</svcdoc:DisplayName>
            <svcdoc:EBOName>ServiceUsage</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBillingProfileIo.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
            <xsd:import namespace="http://www.siebel.com/xml/CMU%20Response%20Unbilled%20Usage%20IO"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseUnbilledUsageIo.xsd"/>
				 <xsd:import namespace="http://www.siebel.com/xml/SWIFault/V0" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/Fault.xsd" />
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </schema>
    </types>
    <message name="QueryUnbilledUsageReqMsg">
	<documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message will contain the Unbilled Usage request attributes</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryUnbilledUsage" element="abcsimplsiebelunbillusgreqabo:ListOfCmuRequestBillingProfileIo"/>
    </message>
    <message name="QueryUnbilledUsageRespMsg">
	<documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message will contain the Unbilled Usage response attributes</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryUnbilledUsageResponse" element="abcsimplsiebelunbillusgrespabo:ListOfCmuResponseUnbilledUsageIo"/>
    </message>
    <message name="QueryUnbilledUsageFaultMsg">
	 <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and Error Message</svcdoc:Description>
            </svcdoc:Message>
			</documentation>
        <part name="QueryUnbilledUsageFault" element="corecom:Fault"/>
    </message>
	<message name="SiebelFaultMsg">
	 <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and Error Message</svcdoc:Description>
            </svcdoc:Message>
	  </documentation>
        <part name="Fault" element="siebelfault:Fault"/>
    </message>
	
    <portType name="QueryUnbilledUsageSiebelCommsReqABCSImpl">
         <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This Service Contains Query Unbilled Usage Siebel Requestor ABCS Implementation</svcdoc:Description>
                <svcdoc:DisplayName>Query Unbilled Usage Siebel Requestor ABCS Implementation</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="QueryUnbilledUsage">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Query On Unbilled Usage</svcdoc:Description>
                    <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>Query Unbilled Usage</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplsiebelunbillusgreqabcs:QueryUnbilledUsageReqMsg"/>
            <output message="abcsimplsiebelunbillusgreqabcs:QueryUnbilledUsageRespMsg"/>
            <fault name="fault" message="abcsimplsiebelunbillusgreqabcs:SiebelFaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="QueryUnbilledUsageSiebelCommsReqABCSImpl">
        <plnk:role name="QueryUnbilledUsageSiebelCommsReqABCSImplProvider">
            <plnk:portType name="abcsimplsiebelunbillusgreqabcs:QueryUnbilledUsageSiebelCommsReqABCSImpl"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
