AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/Siebel/V1/RequesterABCS/QueryAccountBalanceAdjustmentSiebelCommsReqABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryAccountBalanceAdjustmentSiebelCommsReqABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:siebelfault="http://www.siebel.com/xml/SWIFault/V0"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:ns1="http://schemas.oracle.com/bpel/extension"
     xmlns:queryadjrespabo="http://www.siebel.com/xml/CMU%20Response%20Billed%20Usage%20AR%20Items%20IO"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:ns2="http://schemas.oracle.com/service/bpel/common"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:abcsimplsiebeladj="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryAccountBalanceAdjustmentSiebelCommsReqABCSImpl/V1"
     xmlns:queryadjreqabo="http://www.siebel.com/xml/CMU%20Request%20Billed%20Usage%20IO"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This is Implementation service for Query Account Balance Adjustment Flow</svcdoc:Description>
            <svcdoc:ServiceType>RequesterABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>Query Adjustment ABCS Implementation</svcdoc:DisplayName>
            <svcdoc:EBOName>AccountBalanceAdjustmentEBO</svcdoc:EBOName>
            <svcdoc:ABOName>ListOfCmuRequestBilledUsageIo</svcdoc:ABOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryAccountBalanceAdjustmentSiebelCommsReqABCSImpl/V1"
             elementFormDefault="qualified">
            <xsd:import namespace="http://www.siebel.com/xml/CMU%20Request%20Billed%20Usage%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBilledUsageIo.xsd"/>
            <xsd:import namespace="http://www.siebel.com/xml/CMU%20Response%20Billed%20Usage%20AR%20Items%20IO"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseBilledUsageArItemsIo.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
            <xsd:import namespace="http://www.siebel.com/xml/SWIFault/V0" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/Fault.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </xsd:schema>
    </types>
    <message name="QueryAdjustmentListReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as a payload to QueryAdjustment operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="ListOfCmuRequestBilledUsageIo" element="queryadjreqabo:ListOfCmuRequestBilledUsageIo"/>
    </message>
    <message name="QueryAdjustmentListRespMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for sending response by QueryAdjustment operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="ListOfCmuResponseBilledUsageArItemsIo" element="queryadjrespabo:ListOfCmuResponseBilledUsageArItemsIo"/>
    </message>
    <message name="SiebelFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="siebelfault:Fault"/>
    </message>
    <message name="FaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="corecom:Fault"/>
    </message>
    <portType name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImpl">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This Implementation contains operations that can act upon the Query Adjustment Siebel requester ABCS Impl Service</svcdoc:Description>
                <svcdoc:DisplayName>Query Adjustment ABCS Implementation</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="QueryAdjustmentList">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Query an Adjustment object</svcdoc:Description>
                    <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>Query Adjustment</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplsiebeladj:QueryAdjustmentListReqMsg"/>
            <output message="abcsimplsiebeladj:QueryAdjustmentListRespMsg"/>
            <fault name="fault" message="abcsimplsiebeladj:SiebelFaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImpl">
        <plnk:role name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplProvider">
            <plnk:portType name="abcsimplsiebeladj:QueryAccountBalanceAdjustmentSiebelCommsReqABCSImpl"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
