AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/Siebel/V1/RequesterABCS/QueryInvoiceBalanceDetailsSiebelCommsReqABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceBalanceDetailsSiebelCommsReqABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:abcsimplsiebelinvblncdtlrespabo="http://www.siebel.com/xml/CMU%20Response%20CDR%20Balance%20Details%20IO"
     xmlns:abcsimplsiebelinvblncdtlreqabo="http://www.siebel.com/xml/CMU%20Request%20CDR%20Balance%20Details%20IO"
     xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common"
     xmlns:abcsimplsiebelinvblncdtlreqabcs="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceBalanceDetailsSiebelCommsReqABCSImpl/V1"
     xmlns:seblflt="http://www.siebel.com/xml/SWIFault/V0"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:commsinvblnc="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service contains operations that would be used to view Resource balance details in CRM app</svcdoc:Description>
            <svcdoc:ServiceType>RequesterABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>QueryInvoiceBalanceDetailsSiebelCommsReqABCSImpl Requester ABCS
                          Implementation Interface</svcdoc:DisplayName>
            <svcdoc:EBOName>InvoiceEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology/>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>CMU</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.siebel.com/xml/CMU%20Request%20CDR%20Balance%20Details%20IO"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestCdrBalanceDetailsIo.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
            <import namespace="http://www.siebel.com/xml/CMU%20Response%20CDR%20Balance%20Details%20IO"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseCdrBalanceDetailsIo.xsd"/>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
            <import namespace="http://www.siebel.com/xml/SWIFault/V0" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/Fault.xsd"/>
        </schema>
    </types>
    <message name="QueryInvoiceBalanceDetailsReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as a payload to Query Invoice Balance Details operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryInvoiceBalanceDetails" element="abcsimplsiebelinvblncdtlreqabo:ListOfCmuRequestCdrBalanceDetailsIo"/>
    </message>
    <message name="QueryInvoiceBalanceDetailsRespMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for sending response by Query Invoice Balance Details operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryInvoiceBalanceDetailsResponse" element="abcsimplsiebelinvblncdtlrespabo:ListOfCmuResponseCdrBalanceDetailsIo"/>
    </message>
    <message name="SiebelFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error
                                    Context and Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="SiebelFault" element="seblflt:Fault"/>
    </message>
    <message name="QueryInvoiceBalanceDetailsFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryInvoiceBalanceDetailsFault" element="commsinvblnc:Fault"/>
    </message>
    <portType name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImpl">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains operations that can act upon
                            the object</svcdoc:Description>
                <svcdoc:DisplayName>Query InvoiceBalanceDetails Siebel Requestor ABCS Implementation</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="QueryInvoiceBalanceDetails">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Query an InvoiceBalanceDetails
                              object</svcdoc:Description>
                    <svcdoc:MEP>SyncReqResp</svcdoc:MEP>
                    <svcdoc:DisplayName>QueryInvoiceBalanceDetails</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplsiebelinvblncdtlreqabcs:QueryInvoiceBalanceDetailsReqMsg"/>
            <output message="abcsimplsiebelinvblncdtlreqabcs:QueryInvoiceBalanceDetailsRespMsg"/>
            <fault name="fault" message="abcsimplsiebelinvblncdtlreqabcs:SiebelFaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImpl">
        <plnk:role name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplProvider">
            <plnk:portType name="abcsimplsiebelinvblncdtlreqabcs:QueryInvoiceBalanceDetailsSiebelCommsReqABCSImpl"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
