AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/Siebel/V1/RequesterABCS/QueryBalanceGroupListSiebelCommsReqABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="QueryBalanceGroupListSiebelCommsReqABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryBalanceGroupListSiebelCommsReqABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:abcsimplsiebelbalgrouplistabo="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO"
     xmlns:abcsimplsiebelbalgrouplistabcs="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryBalanceGroupListSiebelCommsReqABCSImpl/V1"
     xmlns:siebelfault="http://www.siebel.com/xml/SWIFault/V0"
     xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:abcsimplsiebelbalgrouplistrespabo="http://www.siebel.com/xml/SWIBalanceGroupIORes"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service contains operations that would be used to query the BalanceGroup List of an account, from the billing system</svcdoc:Description>
            <svcdoc:ServiceType>RequesterABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>QueryBalanceGroupListSiebelCommsReqABCSImpl Requester ABCS
                          Implementation Interface</svcdoc:DisplayName>
            <svcdoc:EBOName>CustomerPartyEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBillingProfileIo.xsd"/>
            <import namespace="http://www.siebel.com/xml/SWIBalanceGroupIORes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/Swibalancegroupiores.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
            <xsd:import namespace="http://www.siebel.com/xml/SWIFault/V0" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/Fault.xsd"/>
            <import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </schema>
    </types>
    <message name="QueryBalanceGroupListReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as a payload to Query Balance
                        Group List operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryBalanceGroupList" element="abcsimplsiebelbalgrouplistabo:ListOfCmuRequestBillingProfileIo"/>
    </message>
    <message name="QueryBalanceGroupListRespMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for sending response by Query
                        Balance Group List operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryBalanceGroupListResponse" element="abcsimplsiebelbalgrouplistrespabo:ListOfSwibalancegroupiores"/>
    </message>
    <message name="SiebelFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="siebelfault:Fault"/>
    </message>
    <message name="QueryBalanceGroupListFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="corecom:Fault"/>
    </message>
    <portType name="QueryBalanceGroupListSiebelCommsReqABCSImpl">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains operations that can act upon
                            the object</svcdoc:Description>
                <svcdoc:DisplayName>Query BalanceGroupList Siebel Requestor ABCS Implementation</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="QueryBalanceGroupList">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Query an BalanceGroupList
                              object</svcdoc:Description>
                    <svcdoc:MEP>SyncReqResp</svcdoc:MEP>
                    <svcdoc:DisplayName>QueryBalanceGroupList</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplsiebelbalgrouplistabcs:QueryBalanceGroupListReqMsg"/>
            <output message="abcsimplsiebelbalgrouplistabcs:QueryBalanceGroupListRespMsg"/>
            <fault name="fault" message="abcsimplsiebelbalgrouplistabcs:SiebelFaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="QueryBalanceGroupListSiebelCommsReqABCSImpl">
        <plnk:role name="QueryBalanceGroupListSiebelCommsReqABCSImplProvider">
            <plnk:portType name="abcsimplsiebelbalgrouplistabcs:QueryBalanceGroupListSiebelCommsReqABCSImpl"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
