AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/BRM/V1/ProviderABCS/CreateReceivedPaymentListBRMCommsProvABCSImpl.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="CreateReceivedPaymentListBRMCommsProvABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/CreateReceivedPaymentListBRMCommsProvABCSImpl/V1"
     xmlns:ns2="http://schemas.oracle.com/bpel/extension"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:ns1="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/CreateReceivedPaymentListBRMCommsProvABCSImpl/V1"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
    >
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> 
	<wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>    
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/ReceivedPayment/V1/ReceivedPaymentEBM.xsd"/>
			<import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Infrastructure/V1/Meta.xsd"/>
			<import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
		</schema>
	</wsdl:types>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->   
	<wsdl:message name="CreateReceivedPaymentListEBMRequestMessage">
		<wsdl:part name="CreateReceivedPaymentListEBM" element="ns1:CreateReceivedPaymentListEBM"/>
	</wsdl:message>
	<wsdl:message name="CreateReceivedPaymentListEBMResponseMessage">
		<wsdl:part name="CreateReceivedPaymentListResponseEBM" element="ns1:CreateReceivedPaymentListResponseEBM"/>
	</wsdl:message>
	<wsdl:message name="CreateReceivedPaymentFaultMsg">
		<wsdl:documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Create Payment request attributes</svcdoc:Description>
			</svcdoc:Message>
		</wsdl:documentation>
		<wsdl:part name="AIAFault" element="corecom:Fault"/>
	</wsdl:message>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<wsdl:portType name="CreateReceivedPaymentListBRMCommsProvABCSImpl">
		<wsdl:operation name="CreateReceivedPaymentListRequest">
			<wsdl:input message="client:CreateReceivedPaymentListEBMRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="CreateReceivedPaymentListBRMCommsProvABCSImplCallback">
		<wsdl:operation name="CreateReceivedPaymentListResponse">
			<wsdl:input message="client:CreateReceivedPaymentListEBMResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	the CreateReceivedPaymentListBRMCommsProvABCSImplProcess partnerLinkType binds the provider and
	requester portType into an asynchronous conversation.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="CreateReceivedPaymentListBRMCommsProvABCSImpl">
		<plnk:role name="CreateReceivedPaymentListBRMCommsProvABCSImplProcessProvider">
			<plnk:portType name="client:CreateReceivedPaymentListBRMCommsProvABCSImpl"/>
		</plnk:role>
		<plnk:role name="CreateReceivedPaymentListBRMCommsProvABCSImplProcessRequester">
			<plnk:portType name="client:CreateReceivedPaymentListBRMCommsProvABCSImplCallback"/>
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>
