AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/BRM/V1/ProviderABCS/ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcess"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcess/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:sordebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1"
     xmlns:com="http://schemas.oracle.com/service/bpel/common"
     xmlns:bg="http://schemas.oracle.com/BG/bpel/common"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:sordsubmovabcs="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcess/V1"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:sordsubebo="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess"
     xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:bpelx="http://schemas.oracle.com/bpel/extension"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service contains implementations that would be needed performing the delete opcode</svcdoc:Description>
            <svcdoc:ServiceType>ProviderABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>Sub Process for Delete Billing BRM Provider ABCS Implementation</svcdoc:DisplayName>
            <svcdoc:EBOName>SalesOrderEBO</svcdoc:EBOName>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:ProductFamily>BRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>BRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
            <svcdoc:Version>1.0</svcdoc:Version>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/PIPS/Communications/Schemas/ProcessFulfillmentOrderBillingBRMCommsSubprocess.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcessRequestMessage">
        <part name="payload" element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage"/>
    </message>
    <message name="ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcessResponseMessage">
        <part name="payload" element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage"/>
    </message>
    <message name="FaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="corecom:Fault"/>
    </message>
    <portType name="ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcess">
        <operation name="processBillingMove">
            <input message="sordsubmovabcs:ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcessRequestMessage"/>
            <output message="sordsubmovabcs:ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcessResponseMessage"/>
            <fault name="fault" message="sordsubmovabcs:FaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcess">
        <plnk:role name="ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcessProvider">
            <plnk:portType name="sordsubmovabcs:ProcessFulfillmentOrderBillingBRMCommsMoveAddSubProcess"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
