AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/BRM/V1/ProviderABCS/ProcessFulfillmentOrderBillingBRMCommsAddSubProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ProcessFulfillmentOrderBillingBRMCommsAddSubProcess"
             targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsAddSubProcess/V1"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:sordebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1"
             xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
             xmlns:bg="http://schemas.oracle.com/BG/bpel/common"
             xmlns:com="http://schemas.oracle.com/service/bpel/common"
             xmlns:sordsubaddabcs="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsAddSubProcess/V1"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
             xmlns:sordsubebo="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess"
             xmlns:bpelx="http://schemas.oracle.com/bpel/extension"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <import namespace="http://schemas.oracle.com/bpel/extension"
            location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Infrastructure/V1/Meta.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/PIPS/Communications/Schemas/ProcessFulfillmentOrderBillingBRMCommsSubprocess.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes/array"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/PIPS/Communications/Schemas/PurchaseDealFlistArray.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProcessFulfillmentOrderBillingBRMCommsAddSubProcessRequestMessage">
        <part name="payload"
              element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage"/>
    </message>
    <message name="ProcessFulfillmentOrderBillingBRMCommsAddSubProcessResponseMessage">
        <part name="payload"
              element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage"/>
    </message>
    <message name="FaultMsg">
        <part name="Fault" element="corecom:Fault"/>
    </message>
    <portType name="ProcessFulfillmentOrderBillingBRMCommsAddSubProcess">
        <operation name="processBillingAdd">
            <input message="sordsubaddabcs:ProcessFulfillmentOrderBillingBRMCommsAddSubProcessRequestMessage"/>
            <output message="sordsubaddabcs:ProcessFulfillmentOrderBillingBRMCommsAddSubProcessResponseMessage"/>
            <fault name="fault" message="sordsubaddabcs:FaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ProcessFulfillmentOrderBillingBRMCommsAddSubProcess">
        <plnk:role name="ProcessFulfillmentOrderBillingBRMCommsAddSubProcessProvider">
            <plnk:portType name="sordsubaddabcs:ProcessFulfillmentOrderBillingBRMCommsAddSubProcess"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
