AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/BRM/V1/ProviderABCS/ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcess"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcess/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:sordebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:bg="http://schemas.oracle.com/BG/bpel/common"
     xmlns:com="http://schemas.oracle.com/service/bpel/common"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:sordsubabcs="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcess/V1"
     xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
     xmlns:sordsubebo="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess"
     xmlns:bpelx="http://schemas.oracle.com/bpel/extension"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/PIPS/Communications/Schemas/ProcessFulfillmentOrderBillingBRMCommsSubprocess.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessRequestMessage">
        <part name="payload" element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage"/>
    </message>
    <message name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessResponseMessage">
        <part name="payload" element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage"/>
    </message>
    <message name="FaultMsg">
        <part name="Fault" element="corecom:Fault"/>
    </message>
    <portType name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcess">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains operations that can act upon the SalesOrderEBM</svcdoc:Description>
                <svcdoc:DisplayName>Process Billing Interface</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="processBillingDelete">
            <input message="sordsubabcs:ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessRequestMessage"/>
            <output message="sordsubabcs:ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessResponseMessage"/>
            <fault name="fault" message="sordsubabcs:FaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcess">
        <plnk:role name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessProvider">
            <plnk:portType name="sordsubabcs:ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcess"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
