AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/BRM/V1/ProviderABCS/ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcess.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<definitions name="ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcess"
             targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcess/V1"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
             xmlns:ns1="http://schemas.oracle.com/service/bpel/common"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:sordsubebo="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess"
             xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
             xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
             xmlns:fordsgsubeboebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:bpelx="http://schemas.oracle.com/bpel/extension"
             xmlns:fordsgsubeboabcs="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcess/V1"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This process is handle the Sharing Groups
                                feature.</svcdoc:Description>
            <svcdoc:ServiceType>ProviderABCSImpl</svcdoc:ServiceType>
            <svcdoc:Version>1</svcdoc:Version>
            <svcdoc:ProductCode>Comms</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <plnk:partnerLinkType name="ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcess">
        <plnk:role name="ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcessProvider">
            <plnk:portType name="fordsgsubeboabcs:ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcess"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
            location="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/wsdls/BRMSubscriptionServices.wsdl"/>
    <import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
            location="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/wsdls/BRMBaseServices.wsdl"/>
    <import namespace="http://schemas.oracle.com/bpel/extension"
            location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1"
                    schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/FulfillmentOrder/V1/FulfillmentOrderEBM.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
                    schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Infrastructure/V1/Meta.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/PIPS/Communications/Schemas/ProcessFulfillmentOrderBillingBRMCommsSubprocess.xsd"/>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </schema>
    </types>
    <message name="ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcessRequestMessage">
        <part name="payload"
              element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage"/>
    </message>
    <message name="ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcessResponseMessage">
        <part name="payload"
              element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage"/>
    </message>
    <message name="FaultMsg">
        <part name="Fault"
              element="corecom:Fault"/>
    </message>
    <portType name="ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcess">
        <operation name="ProcessFulfillmentOrderBilling">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Process an
                                        FulfillmentOrderBilling object</svcdoc:Description>
                    <svcdoc:MEP>SyncReqResp</svcdoc:MEP>
                </svcdoc:Operation>
            </documentation>
            <input message="fordsgsubeboabcs:ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcessRequestMessage"/>
            <output message="fordsgsubeboabcs:ProcessFulfillmentOrderBillingBRMCommsSharingGroupSubProcessResponseMessage"/>
            <fault name="fault"
                   message="fordsgsubeboabcs:FaultMsg"/>
        </operation>
    </portType>
</definitions>
