AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/BRM/V1/ProviderABCS/QueryReceivedPaymentListBRMCommsProvABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="QueryReceivedPaymentListBRMCommsProvABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/QueryReceivedPaymentListBRMCommsProvABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:commsrcvdpymtebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:commsrcvdpymtabcs="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/QueryReceivedPaymentListBRMCommsProvABCSImpl/V1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service contains operations that would be used to Query Payment related information using the billing system APIs</svcdoc:Description>
            <svcdoc:ServiceType>ProviderABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>QueryReceivedPaymentListBRMCommsProvABCSImpl Provider ABCS Implementation Interface</svcdoc:DisplayName>
            <svcdoc:EBOName>ReceivedPaymentEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:ProductFamily>BRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>BRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>Billing</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/ReceivedPayment/V1/ReceivedPaymentEBM.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
            <import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </schema>
    </types>
    <message name="QueryReceivedPaymentListReqMsg">
	        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message will contain the Query Received Payment request attributes</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryReceivedPaymentListEBM" element="commsrcvdpymtebo:QueryReceivedPaymentListEBM"/>
    </message>
    <message name="QueryReceivedPaymentListRespMsg">
		        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message will contain the Query Received Payment response attributes</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryReceivedPaymentListResponseEBM" element="commsrcvdpymtebo:QueryReceivedPaymentListResponseEBM"/>
    </message>
    <message name="QueryReceivedPaymentListFaultMsg">
	        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="AIAFault" element="corecom:Fault"/>
    </message>
    <portType name="QueryReceivedPaymentListBRMCommsProvABCSImpl">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This Service Contains Query Received Payment BRM Provider ABCS Implementation</svcdoc:Description>
                <svcdoc:DisplayName>Query ReceivedPaymentList BRM Requestor ABCS Implementation</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="QueryReceivedPaymentList">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Query an ReceivedPaymentList
                              object</svcdoc:Description>
                    <svcdoc:MEP>SyncReqResp</svcdoc:MEP>
                    <svcdoc:DisplayName>QueryReceivedPaymentList</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="commsrcvdpymtabcs:QueryReceivedPaymentListReqMsg"/>
            <output message="commsrcvdpymtabcs:QueryReceivedPaymentListRespMsg"/>
            <fault name="fault" message="commsrcvdpymtabcs:QueryReceivedPaymentListFaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="QueryReceivedPaymentListBRMCommsProvABCSImpl">
        <plnk:role name="QueryReceivedPaymentListBRMCommsProvABCSImplProvider">
            <plnk:portType name="commsrcvdpymtabcs:QueryReceivedPaymentListBRMCommsProvABCSImpl"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
