AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/BRM/V1/ProviderABCS/QueryInstalledProductListBRMCommsProvABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="QueryInstalledProductListBRMCommsProvABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/QueryInstalledProductListBRMCommsProvABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:commsInstPrdListabcs="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/QueryInstalledProductListBRMCommsProvABCSImpl/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:commsInstPrdListebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/InstalledProduct/V2"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service is the BRM Provider for QueryInstalledProductList List operation in Installed Product EBS</svcdoc:Description>
            <svcdoc:ServiceType>ProviderABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>QueryInstalledProductListBRMCommsProvABCSImpl Provider ABCS
                          Implementation Interface</svcdoc:DisplayName>
            <svcdoc:EBOName>InstalledProductEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology> 
            <svcdoc:ProductFamily>BRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>BRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/InstalledProduct/V2"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/InstalledProduct/V2/InstalledProductEBM.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
            <import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </schema>
    </types>
    <message name="QueryInstalledProductListReqMsg">
	        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the request payload to the
                        QueryInstalledProductList operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryInstalledProductListEBM" element="commsInstPrdListebo:QueryInstalledProductListEBM"/>
    </message>
    <message name="QueryInstalledProductListRespMsg">
	        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the response payload to the
                        QueryInstalledProductList operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryInstalledProductListResponseEBM" element="commsInstPrdListebo:QueryInstalledProductListResponseEBM"/>
    </message>
    <message name="QueryInstalledProductListFaultMsg">
	        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="corecom:Fault"/>
    </message>
    <portType name="QueryInstalledProductListBRMCommsProvABCSImpl">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This Service Contains Query Installed Product List Provider ABCS Implementation</svcdoc:Description>
                <svcdoc:DisplayName>Query InstalledProductList BRM Requestor ABCS Implementation</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="QueryInstalledProductList">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Query an InstalledProductList
                              object</svcdoc:Description>
                    <svcdoc:MEP>SyncReqResp</svcdoc:MEP>
                    <svcdoc:DisplayName>QueryInstalledProductList</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="commsInstPrdListabcs:QueryInstalledProductListReqMsg"/>
            <output message="commsInstPrdListabcs:QueryInstalledProductListRespMsg"/>
            <fault name="Fault" message="commsInstPrdListabcs:QueryInstalledProductListFaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="QueryInstalledProductListBRMCommsProvABCSImpl">
        <plnk:role name="QueryInstalledProductListBRMCommsProvABCSImplProvider">
            <plnk:portType name="commsInstPrdListabcs:QueryInstalledProductListBRMCommsProvABCSImpl"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
