AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/BRM/V1/ProviderABCS/SyncCustomerPartyListBRMCommsProvABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="SyncCustomerPartyListBRMCommsProvABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/SyncCustomerPartyListBRMCommsProvABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:client="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/SyncCustomerPartyListBRMCommsProvABCSImpl/V1"
     xmlns:custebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>BRM Provider ABCS Implementation for Update Customer Party</svcdoc:Description>
            <svcdoc:ServiceType>ProviderABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>Update Customer Party BRM Provider ABCS Implementation</svcdoc:DisplayName>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:EBOName>CustomerPartyEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:ProductFamily>BRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>BRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/CustomerParty/V2/CustomerPartyEBM.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
            <import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
            <import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/WS-Addressing.xsd"/>
        </schema>
    </types>
    <message name="SyncCustomerPartyListReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the request payload to the SyncCustomerPartyList operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="SyncCustomerPartyListEBM" element="custebo:SyncCustomerPartyListEBM"/>
    </message>
    <message name="FaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="Fault" element="corecom:Fault"/>
    </message>
    <message name="SyncCustomerPartyListRespMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the response payload to the SyncCustomerPartyList operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="SyncCustomerPartyListResponseEBM" element="custebo:SyncCustomerPartyListResponseEBM"/>
    </message>
    <portType name="SyncCustomerPartyListBRMCommsProvABCSImpl">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains the BRM ABCS implementation of the SyncCustomerPartyList EBS service</svcdoc:Description>
                <svcdoc:DisplayName>SyncCustomerPartyList BRM ABCS Implementation Interface</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="SyncCustomerPartyList">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to update a CustomerParty object</svcdoc:Description>
                    <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>SyncCustomerPartyList</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="client:SyncCustomerPartyListReqMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="SyncCustomerPartyListBRMCommsProvABCSImpl">
        <plnk:role name="SyncCustomerPartyListBRMCommsProvABCSImplProvider">
            <plnk:portType name="client:SyncCustomerPartyListBRMCommsProvABCSImpl"/>
        </plnk:role>
        <plnk:role name="SyncCustomerPartyListBRMCommsProvABCSImplRequester">
            <plnk:portType name="client:SyncCustomerPartyListBRMCommsProvABCSImplCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
