AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/OSM/V1/schemas/commonWS.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--

 Copyright (c) 2007, 2016, Oracle and/or its affiliates. All rights reserved.
    
-->
<xsd:schema targetNamespace="http://xmlns.oracle.com/communications/ordermanagement"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:osm="http://xmlns.oracle.com/communications/ordermanagement">

	<xsd:simpleType name="EntityIdType">
		<xsd:annotation>
			<xsd:documentation> An id of an entity within the instance of the Provisioning
				application.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EntityNumberType">
		<xsd:annotation>
			<xsd:documentation>An string that uniquely identifies an Entity in the system. This string 
				is generated by an external system and it is the customer who needs to ensure that it 
				is unique.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>

	<xsd:simpleType name="EntityNameType">
		<xsd:restriction base="xsd:NCName">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="DateRangeType">
		<xsd:annotation>
			<xsd:documentation>Specifies a date range.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FromDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="ToDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
