AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/Siebel/V1/ProviderABCS/SyncBillOfMaterialsListSiebelProvABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="SyncBillOfMaterialsListSiebelProvABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Core/SyncBillOfMaterialsListSiebelProvABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:swiprodprom="http://www.siebel.com/xml/SWIPromotionIntegrationIO"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:ns1="http://schemas.oracle.com/service/bpel/common"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:coreitem="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/BillOfMaterials/V1"
     xmlns:client="http://xmlns.oracle.com/ABCSImpl/Siebel/Core/SyncBillOfMaterialsListSiebelProvABCSImpl/V1"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>Siebel Provider ABCS Implementation to sync Bill
                                Of Materials</svcdoc:Description>
            <svcdoc:ServiceType>ProviderABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>SyncBillOfMaterialsListSiebelProvABCSImpl</svcdoc:DisplayName>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:EBOName>BillOfMaterialsEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SIA</svcdoc:ProductCode>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/BillOfMaterials/V1" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/EBO/BillOfMaterials/V1/BillOfMaterialsEBM.xsd"/>
       	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
            <xsd:import namespace="http://www.siebel.com/xml/SWIPromotionIntegrationIO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/SWIPromotionIntegrationIO.xsd"/>
        </xsd:schema>
    </types>
    <message name="SyncBillOfMaterialsListReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>Siebel BillOfMaterials Request EBM</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="SyncBillOfMaterialsListEBM" element="coreitem:SyncBillOfMaterialsListEBM"/>
    </message>
    <message name="FaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>Siebel BillOfMaterials Fault</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="AIAFault" element="corecom:Fault"/>
    </message>
    <message name="SyncBillOfMaterialsListRespMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>Siebel BillOfMaterials Response EBM</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="SyncBillOfMaterialsListResponseEBM" element="coreitem:SyncBillOfMaterialsListResponseEBM"/>
    </message>
    <message name="SiebelPromotionListABM">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>Siebel Promotion Request ABM</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="ListOfSwipromotionIntegrationio" element="swiprodprom:ListOfSwipromotionIntegrationio"/>
    </message>
    <portType name="SyncBillOfMaterialsListSiebelProvABCSImplService">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains the operations to
                                    Sync the Complex Product object</svcdoc:Description>
                <svcdoc:DisplayName>SyncBillOfMaterialsListSiebelProvABCSImpl</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="SyncBillOfMaterials">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is for Syncing Complex
                                        Product into Siebel</svcdoc:Description>
                    <svcdoc:MEP>REQUEST_ONLY</svcdoc:MEP>
                    <svcdoc:DisplayName>SyncComplexProduct</svcdoc:DisplayName>
                    <svcdoc:Status>Active</svcdoc:Status>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="client:SyncBillOfMaterialsListReqMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="SyncBillOfMaterialsListSiebelProvABCSImpl">
        <plnk:role name="SyncBillOfMaterialsListSiebelProvABCSImplProvider">
            <plnk:portType name="client:SyncBillOfMaterialsListSiebelProvABCSImplService"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
