AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/PIM/V1/QueryClassificationListPIMCommsProvABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="QueryClassificationListPIMCommsProvABCSImplExtension"
                  targetNamespace="http://xmlns.oracle.com/ABCSImpl/PIM/Industry/Comms/QueryClassificationListPIMCommsProvABCSImplExtension/V1"
                  xmlns:tns="http://xmlns.oracle.com/ABCSImpl/PIM/Industry/Comms/QueryClassificationListPIMCommsProvABCSImplExtension/V1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
                  xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
                  xmlns:commsclassificationlistebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Classification/V1"
                  xmlns:pimxsd="http://xmlns.oracle.com/ItemCatalogCategorySvc" 
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
   <wsdl:documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains operations that would be used by the participating application to interact with the external systems</svcdoc:Description>
         <svcdoc:TargetServiceType>ABCSExtension</svcdoc:TargetServiceType>
         <svcdoc:DisplayName>QueryClassificationListPIMCommsProvABCSImpl Provider ABCS Extention Implementation Interface</svcdoc:DisplayName>
         <svcdoc:ServiceObjectName>QueryClassificationList</svcdoc:ServiceObjectName>
         <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         <svcdoc:Version>1.0</svcdoc:Version>
         <svcdoc:EBOName>ClassificationEBO</svcdoc:EBOName>
         <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
         <svcdoc:ProductFamily>ERP</svcdoc:ProductFamily>
         <svcdoc:ProductPillar>MDMPRODUCT</svcdoc:ProductPillar>
         <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/PIM/Industry/Comms/QueryClassificationListPIMCommsProvABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Classification/V1"  schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/Classification/V1/ClassificationEBM.xsd"/>
         <xsd:import namespace="http://xmlns.oracle.com/ItemCatalogCategorySvc" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/PIM/V1/schemas/ItemCatalogCategorySvc.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="PreXformEBMtoABMClassificationListABMMsg">
      <wsdl:documentation>
         <svcdoc:message>
            <svcdoc:Description>This message is used as a payload to PreXformEBMtoABMClassificationListEBM operation</svcdoc:Description>
         </svcdoc:message>
      </wsdl:documentation>
      <wsdl:part name="QueryClassificationListEBM" element="commsclassificationlistebo:QueryClassificationListEBM"/>
   </wsdl:message>
   <wsdl:message name="PostXformABMtoEBMClassificationListEBMMsg">
      <wsdl:documentation>
         <svcdoc:message>
            <svcdoc:Description>This message is used as a payload to PostXformABMtoEBMClassificationListEBM operation</svcdoc:Description>
         </svcdoc:message>
      </wsdl:documentation>
      <wsdl:part name="QueryClassificationListRespEBM" element="commsclassificationlistebo:QueryClassificationListResponseEBM"/>
   </wsdl:message>
   <wsdl:message name="PreInvokeEBMtoABMICCListABMMsg">
      <wsdl:documentation>
         <svcdoc:message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBMtoABMICCListABM operation</svcdoc:Description>
         </svcdoc:message>
      </wsdl:documentation>
      <wsdl:part name="QueryICCABM" element="pimxsd:IccQueryIn"/>
   </wsdl:message>
   <wsdl:message name="PostInvokeABMtoEBMICCListEBMMsg">
      <wsdl:documentation>
         <svcdoc:message>
            <svcdoc:Description>This message is used as a payload to PostInvokeABMtoEBMICCListEBM operation</svcdoc:Description>
         </svcdoc:message>
      </wsdl:documentation>
      <wsdl:part name="QueryICCRespABM" element="pimxsd:IccQueryOut"/>
   </wsdl:message>
   <wsdl:message name="FaultMessage">
      <wsdl:documentation>
         <svcdoc:message>
            <svcdoc:Description>This message is used for propagating Error Context and Error Message</svcdoc:Description>
         </svcdoc:message>
      </wsdl:documentation>
      <wsdl:part name="AIAFault" element="corecom:Fault"/>
   </wsdl:message>
   <wsdl:portType name="QueryClassificationListPIMCommsProvABCSImplExtensionService">
      <wsdl:documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>QueryClassificationListPIMCommsProvABCSImplExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </wsdl:documentation>
      <wsdl:operation name="PreXformEBMtoABMClassificationListABM">
         <wsdl:documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM a ListOfICCs</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMClassificationListABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </wsdl:documentation>
         <wsdl:input message="tns:PreXformEBMtoABMClassificationListABMMsg"/>
         <wsdl:output message="tns:PreXformEBMtoABMClassificationListABMMsg"/>
         <wsdl:fault name="fault" message="tns:FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="PostXformABMtoEBMClassificationListEBM">
         <wsdl:documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to Post Process ABM an ListOfICCs</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostXformABMtoEBMClassificationListEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </wsdl:documentation>
         <wsdl:input message="tns:PostXformABMtoEBMClassificationListEBMMsg"/>
         <wsdl:output message="tns:PostXformABMtoEBMClassificationListEBMMsg"/>
         <wsdl:fault name="fault" message="tns:FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="PreInvokeEBMtoABMICCListABM">
         <wsdl:documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostInvokeClassificationSchemeEBS an PreXformEBMtoABMItemCatalogCategoryABM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMItemCatalogCategoryABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </wsdl:documentation>
         <wsdl:input message="tns:PreInvokeEBMtoABMICCListABMMsg"/>
         <wsdl:output message="tns:PreInvokeEBMtoABMICCListABMMsg"/>
         <wsdl:fault name="fault" message="tns:FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="PostInvokeABMtoEBMICCListEBM">
         <wsdl:documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to ClassificationSchemePreProcessEBM an ListOfICCs</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>ClassificationSchemePreProcessEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </wsdl:documentation>
         <wsdl:input message="tns:PostInvokeABMtoEBMICCListEBMMsg"/>
         <wsdl:output message="tns:PostInvokeABMtoEBMICCListEBMMsg"/>
         <wsdl:fault name="fault" message="tns:FaultMessage"/>
      </wsdl:operation>
   </wsdl:portType>

   <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
   <plnk:partnerLinkType name="QueryClassificationListPIMCommsProvABCSImplExtensionService">
      <plnk:role name="QueryClassificationListPIMCommsProvABCSImplExtensionServiceProvider">
         <plnk:portType name="tns:QueryClassificationListPIMCommsProvABCSImplExtensionService"/>
      </plnk:role>
   </plnk:partnerLinkType>
   <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	BINDING
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
   <wsdl:binding name="QueryClassificationListPIMCommsProvABCSImplExtensionService_Binding" type="tns:QueryClassificationListPIMCommsProvABCSImplExtensionService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="PreXformEBMtoABMClassificationListABM">
          <soap:operation soapAction="mirror" style="document" />
         <wsdl:input><soap:body use="literal" /></wsdl:input>
         <wsdl:output><soap:body use="literal" /></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PostXformABMtoEBMClassificationListEBM">
          <soap:operation soapAction="mirror" style="document" />
         <wsdl:input><soap:body use="literal" /></wsdl:input>
         <wsdl:output><soap:body use="literal" /></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PreInvokeEBMtoABMICCListABM">
          <soap:operation soapAction="mirror" style="document" />
         <wsdl:input><soap:body use="literal" /></wsdl:input>
         <wsdl:output><soap:body use="literal" /></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PostInvokeABMtoEBMICCListEBM">
          <soap:operation soapAction="mirror" style="document" />
         <wsdl:input><soap:body use="literal" /></wsdl:input>
         <wsdl:output><soap:body use="literal" /></wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="mirrorAnyService">
      <wsdl:port name="QueryClassificationListPIMCommsProvABCSImplExtensionService" 
            binding="tns:QueryClassificationListPIMCommsProvABCSImplExtensionService_Binding">
         <soap:address location="http://kanlddev639a.us.oracle.com:8001/MirrorServlet/mirror" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
 
