AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/DEVAIA_XREF_P_MULTI_SCHEMA_UPDATE.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/DEVAIA_XREF/P_MULTI_SCHEMA_UPDATE/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/DEVAIA_XREF/P_MULTI_SCHEMA_UPDATE/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="IN_BATCH_ID" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="IN_CUSTOM_TABLE_NAMES" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
