AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_PRICE_COMMIT_DISCOUNT.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:op="http://www.portal.com/schemas/BusinessOpcodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!--Copyright (c) 2007 Oracle. All rights reserved.

        This material is the confidential property of Oracle Corporation or
        its licensors and may be used, reproduced, stored or transmitted only
        in accordance with a valid Oracle license or sublicense agreement.-->
   <xsd:element name="PCM_OP_PRICE_COMMIT_DISCOUNT_inputFlist">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DISCOUNTS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="DISCOUNTS_ARRAY_PCM_OP_PRICE_COMMIT_DISCOUNT_1213">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(discount)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PROGRAM_NAME" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="DISCOUNTS_ARRAY_PCM_OP_PRICE_COMMIT_DISCOUNT_1213">
      <xsd:sequence>
         <xsd:element name="DELETED_FLAG" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1023"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DISCOUNT_CYCLE_VALIDITY" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DISCOUNT_CYCLE_VALIDITY_ARRAY_PCM_OP_PRICE_COMMIT_DISCOUNT_1213216">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="DISCOUNT_USAGE_VALIDITY" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DISCOUNT_USAGE_VALIDITY_ARRAY_PCM_OP_PRICE_COMMIT_DISCOUNT_1213217">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="END_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="MODE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="801,802,803"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="NAME" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OWN_MAX" type="UNION_PCM_OP_PRICE_COMMIT_DISCOUNT" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="OWN_MIN" type="UNION_PCM_OP_PRICE_COMMIT_DISCOUNT" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="PERMITTED" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PRIORITY" type="UNION_PCM_OP_PRICE_COMMIT_DISCOUNT" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="PROVISIONING_TAG" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PURCHASE_MAX" type="UNION_PCM_OP_PRICE_COMMIT_DISCOUNT" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="PURCHASE_MIN" type="UNION_PCM_OP_PRICE_COMMIT_DISCOUNT" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="START_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="TYPE" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="601,602,603"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="USAGE_MAP" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="USAGE_MAP_ARRAY_PCM_OP_PRICE_COMMIT_DISCOUNT_1213215">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="USAGE_MAP_ARRAY_PCM_OP_PRICE_COMMIT_DISCOUNT_1213215">
      <xsd:sequence>
         <xsd:element name="DISCOUNT_MODEL" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EVENT_TYPE" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MODEL_SELECTOR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="SNOWBALL_FLAG" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DISCOUNT_CYCLE_VALIDITY_ARRAY_PCM_OP_PRICE_COMMIT_DISCOUNT_1213216">
      <xsd:sequence>
         <xsd:element name="DISCOUNT_FLAGS" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1,2,3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DISCOUNT_USAGE_VALIDITY_ARRAY_PCM_OP_PRICE_COMMIT_DISCOUNT_1213217">
      <xsd:sequence>
         <xsd:element name="DISCOUNT_FLAGS" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1,2,3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="PCM_OP_PRICE_COMMIT_DISCOUNT_outputFlist">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="1023"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(discount)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RESULT" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="0,1 "/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RESULT_FORMAT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="BUFFER_PCM_OP_PRICE_COMMIT_DISCOUNT">
      <xsd:simpleContent>
         <xsd:extension base="xsd:hexBinary">
            <xsd:attribute name="flags" type="xsd:string" use="optional"/>
            <xsd:attribute name="size" type="xsd:string" use="optional"/>
            <xsd:attribute name="offset" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="EMPTY_PCM_OP_PRICE_COMMIT_DISCOUNT">
      <xsd:restriction base="xsd:string">
         <xsd:length value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UNION_PCM_OP_PRICE_COMMIT_DISCOUNT">
      <xsd:union memberTypes="xsd:decimal EMPTY_PCM_OP_PRICE_COMMIT_DISCOUNT"/>
   </xsd:simpleType>
</xsd:schema>