AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/ProcessFulfillmentOrderBillingBRMCommsSubprocess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Rohit Agarwal (Siebel Systems) -->
<!--
	
-->
<!-- ====================================================================== -->
<!-- =====                  ===== -->
<!-- ====================================================================== -->
<xsd:schema xmlns="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://schemas.oracle.com/service/bpel/common" 
xmlns:sordebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1" 
targetNamespace="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
	<!-- ====================================================================== -->
	<!-- =====      Imports and Includes                                                                                 ===== -->
	<!-- ====================================================================== -->
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1" schemaLocation="../../../../EnterpriseObjectLibrary/Industry/Communications/EBO/FulfillmentOrder/V1/FulfillmentOrderEBM.xsd"/>
	<xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="../../../../UtilityArtifacts/bpel-common.xsd"/>
	<!-- -->
	<xsd:element name="ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage" type="ProcessFulfillmentOrderBillingBRMCommsSubprocessMessageType"/>
	<xsd:complexType name="ProcessFulfillmentOrderBillingBRMCommsSubprocessMessageType">
		<xsd:sequence>
			<xsd:element ref="sordebo:ProcessFulfillmentOrderBillingEBM"/>
         <xsd:element name="XREF_Delete" type="com:ArrayOfNameValuePairType"/>
         <xsd:element name="XREF_Populate" type="com:ArrayOfNameValuePairType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
