AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/Siebel/V2/ProviderABCS/QueryCustomerPartyListSiebelProvABCSImpl.wsdl

<definitions
     name="QueryCustomerPartyListSiebelProvABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Core/QueryCustomerPartyListSiebelProvABCSImpl/V2"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
	 xmlns:fault="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:ns1="http://schemas.xmlsoap.org/ws/2003/03/addressing"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:abcsimplsiebelcust="http://xmlns.oracle.com/ABCSImpl/Siebel/Core/QueryCustomerPartyListSiebelProvABCSImpl/V2"
     xmlns:custebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2">
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>Siebel Provider ABCS Implementation for Query Customer Party List</svcdoc:Description>
            <svcdoc:ServiceType>ProviderABCSImplementation</svcdoc:ServiceType>
            <svcdoc:DisplayName>Query Customer Party List Siebel Provider ABCS Implementation</svcdoc:DisplayName>
            <svcdoc:Version>2.0</svcdoc:Version>
            <svcdoc:EBOName>CustomerPartyEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>CMU</svcdoc:ProductCode>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/EBO/CustomerParty/V2/CustomerPartyEBM.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" 
                schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
            <import namespace="http://schemas.oracle.com/service/bpel/common"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </schema>
    </types>
    <message name="QueryCustomerPartyListRequestMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the request payload to the
                        QueryCustomerPartyList operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryCustomerPartyListEBM" element="custebo:QueryCustomerPartyListEBM"/>
    </message>
    <message name="QueryCustomerPartyListResponseMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the response payload to the
                        QueryCustomerPartyList operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QueryCustomerPartyListResponseEBM" element="custebo:QueryCustomerPartyListResponseEBM"/>
    </message>
    <message name="FaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="AIAFault" element="fault:Fault"/>
    </message>
    <portType name="QueryCustomerPartyListSiebelProvABCSImplService">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains the Siebel ABCS implementation
                        of the QueryCustomerPartyList EBS service</svcdoc:Description>
                <svcdoc:DisplayName>QueryCustomerPartyList Siebel ABCS Implementation Interface</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="QueryCustomerPartyList">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to query for a list of CustomerParty objects</svcdoc:Description>
                    <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>QueryCustomerPartyList</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplsiebelcust:QueryCustomerPartyListRequestMsg"/>
            <output message="abcsimplsiebelcust:QueryCustomerPartyListResponseMsg"/>
            <fault name="fault" message="abcsimplsiebelcust:FaultMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="QueryCustomerPartyListSiebelProvABCSImpl">
        <plnk:role name="QueryCustomerPartyListSiebelProvABCSImplProvider">
            <plnk:portType name="abcsimplsiebelcust:QueryCustomerPartyListSiebelProvABCSImplService"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
