AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:instprodebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/InstalledProduct/V2" xmlns:commsinstprod="http://xmlns.oracle.com/EnterpriseServices/Core/InstalledProduct/V2" xmlns:sbldataabo="http://www.siebel.com/xml/SWISpecialRatingListIO" xmlns:sbldataext="http://xmlns.oracle.com/ABCSImpl/Siebel/ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplExtension1" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
         <svcdoc:ServiceType>RequesterABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImpl Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>ProcessInstalledProductSpecialRatingSetList</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology><!-- PLACEHOLDER--></svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://www.siebel.com/xml/SWISpecialRatingListIO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/SWISpecialRatingListIO.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/InstalledProduct/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/InstalledProduct/V2/InstalledProductEBM.xsd" />
	  <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
      </xsd:schema>
   </types>
   <message name="PreXformABMtoEBMInstalledProductSpecialRatingSetListMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformABMtoEBMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="ProcessInstalledProductSpecialRatingSetListABM" element="sbldataabo:ListOfSWISpecialRatingListIO" />
   </message>
	<message name="PreInvokeEBSProcessInstalledProductReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="ProcessInstalledProductSpecialRatingSetListEBM" element="instprodebo:ProcessInstalledProductSpecialRatingSetListEBM" />
   </message>

   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplV1ExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>ProcessSalesOrderSiebelReqABCSImplV2ExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformABMtoEBMInstalledProductSpecialRatingSetListABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="sbldataext:PreXformABMtoEBMInstalledProductSpecialRatingSetListMsg" />
         <output message="sbldataext:PreXformABMtoEBMInstalledProductSpecialRatingSetListMsg" />
         <fault name="fault" message="sbldataext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeEBSInstalledProductEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="sbldataext:PreInvokeEBSProcessInstalledProductReqMsg" />
         <output message="sbldataext:PreInvokeEBSProcessInstalledProductReqMsg" />
         <fault name="fault" message="sbldataext:FaultMessage" />
      </operation>
   </portType>
   <plnk:partnerLinkType name="ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplV1ExtensionService">
      <plnk:role name="ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplV1ExtensionServiceProvider">
         <plnk:portType name="sbldataext:ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplV1ExtensionService"/>
      </plnk:role>
   </plnk:partnerLinkType>
   <binding name="ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplV1ExtensionService_Binding"
            type="sbldataext:ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplV1ExtensionService">
      <soap:binding style="document"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="PreXformABMtoEBMInstalledProductSpecialRatingSetListABM">
         <soap:operation style="document" soapAction="mirror"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="fault">
            <soap:fault name="fault" use="literal" encodingStyle=""/>
         </fault>
      </operation>
      <operation name="PreInvokeEBSInstalledProductEBM">
         <soap:operation style="document" soapAction="mirror"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="fault">
            <soap:fault name="fault" use="literal" encodingStyle=""/>
         </fault>
      </operation>
    </binding>
	<service name="mirrorAnyService">
		<port name="ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplV1ExtensionService" binding="sbldataext:ProcessInstalledProductSpecialRatingSetListSiebelCommsReqABCSImplV1ExtensionService_Binding">
			<soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" /> 
		</port>
  </service>
</definitions>
