AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:commsinvoice="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Invoice/V2" xmlns:commsinvoiceebs="http://xmlns.oracle.com/EnterpriseServices/Core/Invoice/V2" xmlns:commsinvoiceebsfault="http://xmlns.oracle.com/EnterpriseServices/Core/Invoice/V2" xmlns:abcsimplsiebelinvevntdtlreqabo="http://www.siebel.com/xml/CMU%20Request%20CDR%20Details%20IO" xmlns:abcsimplsiebelinvevntdtlrespabo="http://www.siebel.com/xml/CMU%20Response%20CDR%20Details%20IO" xmlns:abcsimplsiebelinvevntdtlreqext="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtension/V1" xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtension1" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that would be used to view Invoice Event Details (CDR records) in CRM app</svcdoc:Description>
         <svcdoc:ServiceType>RequesterABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>QueryInvoiceEventDetailsSiebelCommsReqABCSImpl Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>QueryInvoiceEventDetails</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Request%20CDR%20Details%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestCdrDetailsIo.xsd" />
           <xsd:import namespace="http://www.siebel.com/xml/CMU%20Response%20CDR%20Details%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseCdrDetailsIo.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Invoice/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/Invoice/V2/InvoiceEBM.xsd" />
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd" />
        <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd" />
      </xsd:schema>
   </types>
   <message name="PreXformABMtoEBMInvoiceEventDetailsMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformABMtoEBMInvoiceEventDetailsABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceEventDetailsABM" element="abcsimplsiebelinvevntdtlreqabo:ListOfCmuRequestCdrDetailsIo" />
   </message>
  <message name="PostXformABMtoEBMInvoiceEventDetailsMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformABMtoEBMInvoiceEventDetailsABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceEventDetailsABM" element="abcsimplsiebelinvevntdtlrespabo:ListOfCmuResponseCdrDetailsIo" />
   </message>
	<message name="PreInvokeEBSQueryCommsInvoiceReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBS QueryInvoiceEventDetails operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceListEBM" element="commsinvoice:QueryInvoiceListEBM" />
   </message>

	<message name="PostInvokeEBSQueryCommsInvoiceReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostInvokeEBS QueryInvoiceEventDetails operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceListResponseEBM" element="commsinvoice:QueryInvoiceListResponseEBM" />
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformABMtoEBMInvoiceEventDetailsABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an CmuRequestCdrDetailsIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvevntdtlreqext:PreXformABMtoEBMInvoiceEventDetailsMsg" />
         <output message="abcsimplsiebelinvevntdtlreqext:PreXformABMtoEBMInvoiceEventDetailsMsg" />
         <fault name="fault" message="abcsimplsiebelinvevntdtlreqext:FaultMessage" />
      </operation>
	<operation name="PostXformABMtoEBMInvoiceEventDetailsABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostXformEBMtoABM an CmuResponeCdrDetailsIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvevntdtlreqext:PostXformABMtoEBMInvoiceEventDetailsMsg" />
         <output message="abcsimplsiebelinvevntdtlreqext:PostXformABMtoEBMInvoiceEventDetailsMsg" />
         <fault name="fault" message="abcsimplsiebelinvevntdtlreqext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeEBSCommsInvoiceEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an QueryInvoiceListEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvevntdtlreqext:PreInvokeEBSQueryCommsInvoiceReqMsg" />
         <output message="abcsimplsiebelinvevntdtlreqext:PreInvokeEBSQueryCommsInvoiceReqMsg" />
         <fault name="fault" message="abcsimplsiebelinvevntdtlreqext:FaultMessage" />
      </operation>
	<operation name="PostInvokeEBSCommsInvoiceEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostInvokeEBS an QueryInvoiceListResponseEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvevntdtlreqext:PostInvokeEBSQueryCommsInvoiceReqMsg" />
         <output message="abcsimplsiebelinvevntdtlreqext:PostInvokeEBSQueryCommsInvoiceReqMsg" />
         <fault name="fault" message="abcsimplsiebelinvevntdtlreqext:FaultMessage" />
      </operation>
   </portType>

    <binding name="QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionServiceBinding" type="abcsimplsiebelinvevntdtlreqext:QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformABMtoEBMInvoiceEventDetailsABM">
            <soap:operation style="document" soapAction="PreXformABMtoEBMInvoiceEventDetailsABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		<operation name="PostXformABMtoEBMInvoiceEventDetailsABM">
            <soap:operation style="document" soapAction="PostXformABMtoEBMInvoiceEventDetailsABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeEBSCommsInvoiceEBM">
            <soap:operation style="document" soapAction="PreInvokeEBSCommsInvoiceEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
	    <operation name="PostInvokeEBSCommsInvoiceEBM">
            <soap:operation style="document" soapAction="PostInvokeEBSCommsInvoiceEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
    </binding>
   <service name="QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtension">
        <port name="QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionServicePort" binding="abcsimplsiebelinvevntdtlreqext:QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
   
   
   
   <plnk:partnerLinkType name="QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionService">
      <plnk:role name="QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionServiceProvider">
         <plnk:portType name="abcsimplsiebelinvevntdtlreqext:QueryInvoiceEventDetailsSiebelCommsReqABCSImplExtensionService" />
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
