AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/QuerySpecificationListSiebelCommsProvABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="QuerySpecificationListSiebelCommsProvABCSImplExtension"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QuerySpecificationListSiebelCommsProvABCSImplExtension/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:abcsimplcommsspecificationlistext="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QuerySpecificationListSiebelCommsProvABCSImplExtension/V1"
     xmlns:sblasi="http://siebel.com/asi/"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:commsspecificationlistebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Specification/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V2"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:sblISSattr="http://www.siebel.com/xml/SWIAdminISSAttributeDefnIO"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
            <svcdoc:ServiceType>ProviderABCSExtension</svcdoc:ServiceType>
            <svcdoc:DisplayName>QuerySpecificationListSiebelCommsProvABCSImpl Provider ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
            <svcdoc:ServiceObjectName>QuerySpecificationList</svcdoc:ServiceObjectName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology/>
            <svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://www.siebel.com/xml/SWIAdminISSAttributeDefnIO" location="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/wsdls/SWIAdminISSAttributeDefnIO.wsdl"/>
    <types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QuerySpecificationListSiebelCommsProvABCSImplExtension/V1"
             elementFormDefault="qualified">
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Specification/V1"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/Specification/V1/SpecificationEBM.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
        </xsd:schema>
    </types>
    <message name="PreXformEBMtoABMSpecificationListMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as a payload to PreXformEBMtoABMABM operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QuerySpecificationListEBM" element="commsspecificationlistebo:QuerySpecificationListEBM"/>
    </message>
    <message name="FaultMessage">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="AIAFault" element="corecom:Fault"/>
    </message>
    <message name="PostXformABMtoEBMSpecificationListMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as a payload to PostXformEBMtoABMABM operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="QuerySpecificationListEBM" element="commsspecificationlistebo:QuerySpecificationListResponseEBM"/>
    </message>
    <message name="PreInvokeABSQueryAttributeQueryByExample_InputReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="AttributeDefinitionQueryByExample_Input" element="sblasi:AttributeDefinitionQueryByExample_Input"/>
    </message>
    <message name="PostInvokeABSQueryAttributeQueryByExample_InputReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="AttributeDefinitionQueryByExample_Output" element="sblasi:AttributeDefinitionQueryByExample_Output"/>
    </message>
    <portType name="QuerySpecificationListSiebelCommsProvABCSImplExtensionService">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
                <svcdoc:DisplayName>ProcessSalesOrderSiebelProvABCSImplV2ExtensionService</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="PreXformEBMtoABMSpecificationListEBM">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
                    <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplcommsspecificationlistext:PreXformEBMtoABMSpecificationListMsg"/>
            <output message="abcsimplcommsspecificationlistext:PreXformEBMtoABMSpecificationListMsg"/>
            <fault name="fault" message="abcsimplcommsspecificationlistext:FaultMessage"/>
        </operation>
        <operation name="PostXformABMtoEBMSpecificationListEBM">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
                    <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplcommsspecificationlistext:PostXformABMtoEBMSpecificationListMsg"/>
            <output message="abcsimplcommsspecificationlistext:PostXformABMtoEBMSpecificationListMsg"/>
            <fault name="fault" message="abcsimplcommsspecificationlistext:FaultMessage"/>
        </operation>
        <operation name="PreInvokeABSAttributeQueryByExample_InputABM">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
                    <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplcommsspecificationlistext:PreInvokeABSQueryAttributeQueryByExample_InputReqMsg"/>
            <output message="abcsimplcommsspecificationlistext:PreInvokeABSQueryAttributeQueryByExample_InputReqMsg"/>
            <fault name="fault" message="abcsimplcommsspecificationlistext:FaultMessage"/>
        </operation>
        <operation name="PostInvokeABSAttributeQueryByExample_InputABM">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
                    <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="abcsimplcommsspecificationlistext:PostInvokeABSQueryAttributeQueryByExample_InputReqMsg"/>
            <output message="abcsimplcommsspecificationlistext:PostInvokeABSQueryAttributeQueryByExample_InputReqMsg"/>
            <fault name="fault" message="abcsimplcommsspecificationlistext:FaultMessage"/>
        </operation>
    </portType>
   
   
   <binding name="QuerySpecificationListSiebelCommsProvABCSImplExtensionServiceBinding" type="abcsimplcommsspecificationlistext:QuerySpecificationListSiebelCommsProvABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformEBMtoABMSpecificationListEBM">
            <soap:operation style="document" soapAction="PreXformEBMtoABMSpecificationListEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostXformABMtoEBMSpecificationListEBM">
            <soap:operation style="document" soapAction="PostXformABMtoEBMSpecificationListEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		 <operation name="PreInvokeABSAttributeQueryByExample_InputABM">
            <soap:operation style="document" soapAction="PreInvokeABSAttributeQueryByExample_InputABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		 <operation name="PostInvokeABSAttributeQueryByExample_InputABM">
            <soap:operation style="document" soapAction="PostInvokeABSAttributeQueryByExample_InputABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
	
    </binding>  
   <service name="QuerySpecificationListSiebelCommsProvABCSImplExtension">
        <port name="QuerySpecificationListSiebelCommsProvABCSImplExtensionServicePort" binding="abcsimplcommsspecificationlistext:QuerySpecificationListSiebelCommsProvABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
   
   
   
   <plnk:partnerLinkType name="QuerySpecificationListSiebelCommsProvABCSImplExtensionService">
      <plnk:role name="QuerySpecificationListSiebelCommsProvABCSImplExtensionServiceProvider">
         <plnk:portType name="abcsimplcommsspecificationlistext:QuerySpecificationListSiebelCommsProvABCSImplExtensionService"/>
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
