AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:commsadj="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/AccountBalanceAdjustment/V2" xmlns:commsadjebs="http://xmlns.oracle.com/EnterpriseServices/Core/AccountBalanceAdjustment/V2" xmlns:adjebsfault="http://xmlns.oracle.com/EnterpriseServices/Core/CustomerParty/V2" xmlns:commsadjext="http://xmlns.oracle.com/ABCSImpl/Siebel/QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplExtension/V1" xmlns:commsadjrespabo="http://www.siebel.com/xml/CMU%20Response%20Billed%20Usage%20AR%20Items%20IO" xmlns:commsadjabo="http://www.siebel.com/xml/CMU%20Request%20Billed%20Usage%20IO" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplExtension1" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
         <svcdoc:ServiceType>RequesterABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>QueryAccountBalanceAdjustmentSiebelCommsReqABCSImpl/V1 Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>QueryAccountBalanceAdjustment</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology><!-- PLACEHOLDER--></svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplExtension/V1" elementFormDefault="qualified">
          <xsd:import namespace="http://www.siebel.com/xml/CMU%20Request%20Billed%20Usage%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBilledUsageIo.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/AccountBalanceAdjustment/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/AccountBalanceAdjustment/V2/AccountBalanceAdjustmentEBM.xsd" />
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd" />
       <xsd:import namespace="http://www.siebel.com/xml/CMU%20Response%20Billed%20Usage%20AR%20Items%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseBilledUsageArItemsIo.xsd" />
      </xsd:schema>
   </types>
   <message name="PreXformABMtoEBMAccountBalanceAdjustmentMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformABMtoEBMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryAccountBalanceAdjustmentABM" element="commsadjabo:ListOfCmuRequestBilledUsageIo" />
   </message>
  <message name="PostXformABMtoEBMAccountBalanceAdjustmentMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformABMtoEBMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryAccountBalanceAdjustmentABM" element="commsadjrespabo:ListOfCmuResponseBilledUsageArItemsIo" />
   </message>
	<message name="PreInvokeEBSQueryAccountBalanceAdjustmentReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryAccountBalanceAdjustmentListEBM" element="commsadj:QueryAccountBalanceAdjustmentListEBM" />
   </message>

	<message name="PostInvokeEBSQueryAccountBalanceAdjustmentReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryAccountBalanceAdjustmentListResponseEBM" element="commsadj:QueryAccountBalanceAdjustmentListResponseEBM" />
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplV1ExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>ProcessSalesOrderSiebelReqABCSImplV2ExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformABMtoEBMAccountBalanceAdjustmentABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PreXformABMtoEBMAccountBalanceAdjustmentMsg" />
         <output message="commsadjext:PreXformABMtoEBMAccountBalanceAdjustmentMsg" />
         <fault name="fault" message="commsadjext:FaultMessage" />
      </operation>
	<operation name="PostXformABMtoEBMAccountBalanceAdjustmentABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PostXformABMtoEBMAccountBalanceAdjustmentMsg" />
         <output message="commsadjext:PostXformABMtoEBMAccountBalanceAdjustmentMsg" />
         <fault name="fault" message="commsadjext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeEBSAccountBalanceAdjustmentEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PreInvokeEBSQueryAccountBalanceAdjustmentReqMsg" />
         <output message="commsadjext:PreInvokeEBSQueryAccountBalanceAdjustmentReqMsg" />
         <fault name="fault" message="commsadjext:FaultMessage" />
      </operation>
	<operation name="PostInvokeEBSAccountBalanceAdjustmentEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PostInvokeEBSQueryAccountBalanceAdjustmentReqMsg" />
         <output message="commsadjext:PostInvokeEBSQueryAccountBalanceAdjustmentReqMsg" />
         <fault name="fault" message="commsadjext:FaultMessage" />
      </operation>
   </portType>
   <plnk:partnerLinkType name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplV1ExtensionService">
      <plnk:role name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplV1ExtensionServiceProvider">
         <plnk:portType name="commsadjext:QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplV1ExtensionService" />
      </plnk:role>
   </plnk:partnerLinkType>
   
   


   <binding name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplExtensionServiceBinding" type="commsadjext:QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplV1ExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformABMtoEBMAccountBalanceAdjustmentABM">
            <soap:operation style="document" soapAction="PreXformABMtoEBMAccountBalanceAdjustmentABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostXformABMtoEBMAccountBalanceAdjustmentABM">
            <soap:operation style="document" soapAction="PostXformABMtoEBMAccountBalanceAdjustmentABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeEBSAccountBalanceAdjustmentEBM">
            <soap:operation style="document" soapAction="PreInvokeEBSAccountBalanceAdjustmentEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostInvokeEBSAccountBalanceAdjustmentEBM">
            <soap:operation style="document" soapAction="PostInvokeEBSAccountBalanceAdjustmentEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>

   </binding>  
      <service name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplExtension">
        <port name="QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplExtensionServicePort" binding="commsadjext:QueryAccountBalanceAdjustmentSiebelCommsReqABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
</definitions>
