AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/QueryBalanceSummarySiebelCommsReqABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:commscustparty="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2" xmlns:commscustpartyebs="http://xmlns.oracle.com/EnterpriseServices/Core/CustomerParty/V2" xmlns:commscustpartyebsfault="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:abcsimplsiebelbalsumryabo="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO" xmlns:abcsimplsiebelbalsumryrespabo="http://www.siebel.com/xml/CMU%20Balance%20Summary%20Response%20IO" xmlns:abcsimplsiebelbalsumryext="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryBalanceSummarySiebelCommsReqABCSImplExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryBalanceSummarySiebelCommsReqABCSImplExtension" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryBalanceSummarySiebelCommsReqABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that would be used to query the Balance Summary of an account, from the billing system</svcdoc:Description>
         <svcdoc:ServiceType>RequesterABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>QueryBalanceSummarySiebelCommsReqABCSImpl Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>CustomerPartyEBO</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryBalanceSummarySiebelCommsReqABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBillingProfileIo.xsd" />
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Balance%20Summary%20Response%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuBalanceSummaryResponseIo.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/CustomerParty/V2/CustomerPartyEBM.xsd" />
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd" />
      </xsd:schema>
   </types>
   <message name="PreXformABMtoEBMBalanceSummaryMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformABMtoEBMBalanceSummaryABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryBalanceSummaryABM" element="abcsimplsiebelbalsumryabo:ListOfCmuRequestBillingProfileIo" />
   </message>
  <message name="PostXformABMtoEBMBalanceSummaryMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformABMtoEBMBalanceSummaryABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryBalanceSummaryRespABM" element="abcsimplsiebelbalsumryrespabo:ListOfCmuBalanceSummaryResponseIo" />
   </message>
	<message name="PreInvokeEBSQueryCustomerPartyEBMReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBS QueryBalanceSummary operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryCustomerPartyListEBM" element="commscustparty:QueryCustomerPartyListEBM" />
   </message>

	<message name="PostInvokeEBSQueryCustomerPartyEBMReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostInvokeEBS QueryBalanceSummary operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryCustomerPartyListResponseEBM" element="commscustparty:QueryCustomerPartyListResponseEBM" />
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="QueryBalanceSummarySiebelCommsReqABCSImplExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>QueryBalanceSummarySiebelCommsReqABCSImplExtension</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformABMtoEBMBalanceSummaryABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an ListOfCmuRequestBillingProfileIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelbalsumryext:PreXformABMtoEBMBalanceSummaryMsg" />
         <output message="abcsimplsiebelbalsumryext:PreXformABMtoEBMBalanceSummaryMsg" />
         <fault name="fault" message="abcsimplsiebelbalsumryext:FaultMessage" />
      </operation>
	<operation name="PostXformABMtoEBMBalanceSummaryABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostXformEBMtoABM an ListOfCmuBalanceSummaryResponseIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelbalsumryext:PostXformABMtoEBMBalanceSummaryMsg" />
         <output message="abcsimplsiebelbalsumryext:PostXformABMtoEBMBalanceSummaryMsg" />
         <fault name="fault" message="abcsimplsiebelbalsumryext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeEBSCustomerPartyEBMEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an QueryCustomerPartyListEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelbalsumryext:PreInvokeEBSQueryCustomerPartyEBMReqMsg" />
         <output message="abcsimplsiebelbalsumryext:PreInvokeEBSQueryCustomerPartyEBMReqMsg" />
         <fault name="fault" message="abcsimplsiebelbalsumryext:FaultMessage" />
      </operation>
	<operation name="PostInvokeEBSCustomerPartyEBMEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostInvokeEBS an QueryCustomerPartyListResponseEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelbalsumryext:PostInvokeEBSQueryCustomerPartyEBMReqMsg" />
         <output message="abcsimplsiebelbalsumryext:PostInvokeEBSQueryCustomerPartyEBMReqMsg" />
         <fault name="fault" message="abcsimplsiebelbalsumryext:FaultMessage" />
      </operation>
   </portType>

   <binding name="QueryBalanceSummarySiebelCommsReqABCSImplExtensionServiceBinding" type="abcsimplsiebelbalsumryext:QueryBalanceSummarySiebelCommsReqABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformABMtoEBMBalanceSummaryABM">
            <soap:operation style="document" soapAction="PreXformABMtoEBMBalanceSummaryABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		<operation name="PostXformABMtoEBMBalanceSummaryABM">
            <soap:operation style="document" soapAction="PostXformABMtoEBMBalanceSummaryABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeEBSCustomerPartyEBMEBM">
            <soap:operation style="document" soapAction="PreInvokeEBSCustomerPartyEBMEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
	    <operation name="PostInvokeEBSCustomerPartyEBMEBM">
            <soap:operation style="document" soapAction="PostInvokeEBSCustomerPartyEBMEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
    </binding>
   <service name="QueryBalanceSummarySiebelCommsReqABCSImplExtension">
        <port name="QueryBalanceSummarySiebelCommsReqABCSImplExtensionServicePort" binding="abcsimplsiebelbalsumryext:QueryBalanceSummarySiebelCommsReqABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
   <plnk:partnerLinkType name="QueryBalanceSummarySiebelCommsReqABCSImplExtensionService">
      <plnk:role name="QueryBalanceSummarySiebelCommsReqABCSImplExtensionServiceProvider">
         <plnk:portType name="abcsimplsiebelbalsumryext:QueryBalanceSummarySiebelCommsReqABCSImplExtensionService" />
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
