AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/QuerySpecificationValueSetListSiebelCommsProvABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:sblasi="http://siebel.com/asi/" xmlns:sblISSattr="http://www.siebel.com/xml/SWIAdminISSAttributeDefnIO" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:commsspecvslistebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/SpecificationValueSet/V1" xmlns:commsspecvslistext="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QuerySpecificationValueSetListSiebelCommsProvABCSImplExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="QuerySpecificationValueSetListSiebelCommsProvABCSImplExtension" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QuerySpecificationValueSetListSiebelCommsProvABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
         <svcdoc:ServiceType>ProviderABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>QuerySpecificationValueSetListSiebelCommsProvABCSImpl Provider ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>QuerySpecificationValueSetList</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology><!-- PLACEHOLDER--></svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QuerySpecificationValueSetListSiebelCommsProvABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/SpecificationValueSet/V1" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/SpecificationValueSet/V1/SpecificationValueSetEBM.xsd" />
         <xsd:import namespace="http://www.siebel.com/xml/SWIAdminISSAttributeDefnIO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/SWIAdminISSAttributeDefnIO.xsd" />
	 <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd" />
      </xsd:schema>
   </types>
   <message name="PreXformEBMtoABMSpecificationValueSetListMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QuerySpecificationValueSetListEBM" element="commsspecvslistebo:QuerySpecificationValueSetListEBM" />
   </message>
  <message name="PostXformEBMtoABMSpecificationValueSetListMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
	<part name="QuerySpecificationValueSetListEBM" element="commsspecvslistebo:QuerySpecificationValueSetListResponseEBM" />
   </message>
	<message name="PreInvokeABSQueryAttributeQueryByExample_InputReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AttributeDefinitionQueryByExample_Input" element="sblasi:AttributeDefinitionQueryByExample_Input" />
   </message>

	<message name="PostInvokeABSQueryAttributeQueryByExample_InputReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AttributeDefinitionQueryByExample_Output" element="sblasi:AttributeDefinitionQueryByExample_Output" />
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="QuerySpecificationValueSetListSiebelCommsProvABCSImplExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>ProcessSalesOrderSiebelProvABCSImplV2ExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformEBMtoABMSpecificationValueSetListEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsspecvslistext:PreXformEBMtoABMSpecificationValueSetListMsg" />
         <output message="commsspecvslistext:PreXformEBMtoABMSpecificationValueSetListMsg" />
         <fault name="fault" message="commsspecvslistext:FaultMessage" />
      </operation>
	<operation name="PostXformEBMtoABMSpecificationValueSetListEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsspecvslistext:PostXformEBMtoABMSpecificationValueSetListMsg" />
         <output message="commsspecvslistext:PostXformEBMtoABMSpecificationValueSetListMsg" />
         <fault name="fault" message="commsspecvslistext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeABSAttributeQueryByExample_InputABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsspecvslistext:PreInvokeABSQueryAttributeQueryByExample_InputReqMsg" />
         <output message="commsspecvslistext:PreInvokeABSQueryAttributeQueryByExample_InputReqMsg" />
         <fault name="fault" message="commsspecvslistext:FaultMessage" />
      </operation>
	<operation name="PostInvokeABSAttributeQueryByExample_InputABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsspecvslistext:PostInvokeABSQueryAttributeQueryByExample_InputReqMsg" />
         <output message="commsspecvslistext:PostInvokeABSQueryAttributeQueryByExample_InputReqMsg" />
         <fault name="fault" message="commsspecvslistext:FaultMessage" />
      </operation>
   </portType>
   
   
    
    <binding name="QuerySpecificationValueSetListSiebelCommsProvABCSImplExtensionServiceBinding" type="commsspecvslistext:QuerySpecificationValueSetListSiebelCommsProvABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformEBMtoABMSpecificationValueSetListEBM">
            <soap:operation style="document" soapAction="PreXformEBMtoABMSpecificationValueSetListEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostXformEBMtoABMSpecificationValueSetListEBM">
            <soap:operation style="document" soapAction="PostXformEBMtoABMSpecificationValueSetListEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		 <operation name="PreInvokeABSAttributeQueryByExample_InputABM">
            <soap:operation style="document" soapAction="PreInvokeABSAttributeQueryByExample_InputABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		 <operation name="PostInvokeABSAttributeQueryByExample_InputABM">
            <soap:operation style="document" soapAction="PostInvokeABSAttributeQueryByExample_InputABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
	
    </binding>  
   <service name="QuerySpecificationValueSetListSiebelCommsProvABCSImplExtension">
        <port name="QuerySpecificationValueSetListSiebelCommsProvABCSImplExtensionServicePort" binding="commsspecvslistext:QuerySpecificationValueSetListSiebelCommsProvABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
   
   
   <plnk:partnerLinkType name="QuerySpecificationValueSetListSiebelCommsProvABCSImplExtensionService">
      <plnk:role name="QuerySpecificationValueSetListSiebelCommsProvABCSImplExtensionServiceProvider">
         <plnk:portType name="commsspecvslistext:QuerySpecificationValueSetListSiebelCommsProvABCSImplExtensionService"/>
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
