AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/QueryInvoicePaymentSiebelCommsReqABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:receivedpaymentebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1" xmlns:commsreceivedpaymentebs="http://xmlns.oracle.com/EnterpriseServices/Core/ReceivedPayment/V1" xmlns:rcvdpymtebsfault="http://xmlns.oracle.com/EnterpriseServices/Core/ReceivedPayment/V1" xmlns:abcsimplsiebelinvpymtreqabo="http://www.siebel.com/xml/CMU%20Request%20Billed%20Usage%20IO" xmlns:abcsimplsiebelinvpymtrespabo="http://www.siebel.com/xml/CMU%20Response%20Billed%20Usgae%20Payments%20IO" xmlns:abcsimplsiebelinvpymtreqext="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoicePaymentSiebelCommsReqABCSImplExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoicePaymentSiebelCommsReqABCSImplExtension/V1" name="QueryInvoicePaymentSiebelCommsReqABCSImplExtension1" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoicePaymentSiebelCommsReqABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that would be used to query the Payment records for a particular bill of the account in the billing system</svcdoc:Description>
         <svcdoc:ServiceType>RequesterABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>QueryInvoicePaymentSiebelCommsReqABCSImpl Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>ReceivedPaymentEBO</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoicePaymentSiebelCommsReqABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Request%20Billed%20Usage%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBilledUsageIo.xsd" />
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Response%20Billed%20Usgae%20Payments%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseBilledUsgaePaymentsIo.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/ReceivedPayment/V1/ReceivedPaymentEBM.xsd" />
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd" />
        <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd" />
      </xsd:schema>
   </types>
   <message name="PreXformABMtoEBMInvoicePaymentMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformABMtoEBMInvoicePaymentABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoicePaymentABM" element="abcsimplsiebelinvpymtreqabo:ListOfCmuRequestBilledUsageIo" />
   </message>
  <message name="PostXformABMtoEBMInvoicePaymentMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformABMtoEBMInvoicePaymentABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoicePaymentABM" element="abcsimplsiebelinvpymtrespabo:ListOfCmuResponseBilledUsgaePaymentsIo" />
   </message>
	<message name="PreInvokeEBSQueryCommsReceivedPaymentReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBS QueryInvoicePayment operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryReceivedPaymentListEBM" element="receivedpaymentebo:QueryReceivedPaymentListEBM" />
   </message>

	<message name="PostInvokeEBSQueryCommsReceivedPaymentReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostInvokeEBS QueryInvoicePayment operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryReceivedPaymentListResponseEBM" element="receivedpaymentebo:QueryReceivedPaymentListResponseEBM" />
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="QueryInvoicePaymentSiebelCommsReqABCSImplExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>QueryInvoicePaymentSiebelReqABCSImplExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformABMtoEBMInvoicePaymentABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an CmuRequestBilledUsageIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvpymtreqext:PreXformABMtoEBMInvoicePaymentMsg" />
         <output message="abcsimplsiebelinvpymtreqext:PreXformABMtoEBMInvoicePaymentMsg" />
         <fault name="fault" message="abcsimplsiebelinvpymtreqext:FaultMessage" />
      </operation>
	<operation name="PostXformABMtoEBMInvoicePaymentABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostXformEBMtoABM an CmuResponseBilledUsgaePaymentsIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvpymtreqext:PostXformABMtoEBMInvoicePaymentMsg" />
         <output message="abcsimplsiebelinvpymtreqext:PostXformABMtoEBMInvoicePaymentMsg" />
         <fault name="fault" message="abcsimplsiebelinvpymtreqext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeEBSCommsReceivedPaymentEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an QueryReceivedPaymentListEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvpymtreqext:PreInvokeEBSQueryCommsReceivedPaymentReqMsg" />
         <output message="abcsimplsiebelinvpymtreqext:PreInvokeEBSQueryCommsReceivedPaymentReqMsg" />
         <fault name="fault" message="abcsimplsiebelinvpymtreqext:FaultMessage" />
      </operation>
	<operation name="PostInvokeEBSCommsReceivedPaymentEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostInvokeEBS an QueryReceivedPaymentListResponseEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvpymtreqext:PostInvokeEBSQueryCommsReceivedPaymentReqMsg" />
         <output message="abcsimplsiebelinvpymtreqext:PostInvokeEBSQueryCommsReceivedPaymentReqMsg" />
         <fault name="fault" message="abcsimplsiebelinvpymtreqext:FaultMessage" />
      </operation>
   </portType>

  <binding name="QueryInvoicePaymentSiebelCommsReqABCSImplExtensionServiceBinding" type="tns:QueryInvoicePaymentSiebelCommsReqABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformABMtoEBMInvoicePaymentABM">
            <soap:operation style="document" soapAction="PreXformABMtoEBMInvoicePaymentABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		<operation name="PostXformABMtoEBMInvoicePaymentABM">
            <soap:operation style="document" soapAction="PostXformABMtoEBMInvoicePaymentABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeEBSCommsReceivedPaymentEBM">
            <soap:operation style="document" soapAction="PreInvokeEBSCommsReceivedPaymentEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
	    <operation name="PostInvokeEBSCommsReceivedPaymentEBM">
            <soap:operation style="document" soapAction="PostInvokeEBSCommsReceivedPaymentEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
    </binding>
   <service name="QueryInvoicePaymentSiebelCommsReqABCSImplExtension">
        <port name="QueryInvoicePaymentSiebelCommsReqABCSImplExtensionServicePort" binding="tns:QueryInvoicePaymentSiebelCommsReqABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
    
   
   <plnk:partnerLinkType name="QueryInvoicePaymentSiebelCommsReqABCSImplExtensionService">
      <plnk:role name="QueryInvoicePaymentSiebelCommsReqABCSImplExtensionServiceProvider">
         <plnk:portType name="abcsimplsiebelinvpymtreqext:QueryInvoicePaymentSiebelCommsReqABCSImplExtensionService" />
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
