AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:commsinvoice="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Invoice/V2" xmlns:commsinvoiceebs="http://xmlns.oracle.com/EnterpriseServices/Core/Invoice/V2" xmlns:custpartyebsfault="http://xmlns.oracle.com/EnterpriseServices/Core/Invoice/V2" xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common" xmlns:abcsimplsiebelinvblncdtlreqabo="http://www.siebel.com/xml/CMU%20Request%20CDR%20Balance%20Details%20IO" xmlns:abcsimplsiebelinvblncdtlrespabo="http://www.siebel.com/xml/CMU%20Response%20CDR%20Balance%20Details%20IO" xmlns:abcsimplsiebelinvblncdtlreqext="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtension/V1" name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtension1" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that would be used to view Resource balance details in CRM app</svcdoc:Description>
         <svcdoc:ServiceType>RequesterABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>QueryInvoiceBalanceDetailsSiebelCommsReqABCSImpl Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>InvoiceEBO</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Request%20CDR%20Balance%20Details%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestCdrBalanceDetailsIo.xsd" />
            <xsd:import namespace="http://www.siebel.com/xml/CMU%20Response%20CDR%20Balance%20Details%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseCdrBalanceDetailsIo.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Invoice/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/Invoice/V2/InvoiceEBM.xsd" />
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd" />
         <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd" />
		
      </xsd:schema>
   </types>
   <message name="PreXformABMtoEBMInvoiceBalanceDetailsMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformABMtoEBMInvoiceBalanceDetailsABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceBalanceDetailsABM" element="abcsimplsiebelinvblncdtlreqabo:ListOfCmuRequestCdrBalanceDetailsIo" />
   </message>
  <message name="PostXformABMtoEBMInvoiceBalanceDetailsMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformABMtoEBMInvoiceBalanceDetailsABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceBalanceDetailsABM" element="abcsimplsiebelinvblncdtlrespabo:ListOfCmuResponseCdrBalanceDetailsIo" />
   </message>
	<message name="PreInvokeEBSQueryCommsInvoiceReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBS QueryInvoiceBalanceDetails operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceListEBM" element="commsinvoice:QueryInvoiceListEBM" />
   </message>

	<message name="PostInvokeEBSQueryCommsInvoiceReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostInvokeEBS QueryInvoiceBalanceDetails operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceListResponseEBM" element="commsinvoice:QueryInvoiceListResponseEBM" />
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformABMtoEBMInvoiceBalanceDetailsABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an CmuRequestCdrBalanceDetailsIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvblncdtlreqext:PreXformABMtoEBMInvoiceBalanceDetailsMsg" />
         <output message="abcsimplsiebelinvblncdtlreqext:PreXformABMtoEBMInvoiceBalanceDetailsMsg" />
         <fault name="fault" message="abcsimplsiebelinvblncdtlreqext:FaultMessage" />
      </operation>
	<operation name="PostXformABMtoEBMInvoiceBalanceDetailsABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostXformEBMtoABM an CmuResponseCdrBalanceDetailsIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvblncdtlreqext:PostXformABMtoEBMInvoiceBalanceDetailsMsg" />
         <output message="abcsimplsiebelinvblncdtlreqext:PostXformABMtoEBMInvoiceBalanceDetailsMsg" />
         <fault name="fault" message="abcsimplsiebelinvblncdtlreqext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeEBSCommsInvoiceEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an QueryInvoiceListEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvblncdtlreqext:PreInvokeEBSQueryCommsInvoiceReqMsg" />
         <output message="abcsimplsiebelinvblncdtlreqext:PreInvokeEBSQueryCommsInvoiceReqMsg" />
         <fault name="fault" message="abcsimplsiebelinvblncdtlreqext:FaultMessage" />
      </operation>
	<operation name="PostInvokeEBSCommsInvoiceEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostInvokeEBS an QueryInvoiceListResponseEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvblncdtlreqext:PostInvokeEBSQueryCommsInvoiceReqMsg" />
         <output message="abcsimplsiebelinvblncdtlreqext:PostInvokeEBSQueryCommsInvoiceReqMsg" />
         <fault name="fault" message="abcsimplsiebelinvblncdtlreqext:FaultMessage" />
      </operation>
   </portType>

   <binding name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionServiceBinding" type="tns:QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformABMtoEBMInvoiceBalanceDetailsABM">
            <soap:operation style="document" soapAction="PreXformABMtoEBMInvoiceBalanceDetailsABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		<operation name="PostXformABMtoEBMInvoiceBalanceDetailsABM">
            <soap:operation style="document" soapAction="PostXformABMtoEBMInvoiceBalanceDetailsABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeEBSCommsInvoiceEBM">
            <soap:operation style="document" soapAction="PreInvokeEBSCommsInvoiceEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
	    <operation name="PostInvokeEBSCommsInvoiceEBM">
            <soap:operation style="document" soapAction="PostInvokeEBSCommsInvoiceEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
    </binding>
   <service name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtension">
        <port name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionServicePort" binding="tns:QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
   
   <plnk:partnerLinkType name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionService">
      <plnk:role name="QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionServiceProvider">
         <plnk:portType name="abcsimplsiebelinvblncdtlreqext:QueryInvoiceBalanceDetailsSiebelCommsReqABCSImplExtensionService" />
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
