AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/QueryInvoiceListSiebelCommsReqABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:commsinvoice="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Invoice/V2" xmlns:commsinvoiceebs="http://xmlns.oracle.com/EnterpriseServices/Core/Invoice/V2" xmlns:custpartyebsfault="http://xmlns.oracle.com/EnterpriseServices/Core/Invoice/V2" xmlns:abcsimplsiebelinvlstreqabo="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO" xmlns:abcsimplsiebelinvlstrespabo="http://www.siebel.com/xml/CMU%20Response%20Billing%20Invoice%20IO" xmlns:abcsimplsiebelinvlstreqext="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceListSiebelCommsReqABCSImplExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryInvoiceListSiebelCommsReqABCSImplExtension1" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceListSiebelCommsReqABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that would to view list of invoices for an account billing profile in CRM app</svcdoc:Description>
         <svcdoc:TargetServiceType>ABCSExtension</svcdoc:TargetServiceType>
         <svcdoc:DisplayName>QueryInvoiceListSiebelCommsReqABCSImpl Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>InvoiceEBO</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/QueryInvoiceListSiebelCommsReqABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBillingProfileIo.xsd" />
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Response%20Billing%20Invoice%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseBillingInvoiceIo.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/Invoice/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/Invoice/V2/InvoiceEBM.xsd" />
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd" />
      </xsd:schema>
   </types>
   <message name="PreXformABMtoEBMInvoiceListMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformABMtoEBMInvoiceListABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceListABM" element="abcsimplsiebelinvlstreqabo:ListOfCmuRequestBillingProfileIo" />
   </message>
  <message name="PostXformABMtoEBMInvoiceListMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformABMtoEBMInvoiceListABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceListABM" element="abcsimplsiebelinvlstrespabo:ListOfCmuResponseBillingInvoiceIo" />
   </message>
	<message name="PreInvokeEBSQueryCommsInvoiceReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBS QueryInvoiceList operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceListEBM" element="commsinvoice:QueryInvoiceListEBM" />
   </message>

	<message name="PostInvokeEBSQueryCommsInvoiceReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostInvokeEBS QueryInvoiceList operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryInvoiceListResponseEBM" element="commsinvoice:QueryInvoiceListResponseEBM" />
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="QueryInvoiceListSiebelCommsReqABCSImplExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>QueryInvoiceListSiebelCommsReqABCSImplExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformABMtoEBMInvoiceListABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an CmuRequestBillingProfileIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvlstreqext:PreXformABMtoEBMInvoiceListMsg" />
         <output message="abcsimplsiebelinvlstreqext:PreXformABMtoEBMInvoiceListMsg" />
         <fault name="fault" message="abcsimplsiebelinvlstreqext:FaultMessage" />
      </operation>
	<operation name="PostXformABMtoEBMInvoiceListABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostXformABMtoEBM an CmuResponseBillingInvoiceIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvlstreqext:PostXformABMtoEBMInvoiceListMsg" />
         <output message="abcsimplsiebelinvlstreqext:PostXformABMtoEBMInvoiceListMsg" />
         <fault name="fault" message="abcsimplsiebelinvlstreqext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeEBSCommsInvoiceEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an QueryInvoiceListEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvlstreqext:PreInvokeEBSQueryCommsInvoiceReqMsg" />
         <output message="abcsimplsiebelinvlstreqext:PreInvokeEBSQueryCommsInvoiceReqMsg" />
         <fault name="fault" message="abcsimplsiebelinvlstreqext:FaultMessage" />
      </operation>
	<operation name="PostInvokeEBSCommsInvoiceEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostInvokeEBS an QueryInvoiceListResponseEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelinvlstreqext:PostInvokeEBSQueryCommsInvoiceReqMsg" />
         <output message="abcsimplsiebelinvlstreqext:PostInvokeEBSQueryCommsInvoiceReqMsg" />
         <fault name="fault" message="abcsimplsiebelinvlstreqext:FaultMessage" />
      </operation>
   </portType>

   <binding name="QueryInvoiceListSiebelCommsReqABCSImplExtensionServiceBinding" type="abcsimplsiebelinvlstreqext:QueryInvoiceListSiebelCommsReqABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformABMtoEBMInvoiceListABM">
            <soap:operation style="document" soapAction="PreXformABMtoEBMInvoiceListABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		<operation name="PostXformABMtoEBMInvoiceListABM">
            <soap:operation style="document" soapAction="PostXformABMtoEBMInvoiceListABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeEBSCommsInvoiceEBM">
            <soap:operation style="document" soapAction="PreInvokeEBSCommsInvoiceEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
	    <operation name="PostInvokeEBSCommsInvoiceEBM">
            <soap:operation style="document" soapAction="PostInvokeEBSCommsInvoiceEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
    </binding>
   <service name="QueryInvoiceListSiebelCommsReqABCSImplExtension">
        <port name="QueryInvoiceListSiebelCommsReqABCSImplExtensionServicePort" binding="abcsimplsiebelinvlstreqext:QueryInvoiceListSiebelCommsReqABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
   
   
   <plnk:partnerLinkType name="QueryInvoiceListSiebelCommsReqABCSImplExtensionService">
      <plnk:role name="QueryInvoiceListSiebelCommsReqABCSImplExtensionServiceProvider">
         <plnk:portType name="abcsimplsiebelinvlstreqext:QueryInvoiceListSiebelCommsReqABCSImplExtensionService" />
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
