AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/QueryUnbilledUsageSiebelCommsReqABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:commsservusg="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ServiceUsage/V2" xmlns:commsservusageebsfault="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:abcsimplsiebelunbillusgreqabo="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO" xmlns:abcsimplsiebelunbillusgrespabo="http://www.siebel.com/xml/CMU%20Response%20Unbilled%20Usage%20IO" xmlns:abcsimplsiebelunbillusgreqext="http://xmlns.oracle.com/ABCSImpl/Siebel/QueryUnbilledUsageSiebelCommsReqABCSImplExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="QueryUnbilledUsageSiebelCommsReqABCSImplExtension1" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/QueryUnbilledUsageSiebelCommsReqABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that would be used to query the Unbilled Usage Details of an account, from the billing system</svcdoc:Description>
         <svcdoc:ServiceType>RequesterABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>Query Unbilled Usage Siebel Requester ABCS Extension Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>QueryUnbilledUsage</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/QueryUnbilledUsageSiebelCommsReqABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBillingProfileIo.xsd" />
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Response%20Unbilled%20Usage%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseUnbilledUsageIo.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ServiceUsage/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/ServiceUsage/V2/ServiceUsageEBM.xsd" />
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd" />
      </xsd:schema>
   </types>
   <message name="PreXformABMtoEBMUnbilledUsageMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformABMtoEBMUnbilledUsageABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryUnbilledUsageABM" element="abcsimplsiebelunbillusgreqabo:ListOfCmuRequestBillingProfileIo" />
   </message>
  <message name="PostXformABMtoEBMUnbilledUsageMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformABMtoEBMUnbilledUsageABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryUnbilledUsageABM" element="abcsimplsiebelunbillusgrespabo:ListOfCmuResponseUnbilledUsageIo" />
   </message>
	<message name="PreInvokeEBSQueryServiceUasgeReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeQueryServiceUsageList operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryServiceUsageListEBM" element="commsservusg:QueryServiceUsageListEBM" />
   </message>

	<message name="PostInvokeEBSQueryServiceUasgeReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostInvokeQueryServiceUsageList operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryServiceUsageListResponseEBM" element="commsservusg:QueryServiceUsageListResponseEBM" />
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="QueryUnbilledUsageSiebelCommsReqABCSImplExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>QueryUnbilledUsageSiebelCommsReqABCSImplExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformABMtoEBMUnbilledUsageABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an ListOfCmuRequestBillingProfileIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelunbillusgreqext:PreXformABMtoEBMUnbilledUsageMsg" />
         <output message="abcsimplsiebelunbillusgreqext:PreXformABMtoEBMUnbilledUsageMsg" />
         <fault name="fault" message="abcsimplsiebelunbillusgreqext:FaultMessage" />
      </operation>
	<operation name="PostXformABMtoEBMUnbilledUsageABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostXformEBMtoABM an ListOfCmuResponseUnbilledUsageIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelunbillusgreqext:PostXformABMtoEBMUnbilledUsageMsg" />
         <output message="abcsimplsiebelunbillusgreqext:PostXformABMtoEBMUnbilledUsageMsg" />
         <fault name="fault" message="abcsimplsiebelunbillusgreqext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeEBSServiceUasgeEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ServiceUsageEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelunbillusgreqext:PreInvokeEBSQueryServiceUasgeReqMsg" />
         <output message="abcsimplsiebelunbillusgreqext:PreInvokeEBSQueryServiceUasgeReqMsg" />
         <fault name="fault" message="abcsimplsiebelunbillusgreqext:FaultMessage" />
      </operation>
	<operation name="PostInvokeEBSServiceUasgeEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostInvokeEBS an ServiceUsageEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelunbillusgreqext:PostInvokeEBSQueryServiceUasgeReqMsg" />
         <output message="abcsimplsiebelunbillusgreqext:PostInvokeEBSQueryServiceUasgeReqMsg" />
         <fault name="fault" message="abcsimplsiebelunbillusgreqext:FaultMessage" />
      </operation>
   </portType>
   
    <binding name="QueryUnbilledUsageSiebelCommsReqABCSImplExtensionServiceBinding" type="abcsimplsiebelunbillusgreqext:QueryUnbilledUsageSiebelCommsReqABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformABMtoEBMUnbilledUsageABM">
            <soap:operation style="document" soapAction="PreXformABMtoEBMUnbilledUsageABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostXformABMtoEBMUnbilledUsageABM">
            <soap:operation style="document" soapAction="PostXformABMtoEBMUnbilledUsageABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeEBSServiceUasgeEBM">
            <soap:operation style="document" soapAction="PreInvokeEBSServiceUasgeEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostInvokeEBSServiceUasgeEBM">
            <soap:operation style="document" soapAction="PostInvokeEBSServiceUasgeEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>

    </binding>  
	
   <service name="QueryUnbilledUsageSiebelCommsReqABCSImplExtension">
        <port name="QueryUnbilledUsageSiebelCommsReqABCSImplExtensionServicePort" binding="abcsimplsiebelunbillusgreqext:QueryUnbilledUsageSiebelCommsReqABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
   
   <plnk:partnerLinkType name="QueryUnbilledUsageSiebelCommsReqABCSImplExtensionService">
      <plnk:role name="QueryUnbilledUsageSiebelCommsReqABCSImplExtensionServiceProvider">
         <plnk:portType name="abcsimplsiebelunbillusgreqext:QueryUnbilledUsageSiebelCommsReqABCSImplExtensionService"/>
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
