AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/SearchPaymentSiebelCommsReqABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:receivedpaymentebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1" xmlns:commsreceivedpaymentebs="http://xmlns.oracle.com/EnterpriseServices/Core/ReceivedPayment/V1" xmlns:recvdpymtebsfault="http://xmlns.oracle.com/EnterpriseServices/Core/ReceivedPayment/V1" xmlns:bpelcom="http://schemas.oracle.com/service/bpel/common" xmlns:abcsimplsiebelpymtrespabo="http://www.siebel.com/xml/CMU%20Response%20Billing%20Profile%20Payments%20IO" xmlns:abcsimplsiebelpymtreqabo="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20Payments%20Search%20IO" xmlns:abcsimplsiebelpymtreqext="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/SearchPaymentSiebelCommsReqABCSImplExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SearchPaymentSiebelCommsReqABCSImplExtension1" targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/SearchPaymentSiebelCommsReqABCSImplExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that would be used to search for the Payment records for an account in the billing system based on a search criteria</svcdoc:Description>
         <svcdoc:ServiceType>RequesterABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>SearchPaymentSiebelCommsReqABCSImpl Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>ReceivedPaymentEBO</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>Siebel</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/Industry/Comms/SearchPaymentSiebelCommsReqABCSImplExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Request%20Billing%20Profile%20Payments%20Search%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuRequestBillingProfilePaymentsSearchIo.xsd" />
         <xsd:import namespace="http://www.siebel.com/xml/CMU%20Response%20Billing%20Profile%20Payments%20IO" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/CmuResponseBillingProfilePaymentsIo.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/ReceivedPayment/V1/ReceivedPaymentEBM.xsd" />
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd" />
        <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd" />
      </xsd:schema>
   </types>
   <message name="PreXformABMtoEBMPaymentMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformABMtoEBMPaymentABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="SearchPaymentABM" element="abcsimplsiebelpymtreqabo:ListOfCmuRequestBillingProfilePaymentsSearchIo" />
   </message>
  <message name="PostXformABMtoEBMPaymentMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformABMtoEBMPaymentABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="SearchPaymentABM" element="abcsimplsiebelpymtrespabo:ListOfCmuResponseBillingProfilePaymentsIo" />
   </message>
	<message name="PreInvokeEBSSearchCommsReceivedPaymentReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBS SearchPayment operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryReceivedPaymentListEBM" element="receivedpaymentebo:QueryReceivedPaymentListEBM" />
   </message>

	<message name="PostInvokeEBSSearchCommsReceivedPaymentReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostInvokeEBS SearchPayment operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryReceivedPaymentListResponseEBM" element="receivedpaymentebo:QueryReceivedPaymentListResponseEBM" />
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="SearchPaymentSiebelCommsReqABCSImplExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>ProcessSalesOrderSiebelReqABCSImplV2ExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformABMtoEBMPaymentABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformABMtoEBM an CmuRequestBillingProfilePaymentsSearchIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformABMtoEBMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelpymtreqext:PreXformABMtoEBMPaymentMsg" />
         <output message="abcsimplsiebelpymtreqext:PreXformABMtoEBMPaymentMsg" />
         <fault name="fault" message="abcsimplsiebelpymtreqext:FaultMessage" />
      </operation>
	<operation name="PostXformABMtoEBMPaymentABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostXformEBMtoABM an CmuResponseBillingProfilePaymentsIo object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelpymtreqext:PostXformABMtoEBMPaymentMsg" />
         <output message="abcsimplsiebelpymtreqext:PostXformABMtoEBMPaymentMsg" />
         <fault name="fault" message="abcsimplsiebelpymtreqext:FaultMessage" />
      </operation>
	 <operation name="PreInvokeEBSCommsReceivedPaymentEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an QueryReceivedPaymentListEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelpymtreqext:PreInvokeEBSSearchCommsReceivedPaymentReqMsg" />
         <output message="abcsimplsiebelpymtreqext:PreInvokeEBSSearchCommsReceivedPaymentReqMsg" />
         <fault name="fault" message="abcsimplsiebelpymtreqext:FaultMessage" />
      </operation>
	<operation name="PostInvokeEBSCommsReceivedPaymentEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PostInvokeEBS an QueryReceivedPaymentListResponseEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PostInvokeEBSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="abcsimplsiebelpymtreqext:PostInvokeEBSSearchCommsReceivedPaymentReqMsg" />
         <output message="abcsimplsiebelpymtreqext:PostInvokeEBSSearchCommsReceivedPaymentReqMsg" />
         <fault name="fault" message="abcsimplsiebelpymtreqext:FaultMessage" />
      </operation>
   </portType>

   <binding name="SearchPaymentSiebelCommsReqABCSImplExtensionServiceBinding" type="abcsimplsiebelpymtreqext:SearchPaymentSiebelCommsReqABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformABMtoEBMPaymentABM">
            <soap:operation style="document" soapAction="PreXformABMtoEBMPaymentABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		<operation name="PostXformABMtoEBMPaymentABM">
            <soap:operation style="document" soapAction="PostXformABMtoEBMPaymentABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeEBSCommsReceivedPaymentEBM">
            <soap:operation style="document" soapAction="PreInvokeEBSCommsReceivedPaymentEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
	    <operation name="PostInvokeEBSCommsReceivedPaymentEBM">
            <soap:operation style="document" soapAction="PostInvokeEBSCommsReceivedPaymentEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
    </binding>
   <service name="SearchPaymentSiebelCommsReqABCSImplExtension">
        <port name="SearchPaymentSiebelCommsReqABCSImplExtensionServicePort" binding="abcsimplsiebelpymtreqext:SearchPaymentSiebelCommsReqABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
   
   
   <plnk:partnerLinkType name="SearchPaymentSiebelCommsReqABCSImplExtensionService">
      <plnk:role name="SearchPaymentSiebelCommsReqABCSImplExtensionServiceProvider">
         <plnk:portType name="abcsimplsiebelpymtreqext:SearchPaymentSiebelCommsReqABCSImplExtensionService" />
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
