AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/Siebel/V1/UpdateTroubleTicketSiebelCommsProvABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="UpdateTroubleTicketSiebelCommsProvABCSImplExtension1"
             targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/UpdateTroubleTicketSiebelCommsProvABCSImplExtension/V1"
	     xmlns:sbltroubleticket="http://www.siebel.com/xml/SWITroubleTicketIO"
	     xmlns:sblasi="http://siebel.com/asi/"
	     xmlns:coretroubleticketebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/TroubleTicket/V1"
             xmlns:coretroubleticketext="http://xmlns.oracle.com/ABCSImpl/Siebel/UpdateTroubleTicketSiebelCommsProvABCSImplExtension/V1"
	     
	     
	     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
             xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V2"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
         <svcdoc:ServiceType>ABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>UpdateTroubleTicketSiebelCommsProvABCSImpl Provider ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>UpdateTroubleTicket</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>2.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology><!-- PLACEHOLDER--></svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/Siebel/UpdateTroubleTicketSiebelCommsProvABCSImplExtension/V1"
                  elementFormDefault="qualified">
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/TroubleTicket/V1" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/TroubleTicket/V1/TroubleTicketEBM.xsd"/>
         <xsd:import namespace="http://siebel.com/asi/" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/wsdls/SWITroubleTicketIO.wsdl"/>
	 <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
      </xsd:schema>
   </types>
   <message name="PreXformEBMtoABMTroubleTicketMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="UpdateTroubleTicketEBM"
            element="coretroubleticketebo:UpdateTroubleTicketEBM"/>
   </message>
	<message name="PreInvokeABSUpdateSWITroubleTicketIOReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="SWITroubleTicketInsertOrUpdate_Input"
            element="sblasi:SWITroubleTicketInsertOrUpdate_Input"/>
   </message>

   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault"/>
   </message>
   <portType name="UpdateTroubleTicketSiebelCommsProvABCSImplV1ExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>ProcessSalesOrderSiebelProvABCSImplV2ExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformEBMtoABMTroubleTicketEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="coretroubleticketext:PreXformEBMtoABMTroubleTicketMsg"/>
         <output message="coretroubleticketext:PreXformEBMtoABMTroubleTicketMsg"/>
         <fault name="fault" message="coretroubleticketext:FaultMessage"/>
      </operation>
	 <operation name="PreInvokeABSSWITroubleTicketIOABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="coretroubleticketext:PreInvokeABSUpdateSWITroubleTicketIOReqMsg"/>
         <output message="coretroubleticketext:PreInvokeABSUpdateSWITroubleTicketIOReqMsg"/>
         <fault name="fault" message="coretroubleticketext:FaultMessage"/>
      </operation>
   </portType>
   
   <binding name="UpdateTroubleTicketSiebelCommsProvABCSImplV1ExtensionServiceBinding" type="coretroubleticketext:UpdateTroubleTicketSiebelCommsProvABCSImplV1ExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformEBMtoABMTroubleTicketEBM">
            <soap:operation style="document" soapAction="PreXformEBMtoABMTroubleTicketEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		<operation name="PreInvokeABSSWITroubleTicketIOABM">
            <soap:operation style="document" soapAction="PreInvokeABSSWITroubleTicketIOABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
    </binding>
	
   <service name="UpdateTroubleTicketSiebelCommsProvABCSImplV1Extension">
        <port name="UpdateTroubleTicketSiebelCommsProvABCSImplV1ExtensionServicePort" binding="coretroubleticketext:UpdateTroubleTicketSiebelCommsProvABCSImplV1ExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service> 
   
   <plnk:partnerLinkType name="UpdateTroubleTicketSiebelCommsProvABCSImplV1ExtensionService">
      <plnk:role name="UpdateTroubleTicketSiebelCommsProvABCSImplV1ExtensionServiceProvider">
         <plnk:portType name="coretroubleticketext:UpdateTroubleTicketSiebelCommsProvABCSImplV1ExtensionService"/>
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
