AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/PIM/V1/RequesterABCS/SyncItemCatalogCategoryPIMReqABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="SyncItemCatalogCategoryPIMReqABCSImpl"
     targetNamespace="http://xmlns.oracle.com/ABCSImpl/PIM/Core/SyncItemCatalogCategoryPIMReqABCSImpl/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
     xmlns:csebm="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ClassificationScheme/V1"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:appsabcs="http://xmlns.oracle.com/ABCSImpl/PIM/Core/SyncItemCatalogCategoryPIMReqABCSImpl/V1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:pvsebo="http://xmlns.oracle.com/SyncItemCatalogCategoryPIMReqABCSImpl/correlationset"
     xmlns:appsabo="http://xmlns.oracle.com/xdb/APPS"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:vsebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/SpecificationValueSet/V1"
    >
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>This service contains operations that would be
                                used by the participating application to
                                interact with the external systems</svcdoc:Description>
            <svcdoc:TargetServiceType>RequesterABCSImpl</svcdoc:TargetServiceType>
            <svcdoc:DisplayName>SyncItemCatalogCategoryPIMReqABCSImpl Requester
                                ABCS Implementation Interface</svcdoc:DisplayName>
            <svcdoc:ServiceObjectName>SyncItemCatalogCategory</svcdoc:ServiceObjectName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:EBOName>ClassificationSchemeEBO</svcdoc:EBOName>
            <svcdoc:Version>1.0</svcdoc:Version>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
            <svcdoc:ProductFamily>ERP</svcdoc:ProductFamily>
            <svcdoc:ProductPillar>MDMPRODUCT</svcdoc:ProductPillar>
            <svcdoc:ProductCode>SFA</svcdoc:ProductCode>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://xmlns.oracle.com/SyncItemCatalogCategoryPIMReqABCSImpl/correlationset"
         location="oramds:/apps/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/PIM/V1/RequesterABCS/SyncItemCatalogCategoryPIMReqABCSImpl_Properties.wsdl"/>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/xdb/APPS" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/PIM/V1/schemas/APPS_WF_EVENT_T.xsd"/>
            <import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ClassificationScheme/V1"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/EBO/ClassificationScheme/V1/ClassificationSchemeEBM.xsd"/>
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/SpecificationValueSet/V1"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/EBO/SpecificationValueSet/V1/SpecificationValueSetEBM.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
        </schema>
    </types>
    <message name="SyncItemCatalogCategoryReqMsg">
        <part name="SyncItemCatalogCategory" element="appsabo:WF_EVENT_T"/>
    </message>
    <message name="SyncClassificationSchemeListEBMRespMsg">
        <part name="SyncClassificationSchemeListResponseEBM" element="csebm:SyncClassificationSchemeListResponseEBM"/>
    </message>
    <message name="SyncSpecificationValueSetListEBMRespMsg">
        <part name="SyncSpecificationValueSetListResponseEBM" element="vsebo:SyncSpecificationValueSetListResponseEBM"/>
    </message>
    <message name="FaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used for propagating Error
                                    Context and Error Message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="AIAFault" element="corecom:Fault"/>
    </message>
    <message name="SyncClassificationSchemeListEBMReqMsg">
        <part name="SyncClassificationSchemeListEBM" element="csebm:SyncClassificationSchemeListEBM"/>
    </message>
    <message name="SyncSpecificationValueSetListEBMReqMsg">
        <part name="SyncSpecificationValueSetListEBM" element="vsebo:SyncSpecificationValueSetListEBM"/>
    </message>
    <portType name="SyncItemCatalogCategoryPIMReqABCSImplService">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains operations that can
                                    act upon the object</svcdoc:Description>
                <svcdoc:DisplayName>Sync ItemCatalogCategory PIM Requestor ABCS
                                    Implementation</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="SyncItemCatalogCategory">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Sync an
                                        ItemCatalogCategory object</svcdoc:Description>
                    <svcdoc:MEP>FireAndForget</svcdoc:MEP>
                    <svcdoc:DisplayName>SyncItemCatalogCategory</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="appsabcs:SyncItemCatalogCategoryReqMsg"/>
        </operation>
        <operation name="SyncClassificaitonSchemeListResponse">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Recieve
                                        ClassificationSchemeListResponse object</svcdoc:Description>
                    <svcdoc:MEP>FireAndForget</svcdoc:MEP>
                    <svcdoc:DisplayName>SyncItemCatalogCategory</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="appsabcs:SyncClassificationSchemeListEBMRespMsg"/>
        </operation>
        <operation name="SyncSpecificationValueSetListResponse">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to Recieve
                                        SpecificationListResponse object</svcdoc:Description>
                    <svcdoc:MEP>FireAndForget</svcdoc:MEP>
                    <svcdoc:DisplayName>SyncItemCatalogCategory</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="appsabcs:SyncSpecificationValueSetListEBMRespMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="SyncItemCatalogCategoryPIMReqABCSImpl">
        <plnk:role name="SyncItemCatalogCategoryPIMReqABCSImplProvider">
            <plnk:portType name="appsabcs:SyncItemCatalogCategoryPIMReqABCSImplService"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <bpws:propertyAlias xmlns:SyncICC="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ClassificationScheme/V1"
         propertyName="pvsebo:SyncClassificationSchemeListReqMsg_FlowN_SyncClassificationSchemeListEBM_EBMID_prop"
         messageType="appsabcs:SyncClassificationSchemeListEBMRespMsg" part="SyncClassificationSchemeListResponseEBM"
         query="/SyncICC:SyncClassificationSchemeListResponseEBM/corecom:EBMHeader/corecom:RequestEBMID"/>
    <bpws:propertyAlias xmlns:classificationschemeebs="http://xmlns.oracle.com/EnterpriseServices/Core/ClassificationScheme/V1"
         xmlns:SyncICC="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ClassificationScheme/V1"
         propertyName="pvsebo:SyncClassificationSchemeListReqMsg_FlowN_SyncClassificationSchemeListEBM_EBMID_prop"
         messageType="classificationschemeebs:SyncClassificationSchemeListReqMsg" part="SyncClassificationSchemeListEBM"
         query="/SyncICC:SyncClassificationSchemeListEBM/corecom:EBMHeader/corecom:EBMID"/>
    <bpws:propertyAlias xmlns:vsebs="http://xmlns.oracle.com/EnterpriseServices/Core/SpecificationValueSet/V1"
         propertyName="pvsebo:SyncSpecificationValueSetListEBMReqFlowNMsg_SyncSpecificationValueSetListEBM_EBMID_prop"
         messageType="vsebs:SyncSpecificationValueSetListReqMsg" part="SyncSpecificationValueSetListEBM"
         query="/vsebo:SyncSpecificationValueSetListEBM/corecom:EBMHeader/corecom:EBMID"/>
    <bpws:propertyAlias propertyName="pvsebo:SyncSpecificationValueSetListEBMReqFlowNMsg_SyncSpecificationValueSetListEBM_EBMID_prop"
         messageType="appsabcs:SyncSpecificationValueSetListEBMRespMsg" part="SyncSpecificationValueSetListResponseEBM"
         query="/vsebo:SyncSpecificationValueSetListResponseEBM/corecom:EBMHeader/corecom:RequestEBMID"/>
</definitions>
