AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/BRM/V1/CreateAccountBalanceAdjustmentBRMCommsProvABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CreateAccountBalanceAdjustmentBRMCommsProvABCSImplExtension1"
             targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/CreateAccountBalanceAdjustmentBRMCommsProvABCSImplExtension/V1"
	     xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
         xmlns:commsadjebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/AccountBalanceAdjustment/V2"
         xmlns:commsadjext="http://xmlns.oracle.com/ABCSImpl/BRM/CreateAccountBalanceAdjustmentBRMCommsProvABCSImplExtension/V1"
             
	     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
             xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V2"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
         <svcdoc:ServiceType>ABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>CreateAccountBalanceAdjustmentOracle BRMCommsProvABCSImpl/V1 Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ABOName>CreateAccountBalanceAdjustment</svcdoc:ABOName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology><!-- PLACEHOLDER--></svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>Oracle BRM</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>BRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>7.3.1</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/CreateAccountBalanceAdjustmentBRMCommsProvABCSImplExtension/V1"
                  elementFormDefault="qualified">
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/AccountBalanceAdjustment/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/AccountBalanceAdjustment/V2/AccountBalanceAdjustmentEBM.xsd"/>
         <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_AR_BILL_ADJUSTMENT.xsd"/>
         <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_AR_ITEM_ADJUSTMENT.xsd"/>
         <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_AR_EVENT_ADJUSTMENT.xsd"/>
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
      </xsd:schema>
   </types>
   <message name="PreXformEBMtoABMAccountBalanceAdjustmentMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="CreateAccountBalanceAdjustmentList"
            element="commsadjebo:CreateAccountBalanceAdjustmentListEBM"/>
   </message>
  <message name="PostXformEBMtoABMAccountBalanceAdjustmentMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="CreateAccountBalanceAdjustmentListResponse"
            element="commsadjebo:CreateAccountBalanceAdjustmentListResponseEBM"/>
   </message>
	<message name="PreInvokeABSPCM_OP_AR_BILL_ADJUSTMENTReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_BILL_ADJUSTMENT_inputFlist"
            element="brm:PCM_OP_AR_BILL_ADJUSTMENT_inputFlist"/>
   </message>

	<message name="PostInvokeABSPCM_OP_AR_BILL_ADJUSTMENTReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_BILL_ADJUSTMENT_outputFlist"
            element="brm:PCM_OP_AR_BILL_ADJUSTMENT_outputFlist"/>
	</message>
        
        	<message name="PreInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_ITEM_ADJUSTMENT_inputFlist"
            element="brm:PCM_OP_AR_ITEM_ADJUSTMENT_inputFlist"/>
   </message>

	<message name="PostInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_ITEM_ADJUSTMENT_outputFlist"
            element="brm:PCM_OP_AR_ITEM_ADJUSTMENT_outputFlist"/>
	</message>
        
        
        	<message name="PreInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_EVENT_ADJUSTMENT_inputFlist"
            element="brm:PCM_OP_AR_EVENT_ADJUSTMENT_inputFlist"/>
   </message>

	<message name="PostInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_EVENT_ADJUSTMENT_outputFlist"
            element="brm:PCM_OP_AR_EVENT_ADJUSTMENT_outputFlist"/>
	</message>
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault"/>
   </message>
   <portType name="CreateAccountBalanceAdjustmentBRMCommsProvABCSImplV1ExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>ProcessSalesOrderSiebelProvABCSImplV2ExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformEBMtoABMAccountBalanceAdjustmentEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PreXformEBMtoABMAccountBalanceAdjustmentMsg"/>
         <output message="commsadjext:PreXformEBMtoABMAccountBalanceAdjustmentMsg"/>
         <fault name="fault" message="commsadjext:FaultMessage"/>
      </operation>
	<operation name="PostXformEBMtoABMAccountBalanceAdjustmentEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PostXformEBMtoABMAccountBalanceAdjustmentMsg"/>
         <output message="commsadjext:PostXformEBMtoABMAccountBalanceAdjustmentMsg"/>
         <fault name="fault" message="commsadjext:FaultMessage"/>
      </operation>
	 <operation name="PreInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PreInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTReqMsg"/>
         <output message="commsadjext:PreInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTReqMsg"/>
         <fault name="fault" message="commsadjext:FaultMessage"/>
      </operation>
	<operation name="PostInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PostInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTReqMsg"/>
         <output message="commsadjext:PostInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTReqMsg"/>
         <fault name="fault" message="commsadjext:FaultMessage"/>
      </operation>
      
      	 <operation name="PreInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PreInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTReqMsg"/>
         <output message="commsadjext:PreInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTReqMsg"/>
         <fault name="fault" message="commsadjext:FaultMessage"/>
      </operation>
	<operation name="PostInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PostInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTReqMsg"/>
         <output message="commsadjext:PostInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTReqMsg"/>
         <fault name="fault" message="commsadjext:FaultMessage"/>
      </operation>
      
            	 <operation name="PreInvokeABSPCM_OP_AR_BILL_ADJUSTMENTABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PreInvokeABSPCM_OP_AR_BILL_ADJUSTMENTReqMsg"/>
         <output message="commsadjext:PreInvokeABSPCM_OP_AR_BILL_ADJUSTMENTReqMsg"/>
         <fault name="fault" message="commsadjext:FaultMessage"/>
      </operation>
	<operation name="PostInvokeABSPCM_OP_AR_BILL_ADJUSTMENTABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsadjext:PostInvokeABSPCM_OP_AR_BILL_ADJUSTMENTReqMsg"/>
         <output message="commsadjext:PostInvokeABSPCM_OP_AR_BILL_ADJUSTMENTReqMsg"/>
         <fault name="fault" message="commsadjext:FaultMessage"/>
      </operation>
      
      
   </portType>
   <plnk:partnerLinkType name="CreateAccountBalanceAdjustmentBRMCommsProvABCSImplV1ExtensionService">
      <plnk:role name="CreateAccountBalanceAdjustmentBRMCommsProvABCSImplV1ExtensionServiceProvider">
         <plnk:portType name="commsadjext:CreateAccountBalanceAdjustmentBRMCommsProvABCSImplV1ExtensionService"/>
      </plnk:role>
   </plnk:partnerLinkType>
   
   <binding name="CreateAccountBalanceAdjustmentBRMCommsProvABCSImplExtensionServiceBinding" type="commsadjext:CreateAccountBalanceAdjustmentBRMCommsProvABCSImplV1ExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformEBMtoABMAccountBalanceAdjustmentEBM">
            <soap:operation style="document" soapAction="PreXformEBMtoABMAccountBalanceAdjustmentEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostXformEBMtoABMAccountBalanceAdjustmentEBM">
            <soap:operation style="document" soapAction="PostXformEBMtoABMAccountBalanceAdjustmentEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeABSPCM_OP_AR_BILL_ADJUSTMENTABM">
            <soap:operation style="document" soapAction="PreInvokeABSPCM_OP_AR_BILL_ADJUSTMENTABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostInvokeABSPCM_OP_AR_BILL_ADJUSTMENTABM">
            <soap:operation style="document" soapAction="PostInvokeABSPCM_OP_AR_BILL_ADJUSTMENTABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
			</operation>
			        <operation name="PreInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTABM">
            <soap:operation style="document" soapAction="PreInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTABM">
            <soap:operation style="document" soapAction="PostInvokeABSPCM_OP_AR_ITEM_ADJUSTMENTABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		  <operation name="PreInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTABM">
            <soap:operation style="document" soapAction="PreInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTABM">
            <soap:operation style="document" soapAction="PostInvokeABSPCM_OP_AR_EVENT_ADJUSTMENTABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>

   </binding>  
      <service name="CreateAccountBalanceAdjustmentBRMCommsProvABCSImplExtension">
        <port name="CreateAccountBalanceAdjustmentBRMCommsProvABCSImplExtensionServicePort" binding="commsadjext:CreateAccountBalanceAdjustmentBRMCommsProvABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror"/>
        </port>
   </service>
</definitions>   