AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/BRM/V1/ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brmBase="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:brmSub="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:brmCust="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:sordebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1" xmlns:commssordext="http://xmlns.oracle.com/ABCSImpl/BRM/ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sordsubebo="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess" name="ProcessBillingOrderBRMUpdateSubProcessExtension1" targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessExtension/V1">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
         <svcdoc:ServiceType>ABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>QueryAccountBalanceAdjustmentOracle
                             BRMCommsProvABCSImpl/V1 Requester ABCS Extension
                             Implementation Interface</svcdoc:DisplayName>
         <svcdoc:ABOName>QueryAccountBalanceAdjustment</svcdoc:ABOName>
         <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         <svcdoc:Version>1.0</svcdoc:Version>
         <svcdoc:ImplementationTechnology>
            <!-- PLACEHOLDER-->
         </svcdoc:ImplementationTechnology>
         <svcdoc:ProductFamily>Oracle BRM</svcdoc:ProductFamily>
         <svcdoc:ProductPillar>BRM</svcdoc:ProductPillar>
         <svcdoc:ProductCode>7.3.1</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/ProcessBillingOrderBRMUpdateSubProcessExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/FulfillmentOrder/V1/FulfillmentOrderEBM.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/ProcessFulfillmentOrderBillingBRMCommsSubprocess.xsd"/>
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SEARCH.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_READ_OBJ.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_READ_FLDS.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_PURCHASE_DEAL.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_CHANGE_DEAL.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_PRODINFO.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_BUNDLE.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION.xsd" />		
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_UPDATE_SERVICES.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_CREATE_PROFILE.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_COMMIT_CUSTOMER.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_SET_STATUS.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_UPDATE_CUSTOMER.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_DELETE_PAYINFO.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_MODIFY_PROFILE.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_MODIFY_CUSTOMER.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_DELETE_PROFILE.xsd" />	
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER.xsd" />		 
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd" />
      </xsd:schema>
   </types>
   <message name="PreInvokeABSPCM_OP_SEARCHMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SEARCH_inputFlist" element="brmBase:PCM_OP_SEARCH_inputFlist" />
   </message>
   <message name="PostInvokeABSPCM_OP_SEARCHMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PostXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SEARCH_outputFlist" element="brmBase:PCM_OP_SEARCH_outputFlist" />
   </message>
   <message name="PreInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTIONMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_inputFlist" element="brmSub:PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_inputFlist" />
   </message>
   <message name="PostInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTIONMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_outputFlist" element="brmSub:PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION_outputFlist" />
   </message>
   <message name="PreInvokeABSPCM_OP_READ_FLDSMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_READ_FLDS_inputFlist" element="brmBase:PCM_OP_READ_FLDS_inputFlist" />
   </message>
   <message name="PostInvokeABSPCM_OP_READ_FLDSMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_READ_FLDS_outputFlist" element="brmBase:PCM_OP_READ_FLDS_outputFlist" />
   </message>
   <message name="PreInvokeABSPCM_OP_CUST_MODIFY_CUSTOMERMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_CUST_MODIFY_CUSTOMER_inputFlist" element="brmCust:PCM_OP_CUST_MODIFY_CUSTOMER_inputFlist" />
   </message>
   <message name="PostInvokeABSPCM_OP_CUST_MODIFY_CUSTOMERMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_CUST_MODIFY_CUSTOMER_outputFlist" element="brmCust:PCM_OP_CUST_MODIFY_CUSTOMER_outputFlist" />
   </message>
   <message name="PreInvokeABSPCM_OP_CUST_UPDATE_SERVICESMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_CUST_UPDATE_SERVICES_inputFlist" element="brmCust:PCM_OP_CUST_UPDATE_SERVICES_inputFlist" />
   </message>
   <message name="PostInvokeABSPCM_OP_CUST_UPDATE_SERVICESMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_CUST_UPDATE_SERVICES_outputFlist" element="brmCust:PCM_OP_CUST_UPDATE_SERVICES_outputFlist" />
   </message>
   <message name="PreInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFOMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_inputFlist" element="brmSub:PCM_OP_SUBSCRIPTION_SET_PRODINFO_inputFlist" />
   </message>
   <message name="PostInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFOMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_SET_PRODINFO_outputFlist" element="brmSub:PCM_OP_SUBSCRIPTION_SET_PRODINFO_outputFlist" />
   </message>
   <message name="SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvoke SubProcess operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="payload" element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage" />
   </message>
   
   <message name="SubProcPostInvokeProcessFulfillmentOrderBillingEBMMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostInvoke SubProcess operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="payload" element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage" />
   </message>
   <!-- MBG changes, Start-->
   <message name="PreInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFERMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_inputFlist" element="brmSub:PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_inputFlist" />
   </message>
   <message name="PostInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFERMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_outputFlist" element="brmSub:PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_outputFlist" />
   </message>
   <!-- MBG changes, END -->
   
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessV1ExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>ProcessSalesOrderSiebelProvABCSImplV2ExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreInvokeABSPCM_OP_SEARCH">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PreInvokeABSPCM_OP_SEARCHMsg" />
         <output message="commssordext:PreInvokeABSPCM_OP_SEARCHMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PostInvokeABSPCM_OP_SEARCH">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PostInvokeABSPCM_OP_SEARCHMsg" />
         <output message="commssordext:PostInvokeABSPCM_OP_SEARCHMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PreInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an
                                   ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PreInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTIONMsg" />
         <output message="commssordext:PreInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTIONMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PostInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an
                                   ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PostInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTIONMsg" />
         <output message="commssordext:PostInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTIONMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PreInvokeABSPCM_OP_READ_FLDS">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PreInvokeABSPCM_OP_READ_FLDSMsg" />
         <output message="commssordext:PreInvokeABSPCM_OP_READ_FLDSMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PostInvokeABSPCM_OP_READ_FLDS">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PostInvokeABSPCM_OP_READ_FLDSMsg" />
         <output message="commssordext:PostInvokeABSPCM_OP_READ_FLDSMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PreInvokeABSPCM_OP_CUST_MODIFY_CUSTOMER">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PreInvokeABSPCM_OP_CUST_MODIFY_CUSTOMERMsg" />
         <output message="commssordext:PreInvokeABSPCM_OP_CUST_MODIFY_CUSTOMERMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PostInvokeABSPCM_OP_CUST_MODIFY_CUSTOMER">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PostInvokeABSPCM_OP_CUST_MODIFY_CUSTOMERMsg" />
         <output message="commssordext:PostInvokeABSPCM_OP_CUST_MODIFY_CUSTOMERMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PreInvokeABSPCM_OP_CUST_UPDATE_SERVICES">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PreInvokeABSPCM_OP_CUST_UPDATE_SERVICESMsg" />
         <output message="commssordext:PreInvokeABSPCM_OP_CUST_UPDATE_SERVICESMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PostInvokeABSPCM_OP_CUST_UPDATE_SERVICES">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PostInvokeABSPCM_OP_CUST_UPDATE_SERVICESMsg" />
         <output message="commssordext:PostInvokeABSPCM_OP_CUST_UPDATE_SERVICESMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PreInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFO">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PreInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFOMsg" />
         <output message="commssordext:PreInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFOMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PostInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFO">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PostInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFOMsg" />
         <output message="commssordext:PostInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFOMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
	  <operation name="SubProcPreInvokeProcessFulfillmentOrderBillingEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to enrich
                                   ProcessFulfillmentOrderBillingEBM before it to the
                                   Sub Processes </svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeProcessFulfillmentOrderBillingEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage" />
         <output message="commssordext:SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
	  
	  <operation name="SubProcPostInvokeProcessFulfillmentOrderBillingEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to enrich
                                   ProcessFulfillmentOrderBillingEBM before it to the
                                   Sub Processes </svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeProcessFulfillmentOrderBillingEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage" />
         <output message="commssordext:SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
	  
	  <!-- MBG changes, START-->
	   <operation name="PreInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an
                                   ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokePCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PreInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFERMsg" />
         <output message="commssordext:PreInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFERMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
      <operation name="PostInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an
                                   ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commssordext:PostInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFERMsg" />
         <output message="commssordext:PostInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFERMsg" />
         <fault name="fault" message="commssordext:FaultMessage" />
      </operation>
	  
	  <!-- MBG changes, END-->
	  
	  
   </portType>
   <plnk:partnerLinkType name="ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessV1ExtensionService">
      <plnk:role name="ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessV1ExtensionServiceProvider">
         <plnk:portType name="commssordext:ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessV1ExtensionService" />
</plnk:role>
</plnk:partnerLinkType>
   <binding name="ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessV1ExtensionServiceBinding" type="commssordext:ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessV1ExtensionService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="PreInvokeABSPCM_OP_SEARCH">
<soap:operation style="document" soapAction="PreInvokeABSPCM_OP_SEARCH"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PostInvokeABSPCM_OP_SEARCH">
<soap:operation style="document" soapAction="PostInvokeABSPCM_OP_SEARCH"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PreInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION">
<soap:operation style="document" soapAction="PreInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PostInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION">
<soap:operation style="document" soapAction="PostInvokeABSPCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PreInvokeABSPCM_OP_READ_FLDS">
<soap:operation style="document" soapAction="PreInvokeABSPCM_OP_READ_FLDS"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PostInvokeABSPCM_OP_READ_FLDS">
<soap:operation style="document" soapAction="PostInvokeABSPCM_OP_READ_FLDS"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PreInvokeABSPCM_OP_CUST_MODIFY_CUSTOMER">
<soap:operation style="document" soapAction="PreInvokeABSPCM_OP_CUST_MODIFY_CUSTOMER"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PostInvokeABSPCM_OP_CUST_MODIFY_CUSTOMER">
<soap:operation style="document" soapAction="PostInvokeABSPCM_OP_CUST_MODIFY_CUSTOMER"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PreInvokeABSPCM_OP_CUST_UPDATE_SERVICES">
<soap:operation style="document" soapAction="PreInvokeABSPCM_OP_CUST_UPDATE_SERVICES"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PostInvokeABSPCM_OP_CUST_UPDATE_SERVICES">
<soap:operation style="document" soapAction="PostInvokeABSPCM_OP_CUST_UPDATE_SERVICES"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PreInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFO">
<soap:operation style="document" soapAction="PreInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFO"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PostInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFO">
<soap:operation style="document" soapAction="PostInvokeABSPCM_OP_SUBSCRIPTION_SET_PRODINFO"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
		<operation name="SubProcPreInvokeProcessFulfillmentOrderBillingEBM">
         <soap:operation style="document" soapAction="PreInvokeProcessFulfillmentOrderBillingEBM" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
         <fault name="fault">
            <soap:fault name="fault" use="literal" encodingStyle="" />
         </fault>
    </operation>
	<operation name="SubProcPostInvokeProcessFulfillmentOrderBillingEBM">
         <soap:operation style="document" soapAction="PostInvokeProcessFulfillmentOrderBillingEBM" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
         <fault name="fault">
            <soap:fault name="fault" use="literal" encodingStyle="" />
         </fault>
    </operation>	
	
	<!-- MBG changes, START -->
<operation name="PreInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER">
<soap:operation style="document" soapAction="PreInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<operation name="PostInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER">
<soap:operation style="document" soapAction="PostInvokeABSPCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" encodingStyle=""/>
</fault>
</operation>
<!-- MBG changes, END-->
	
</binding>
      <service name="ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessV1ExtensionService">
        <port name="ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessV1ExtensionServicePort" binding="commssordext:ProcessFulfillmentOrderBillingBRMCommsUpdateSubProcessV1ExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
</port>
</service>
</definitions>
