AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/BRM/V1/ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:billingorderabo="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:brmbaseserv="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:processbillingFault="http://xmlns.oracle.com/AIAAsyncErrorHandlingBPELProcess" xmlns:billingOrderebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/SalesOrder/V2" xmlns:billingOrderext="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtension/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sordsubebo="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess" name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtension" targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtension/V1">

   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
         <svcdoc:ServiceType>ABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcess/V1 Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>ProcessSalesOrder</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ImplementationTechnology><!-- PLACEHOLDER--></svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>BRM</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>BRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/Industry/Comms/ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtension/V1" elementFormDefault="qualified">
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/SalesOrder/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/SalesOrder/V2/SalesOrderEBM.xsd" />
         <xsd:import namespace="http://xmlns.oracle.com/ProcessFulfillmentOrderBillingBRMCommsSubprocess" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/ProcessFulfillmentOrderBillingBRMCommsSubprocess.xsd"/>
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SEARCH.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_READ_OBJ.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_READ_FLDS.xsd" />
	 	 <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_TRANSFER_SUBSCRIPTION.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_PURCHASE_DEAL.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_CHANGE_DEAL.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_PRODINFO.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_CANCEL_DISCOUNT.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_DISCOUNTINFO.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_GET_PURCHASED_OFFERINGS.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SET_BUNDLE.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_CANCEL_SUBSCRIPTION.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_UPDATE_SERVICES.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_CREATE_PROFILE.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_COMMIT_CUSTOMER.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_SET_STATUS.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_UPDATE_CUSTOMER.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_DELETE_PAYINFO.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_MODIFY_PROFILE.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_MODIFY_CUSTOMER.xsd" />
		 <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_CUST_DELETE_PROFILE.xsd" />		 
      </xsd:schema>
   </types>
  
	
	
	<message name="PreInvokeABSProcessPCM_OP_SUBSCRIPTION_PURCHASE_DEAL">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_inputFlist" element="brmbaseserv:PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_inputFlist" />
   </message>
   
   <message name="PreInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_inputFlist" element="brmbaseserv:PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_inputFlist" />
   </message>
   
      <message name="PostInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_outputFlist" element="brmbaseserv:PCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS_outputFlist" />
   </message>
   
         <message name="PreInvokeABSProcessPCM_OP_CUST_SET_STATUS">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_CUST_SET_STATUS_inputFlist" element="brmbaseserv:PCM_OP_CUST_SET_STATUS_inputFlist" />
   </message>
   
            <message name="PostInvokeABSProcessPCM_OP_CUST_SET_STATUS">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_CUST_SET_STATUS_outputFlist" element="brmbaseserv:PCM_OP_CUST_SET_STATUS_outputFlist" />
   </message>

      <message name="PreInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_inputFlist" element="brmbaseserv:PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_inputFlist" />
   </message>
   
         <message name="PostInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_outputFlist" element="brmbaseserv:PCM_OP_SUBSCRIPTION_CANCEL_PRODUCT_outputFlist" />
   </message>
   
	<message name="PostInvokeABSProcessPCM_OP_SUBSCRIPTION_PURCHASE_DEAL">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_outputFlist" element="brmbaseserv:PCM_OP_SUBSCRIPTION_PURCHASE_DEAL_outputFlist" />
	</message>
        
   
   
   <message name="SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvoke SubProcess operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="payload" element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage" />
   </message>
   
   <message name="SubProcPostInvokeProcessFulfillmentOrderBillingEBMMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostInvoke SubProcess operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="payload" element="sordsubebo:ProcessFulfillmentOrderBillingBRMCommsSubprocessMessage" />
   </message>
	
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault" />
   </message>
   <portType name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtension">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtension</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
	  
	  <operation name="PreInvokePCM_OP_SUBSCRIPTION_PURCHASE_DEALABMtoPCM_OP_SUBSCRIPTION_PURCHASE_DEALABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:PreInvokeABSProcessPCM_OP_SUBSCRIPTION_PURCHASE_DEAL" />
         <output message="billingOrderext:PreInvokeABSProcessPCM_OP_SUBSCRIPTION_PURCHASE_DEAL" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
	<operation name="PostInvokePCM_OP_SUBSCRIPTION_PURCHASE_DEALABMtoPCM_OP_SUBSCRIPTION_PURCHASE_DEALABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:PostInvokeABSProcessPCM_OP_SUBSCRIPTION_PURCHASE_DEAL" />
         <output message="billingOrderext:PostInvokeABSProcessPCM_OP_SUBSCRIPTION_PURCHASE_DEAL" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
	  	  
	  <operation name="PreInvokePCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUSABMtoPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUSABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:PreInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS" />
         <output message="billingOrderext:PreInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
	  
	  
	  	  <operation name="PostInvokePCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUSABMtoPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUSABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:PostInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS" />
         <output message="billingOrderext:PostInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUS" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
	  
	  
	  	  	  <operation name="PreInvokePCM_OP_CUST_SET_STATUSABMtoPCM_OP_CUST_SET_STATUSABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:PreInvokeABSProcessPCM_OP_CUST_SET_STATUS" />
         <output message="billingOrderext:PreInvokeABSProcessPCM_OP_CUST_SET_STATUS" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
	  
	  	  	  	  <operation name="PostInvokePCM_OP_CUST_SET_STATUSABMtoPCM_OP_CUST_SET_STATUSABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:PostInvokeABSProcessPCM_OP_CUST_SET_STATUS" />
         <output message="billingOrderext:PostInvokeABSProcessPCM_OP_CUST_SET_STATUS" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
	  
	  
	   <operation name="PreInvokePCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUSABMtoPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUSABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:PreInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS" />
         <output message="billingOrderext:PreInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
	  
	  	   <operation name="PostInvokePCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUSABMtoPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUSABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:PostInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS" />
         <output message="billingOrderext:PostInvokeABSProcessPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUS" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
      
	
	  
	  <operation name="SubProcPreInvokeProcessFulfillmentOrderBillingEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to enrich
                                   ProcessFulfillmentOrderBillingEBM before it to the
                                   Sub Processes </svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeProcessFulfillmentOrderBillingEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage" />
         <output message="billingOrderext:SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
	  
	  <operation name="SubProcPostInvokeProcessFulfillmentOrderBillingEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to enrich
                                   ProcessFulfillmentOrderBillingEBM before it to the
                                   Sub Processes </svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeProcessFulfillmentOrderBillingEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="billingOrderext:SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage" />
         <output message="billingOrderext:SubProcPreInvokeProcessFulfillmentOrderBillingEBMMessage" />
         <fault name="fault" message="billingOrderext:FaultMessage" />
      </operation>
	  
   </portType>

   <plnk:partnerLinkType name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtension">
      <plnk:role name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtensionProvider">
         <plnk:portType name="billingOrderext:ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtension" />
      </plnk:role>
   </plnk:partnerLinkType>
   
   <binding name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtensionBinding" type="billingOrderext:ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtension">
   <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
   <operation name="PreInvokePCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUSABMtoPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUSABM">
	<soap:operation style="document" soapAction="mirror" /> 
	<input>
		<soap:body use="literal" /> 
	</input>
	<output>
		<soap:body use="literal" /> 
	</output>
	<fault name="fault">
		<soap:fault name="fault" use="literal" encodingStyle="" /> 
	</fault>
   </operation>
   
      <operation name="PostInvokePCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUSABMtoPCM_OP_SUBSCRIPTION_SET_DISCOUNT_STATUSABM">
	<soap:operation style="document" soapAction="mirror" /> 
	<input>
		<soap:body use="literal" /> 
	</input>
	<output>
		<soap:body use="literal" /> 
	</output>
	<fault name="fault">
		<soap:fault name="fault" use="literal" encodingStyle="" /> 
	</fault>
   </operation>
   
   <operation name="PreInvokePCM_OP_SUBSCRIPTION_PURCHASE_DEALABMtoPCM_OP_SUBSCRIPTION_PURCHASE_DEALABM">
	<soap:operation style="document" soapAction="mirror" /> 
	<input>
		<soap:body use="literal" /> 
	</input>
	<output>
		<soap:body use="literal" /> 
	</output>
	<fault name="fault">
		<soap:fault name="fault" use="literal" encodingStyle="" /> 
	</fault>
   </operation>
   
      <operation name="PostInvokePCM_OP_SUBSCRIPTION_PURCHASE_DEALABMtoPCM_OP_SUBSCRIPTION_PURCHASE_DEALABM">
	<soap:operation style="document" soapAction="mirror" /> 
	<input>
		<soap:body use="literal" /> 
	</input>
	<output>
		<soap:body use="literal" /> 
	</output>
	<fault name="fault">
		<soap:fault name="fault" use="literal" encodingStyle="" /> 
	</fault>
   </operation>
   <operation name="PreInvokePCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUSABMtoPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUSABM">
	<soap:operation style="document" soapAction="mirror" /> 
	<input>
		<soap:body use="literal" /> 
	</input>
	<output>
		<soap:body use="literal" /> 
	</output>
	<fault name="fault">
		<soap:fault name="fault" use="literal" encodingStyle="" /> 
	</fault>
   </operation>
   
      <operation name="PostInvokePCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUSABMtoPCM_OP_SUBSCRIPTION_SET_PRODUCT_STATUSABM">
	<soap:operation style="document" soapAction="mirror" /> 
	<input>
		<soap:body use="literal" /> 
	</input>
	<output>
		<soap:body use="literal" /> 
	</output>
	<fault name="fault">
		<soap:fault name="fault" use="literal" encodingStyle="" /> 
	</fault>
   </operation>
   
   <operation name="PreInvokePCM_OP_CUST_SET_STATUSABMtoPCM_OP_CUST_SET_STATUSABM">
	<soap:operation style="document" soapAction="mirror" /> 
	<input>
		<soap:body use="literal" /> 
	</input>
	<output>
		<soap:body use="literal" /> 
	</output>
	<fault name="fault">
		<soap:fault name="fault" use="literal" encodingStyle="" /> 
	</fault>
   </operation>
   
      <operation name="PostInvokePCM_OP_CUST_SET_STATUSABMtoPCM_OP_CUST_SET_STATUSABM">
	<soap:operation style="document" soapAction="mirror" /> 
	<input>
		<soap:body use="literal" /> 
	</input>
	<output>
		<soap:body use="literal" /> 
	</output>
	<fault name="fault">
		<soap:fault name="fault" use="literal" encodingStyle="" /> 
	</fault>
   </operation>
   
   <operation name="SubProcPreInvokeProcessFulfillmentOrderBillingEBM">
         <soap:operation style="document" soapAction="PreInvokeProcessFulfillmentOrderBillingEBM" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
         <fault name="fault">
            <soap:fault name="fault" use="literal" encodingStyle="" />
         </fault>
    </operation>
	<operation name="SubProcPostInvokeProcessFulfillmentOrderBillingEBM">
         <soap:operation style="document" soapAction="PostInvokeProcessFulfillmentOrderBillingEBM" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
         <fault name="fault">
            <soap:fault name="fault" use="literal" encodingStyle="" />
         </fault>
    </operation>
 </binding>

<service name="mirrorAnyService">
	<port name="ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtensionPort" binding="billingOrderext:ProcessFulfillmentOrderBillingBRMCommsDeleteSubProcessExtensionBinding">
		<soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" /> 
	</port>
</service>

</definitions>
