AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/BRM/V1/QueryServiceUsageBRMCommsProvABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="QueryServiceUsageBRMCommsProvABCSImplExtension1"
             targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/QueryServiceUsageBRMCommsProvABCSImplExtension/V1"
	     xmlns:servUsageAbo="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
	     xmlns:brmBillServ="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
	     xmlns:queryServiceUsageFault="http://xmlns.oracle.com/AIAAsyncErrorHandlingBPELProcess"
	     xmlns:commsservusgebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ServiceUsage/V2"
             xmlns:commsservusgext="http://xmlns.oracle.com/ABCSImpl/BRM/QueryServiceUsageBRMCommsProvABCSImplExtension/V1"
             
	     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
             xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V2"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
         <svcdoc:ServiceType>ABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>QueryServiceUsageBRMCommsProvABCSImpl/V1 Requester ABCS Extension
                          Implementation Interface</svcdoc:DisplayName>
			<svcdoc:ServiceObjectName>QueryServiceUsage</svcdoc:ServiceObjectName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1</svcdoc:Version>
			<svcdoc:ImplementationTechnology><!-- PLACEHOLDER--></svcdoc:ImplementationTechnology>
			<svcdoc:ProductFamily>BRM</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>BRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode></svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/QueryServiceUsageBRMCommsProvABCSImplExtension/V1"
                  elementFormDefault="qualified">
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ServiceUsage/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/ServiceUsage/V2/ServiceUsageEBM.xsd"/>
         <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT.xsd"/>
		  <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_AR_RESOURCE_AGGREGATION.xsd"/>
          <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_AR_GET_BILL_ITEMS.xsd"/>
		  <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_BAL_GET_ACCT_BILLINFO.xsd"/>
	<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
      </xsd:schema>
   </types>
   <message name="PreXformEBMtoABMServiceUsageMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryServiceUsageEBM"
            element="commsservusgebo:QueryServiceUsageListEBM"/>
   </message>
  <message name="PostXformEBMtoABMServiceUsageMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PostXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="QueryServiceUsageEBM"
            element="commsservusgebo:QueryServiceUsageListResponseEBM"/>
   </message>
	<message name="PreInvokeABSQueryPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inputFlist"
            element="brmBillServ:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inputFlist"/>
   </message>

	<message name="PostInvokeABSQueryPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outputFlist"
            element="brmBillServ:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outputFlist"/>
	</message>
   
   <message name="PreInvokeABSQueryPCM_OP_AR_GET_BILL_ITEMSReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_GET_BILL_ITEMS_inputFlist"
            element="brmBillServ:PCM_OP_AR_GET_BILL_ITEMS_inputFlist"/>
   </message>

	<message name="PostInvokeABSQueryPCM_OP_AR_GET_BILL_ITEMSReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_GET_BILL_ITEMS_outputFlist"
            element="brmBillServ:PCM_OP_AR_GET_BILL_ITEMS_outputFlist"/>
	</message>
   
   <message name="PreInvokeABSQueryPCM_OP_AR_RESOURCE_AGGREGATIONReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_RESOURCE_AGGREGATION_inputFlist"
            element="brmBillServ:PCM_OP_AR_RESOURCE_AGGREGATION_inputFlist"/>
   </message>

	<message name="PostInvokeABSQueryPCM_OP_AR_RESOURCE_AGGREGATIONReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_AR_RESOURCE_AGGREGATION_outputFlist"
            element="brmBillServ:PCM_OP_AR_RESOURCE_AGGREGATION_outputFlist"/>
	</message>
     <message name="PreInvokeABSQueryPCM_OP_BAL_GET_ACCT_BILLINFOReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_BAL_GET_ACCT_BILLINFO_inputFlist" element="brmBillServ:PCM_OP_BAL_GET_ACCT_BILLINFO_inputFlist" />
   </message>

	<message name="PostInvokeABSQueryPCM_OP_BAL_GET_ACCT_BILLINFOReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_BAL_GET_ACCT_BILLINFO_outputFlist" element="brmBillServ:PCM_OP_BAL_GET_ACCT_BILLINFO_outputFlist" />
	</message>
  
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault"/>
   </message>
   <portType name="QueryServiceUsageBRMCommsProvABCSImplExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>ProcessSalesOrderSiebelProvABCSImplV2ExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformEBMtoABMServiceUsageEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PreXformEBMtoABMServiceUsageMsg"/>
         <output message="commsservusgext:PreXformEBMtoABMServiceUsageMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>
	<operation name="PostXformEBMtoABMServiceUsageEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PostXformEBMtoABMServiceUsageMsg"/>
         <output message="commsservusgext:PostXformEBMtoABMServiceUsageMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>
	 <operation name="PreInvokeABSPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PreInvokeABSQueryPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTReqMsg"/>
         <output message="commsservusgext:PreInvokeABSQueryPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTReqMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>
	<operation name="PostInvokeABSPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PostInvokeABSQueryPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTReqMsg"/>
         <output message="commsservusgext:PostInvokeABSQueryPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTReqMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>
	  
	  
     <!-- <operation name="PreXformEBMtoABMServiceUsageEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PreXformEBMtoABMServiceUsageMsg"/>
         <output message="commsservusgext:PreXformEBMtoABMServiceUsageMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>
	<operation name="PostXformEBMtoABMServiceUsageEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PostXformEBMtoABMServiceUsageMsg"/>
         <output message="commsservusgext:PostXformEBMtoABMServiceUsageMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>-->
	 <operation name="PreInvokeABSPCM_OP_AR_GET_BILL_ITEMSABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PreInvokeABSQueryPCM_OP_AR_GET_BILL_ITEMSReqMsg"/>
         <output message="commsservusgext:PreInvokeABSQueryPCM_OP_AR_GET_BILL_ITEMSReqMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>
	<operation name="PostInvokeABSPCM_OP_AR_GET_BILL_ITEMSABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PostInvokeABSQueryPCM_OP_AR_GET_BILL_ITEMSReqMsg"/>
         <output message="commsservusgext:PostInvokeABSQueryPCM_OP_AR_GET_BILL_ITEMSReqMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>
	   <operation name="PreInvokeABSPCM_OP_AR_RESOURCE_AGGREGATIONABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PreInvokeABSQueryPCM_OP_AR_RESOURCE_AGGREGATIONReqMsg"/>
         <output message="commsservusgext:PreInvokeABSQueryPCM_OP_AR_RESOURCE_AGGREGATIONReqMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>
	<operation name="PostInvokeABSPCM_OP_AR_RESOURCE_AGGREGATIONABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PostInvokeABSQueryPCM_OP_AR_RESOURCE_AGGREGATIONReqMsg"/>
         <output message="commsservusgext:PostInvokeABSQueryPCM_OP_AR_RESOURCE_AGGREGATIONReqMsg"/>
         <fault name="fault" message="commsservusgext:FaultMessage"/>
      </operation>
	   <operation name="PreInvokeABSPCM_OP_BAL_GET_ACCT_BILLINFOABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PreInvokeABSQueryPCM_OP_BAL_GET_ACCT_BILLINFOReqMsg" />
         <output message="commsservusgext:PreInvokeABSQueryPCM_OP_BAL_GET_ACCT_BILLINFOReqMsg" />
         <fault name="fault" message="commsservusgext:FaultMessage" />
      </operation>
	<operation name="PostInvokeABSPCM_OP_BAL_GET_ACCT_BILLINFOABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an ProcessSalesOrderEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSEBM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commsservusgext:PostInvokeABSQueryPCM_OP_BAL_GET_ACCT_BILLINFOReqMsg" />
         <output message="commsservusgext:PostInvokeABSQueryPCM_OP_BAL_GET_ACCT_BILLINFOReqMsg" />
         <fault name="fault" message="commsservusgext:FaultMessage" />
      </operation>
   
   </portType>
   
   <binding name="QueryServiceUsageBRMCommsProvABCSImplExtensionServiceBinding" type="commsservusgext:QueryServiceUsageBRMCommsProvABCSImplExtensionService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="PreXformEBMtoABMServiceUsageEBM">
            <soap:operation style="document" soapAction="PreXformEBMtoABMServiceUsageEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostXformEBMtoABMServiceUsageEBM">
            <soap:operation style="document" soapAction="PostXformEBMtoABMServiceUsageEBM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeABSPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTABM">
            <soap:operation style="document" soapAction="PreInvokeABSPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostInvokeABSPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTABM">
            <soap:operation style="document" soapAction="PostInvokeABSPCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNTABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
<operation name="PreInvokeABSPCM_OP_AR_GET_BILL_ITEMSABM">
            <soap:operation style="document" soapAction="PreInvokeABSPCM_OP_AR_GET_BILL_ITEMSABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostInvokeABSPCM_OP_AR_GET_BILL_ITEMSABM">
            <soap:operation style="document" soapAction="PostInvokeABSPCM_OP_AR_GET_BILL_ITEMSABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PreInvokeABSPCM_OP_AR_RESOURCE_AGGREGATIONABM">
            <soap:operation style="document" soapAction="PreInvokeABSPCM_OP_AR_RESOURCE_AGGREGATIONABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostInvokeABSPCM_OP_AR_RESOURCE_AGGREGATIONABM">
            <soap:operation style="document" soapAction="PostInvokeABSPCM_OP_AR_RESOURCE_AGGREGATIONABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
		<operation name="PreInvokeABSPCM_OP_BAL_GET_ACCT_BILLINFOABM">
            <soap:operation style="document" soapAction="PreInvokeABSPCM_OP_BAL_GET_ACCT_BILLINFOABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
        <operation name="PostInvokeABSPCM_OP_BAL_GET_ACCT_BILLINFOABM">
            <soap:operation style="document" soapAction="PostInvokeABSPCM_OP_BAL_GET_ACCT_BILLINFOABM" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle="" />
            </fault>
        </operation>
  
  
    </binding>  
	
   <service name="QueryServiceUsageBRMCommsProvABCSImplExtension">
        <port name="QueryServiceUsageBRMCommsProvABCSImplExtensionServicePort" binding="commsservusgext:QueryServiceUsageBRMCommsProvABCSImplExtensionServiceBinding">
            <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror" />
        </port>
   </service>
   
   
   
   <plnk:partnerLinkType name="QueryServiceUsageBRMCommsProvABCSImplExtensionService">
      <plnk:role name="QueryServiceUsageBRMCommsProvABCSImplExtensionServiceProvider">
         <plnk:portType name="commsservusgext:QueryServiceUsageBRMCommsProvABCSImplExtensionService"/>
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
