AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ExtensionServiceLibrary/BRM/V1/UpdateCreditAlertBRMCommsProvABCSImplExtensionConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UpdateCreditAlertBRMCommsProvABCSImplExtension1"
             targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/UpdateCreditAlertBRMCommsProvABCSImplExtension/V1"
             xmlns:brmquote="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
             xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
             xmlns:commscralertebo="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CreditAlert/V1"
             xmlns:commscralertext="http://xmlns.oracle.com/ABCSImpl/BRM/UpdateCreditAlertBRMCommsProvABCSImplExtension/V1"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
             xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V2"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
   <documentation>
      <svcdoc:Service>
         <svcdoc:Description>This service contains intercepting operations that
                             would be used by the participating application</svcdoc:Description>
         <svcdoc:ServiceType>ABCSExtension</svcdoc:ServiceType>
         <svcdoc:DisplayName>UpdateCreditAlertBRMCommsProvABCSImpl Provider ABCS
                             Extension Implementation Interface</svcdoc:DisplayName>
         <svcdoc:ServiceObjectName>UpdateCreditAlert</svcdoc:ServiceObjectName>
         <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         <svcdoc:Version>1.0</svcdoc:Version>
         <svcdoc:ImplementationTechnology>
            <!-- PLACEHOLDER-->
         </svcdoc:ImplementationTechnology>
         <svcdoc:ProductFamily>BRM</svcdoc:ProductFamily>
         <svcdoc:ProductPillar>BRM</svcdoc:ProductPillar>
         <svcdoc:ProductCode>PFA</svcdoc:ProductCode>
      </svcdoc:Service>
   </documentation>
   <types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/ABCSImpl/BRM/UpdateCreditAlertBRMCommsProvABCSImplExtension/V1"
                  elementFormDefault="qualified">
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CreditAlert/V1"
                     schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/CreditAlert/V1/CreditAlertEBM.xsd"/>
         <xsd:import namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
                     schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_COLLECTIONS_SET_ACTION_STATUS.xsd"/>
         <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
                     schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
      </xsd:schema>
   </types>
   <message name="PreXformEBMtoABMCreditAlertMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreXformEBMtoABMABM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="UpdateCreditAlertEBM"
            element="commscralertebo:UpdateCreditAlertListEBM"/>
   </message>
   <message name="PreInvokeABSUpdateCreditAlertReqMsg">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used as a payload to
                                PreInvokeEBSEBM operation</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="PCM_OP_COLLECTIONS_SET_ACTION_STATUS_inputFlist"
            element="brm:PCM_OP_COLLECTIONS_SET_ACTION_STATUS_inputFlist"/>
   </message>
   <message name="FaultMessage">
      <documentation>
         <svcdoc:Message>
            <svcdoc:Description>This message is used for propagating Error
                                Context and Error Message</svcdoc:Description>
         </svcdoc:Message>
      </documentation>
      <part name="AIAFault" element="corecom:Fault"/>
   </message>
   <portType name="UpdateCreditAlertBRMCommsProvABCSImplV1ExtensionService">
      <documentation>
         <svcdoc:Interface>
            <svcdoc:Description>This is the ABCS extension service interface</svcdoc:Description>
            <svcdoc:DisplayName>UpdateCreditAlertBRMCommsProvABCSImplV1ExtensionService</svcdoc:DisplayName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
         </svcdoc:Interface>
      </documentation>
      <operation name="PreXformEBMtoABMCreditAlertEBM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreXformEBMtoABM an
                                   ListOfSWIOrderIO object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreXformEBMtoABMABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commscralertext:PreXformEBMtoABMCreditAlertMsg"/>
         <output message="commscralertext:PreXformEBMtoABMCreditAlertMsg"/>
         <fault name="fault" message="commscralertext:FaultMessage"/>
      </operation>
      <operation name="PreInvokeABSCreditAlertABM">
         <documentation>
            <svcdoc:Operation>
               <svcdoc:Description>This operation is used to PreInvokeEBS an
                                   CreditAlertEBM object</svcdoc:Description>
               <svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
               <svcdoc:DisplayName>PreInvokeABSABM</svcdoc:DisplayName>
               <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
               <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
         </documentation>
         <input message="commscralertext:PreInvokeABSUpdateCreditAlertReqMsg"/>
         <output message="commscralertext:PreInvokeABSUpdateCreditAlertReqMsg"/>
         <fault name="fault" message="commscralertext:FaultMessage"/>
      </operation>
   </portType>
   <binding name="UpdateCreditAlertBRMCommsProvABCSImplV1ExtensionServiceBinding"
            type="commscralertext:UpdateCreditAlertBRMCommsProvABCSImplV1ExtensionService">
      <soap:binding style="document"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="PreXformEBMtoABMCreditAlertEBM">
         <soap:operation style="document"
                         soapAction="PreXformEBMtoABMCreditAlertEBM"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="fault">
            <soap:fault name="fault" use="literal" encodingStyle=""/>
         </fault>
      </operation>
      <operation name="PreInvokeABSCreditAlertABM">
         <soap:operation style="document"
                         soapAction="PreInvokeABSCreditAlertABM"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="fault">
            <soap:fault name="fault" use="literal" encodingStyle=""/>
         </fault>
      </operation>
   </binding>
   <service name="UpdateCreditAlertBRMCommsProvABCSImplV1Extension">
      <port name="UpdateCreditAlertBRMCommsProvABCSImplV1ExtensionServicePort"
            binding="commscralertext:UpdateCreditAlertBRMCommsProvABCSImplV1ExtensionServiceBinding">
         <soap:address location="http://${fp.server.soaserverhostname}:${fp.server.soaserverport}/MirrorServlet/mirror"/>
      </port>
   </service>
   <plnk:partnerLinkType name="UpdateCreditAlertBRMCommsProvABCSImplV1ExtensionService">
      <plnk:role name="UpdateCreditAlertBRMCommsProvABCSImplV1ExtensionServiceProvider">
         <plnk:portType name="commscralertext:UpdateCreditAlertBRMCommsProvABCSImplV1ExtensionService"/>
      </plnk:role>
   </plnk:partnerLinkType>
</definitions>
