AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/OrderDetailData.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/OrderManagement/Order/Details/Data/Data"
     xmlns:xsdLocal2="http://siebel.com/OrderManagement/Order/Details/Data/Data" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All
                           rights reserved. Siebel XSD Generation</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="ListOfOrderDetail" type="xsdLocal2:ListOfOrderDetailData"/>
    <xsd:complexType name="ListOfOrderDetailTopElmtData">
        <xsd:sequence>
            <xsd:element name="ListOfOrderDetail" maxOccurs="1" minOccurs="1" type="xsdLocal2:ListOfOrderDetailData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfOrderDetailData">
        <xsd:sequence>
            <xsd:element name="OrderDetail" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:OrderDetailData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="OrderDetailData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Account" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AccountAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AccountContractedProductsOnlyFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="AccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AccountType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Active" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="Approved" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="BillToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillableFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="BillingAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CarrierPriority" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CarrierType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CompoundProductNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactEmailAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactWorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CurrencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Discount" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="DiscountAmount" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="ExchangeDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="Freight" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="MRCTotal" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="NRCTotal" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="OptyId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="OrderNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderPriority" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderTotal" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="OrderType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderTypeId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentTerm" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentTermId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToPostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToStreetAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToStreetAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PriceListId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToEmail" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToPostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryBillToWorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryOrganizationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryPositionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToEmail" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToPostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToWorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="QuoteId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="QuoteNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="RequestedShipDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Revision" maxOccurs="1" minOccurs="0" type="xsd:int"/>
            <xsd:element name="ScenarioTestFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="ServiceAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceContactEmail" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceContactFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceContactLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceContactWorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipInstructions" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TaxAmount" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="TaxExempt" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="TaxExemptNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TaxExemptReason" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TaxRate" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="PersonalBillToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToPostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToStreetAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToStreetAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingProfileId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingProfileName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Comments" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingContactEmail" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingContactFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingContactLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingContactWorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToAddressee" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrimaryShipToAddressee" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ListOfOrderApprovalHistory" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfOrderApprovalHistoryData"/>
            <xsd:element name="ListOfShipment" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfShipmentData"/>
            <xsd:element name="ListOfOrderItemDetail" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfOrderItemDetailData"/>
            <xsd:element name="ListOfOrderPayment" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfOrderPaymentData"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ListOfOrderApprovalHistoryData">
        <xsd:sequence>
            <xsd:element name="OrderApprovalHistory" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:OrderApprovalHistoryData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="OrderApprovalHistoryData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Action" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ActiveFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="Comments" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DueTime" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ItemObjectId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PastDue" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="Priority" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProtectOwnershipFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="StartTime" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="TaskOwnerFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TaskOwnerFullName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TaskOwnerId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TaskOwnerLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TaskOwnerLogin" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ListOfShipmentData">
        <xsd:sequence>
            <xsd:element name="Shipment" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:ShipmentData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="ShipmentData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AssignedTo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AssignedToID" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Carrier" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CarrierPriority" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Condition" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="FreightCost" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="Incoterms" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Instructions" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="InsuranceCost" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="InsuredValue" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="IntegrationId2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="NoofContainers" maxOccurs="1" minOccurs="0" type="xsd:int"/>
            <xsd:element name="OrderId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="POD" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="PrimaryOrderId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ReceiveDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ReceiveInvLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ReceiveLocationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ReceiveUnknownFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="ReceivedBy" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ReceivedContact" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ScheduledDeliveryDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ScheduledPickUpDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ShipDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ShipDueDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ShipInvLocId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipInvLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipInvLocationIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipTo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToCityState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToCityStateZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToID" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipVia" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipmentNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShippedBy" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShippedContact" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="StatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="TransitToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransitToLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="UOMFreight" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="UOMInsuranceCost" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="UOMInsuranceValue" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="UOMWeight" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="UnknownOrderMatch" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="UnknownOrderNum" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="UnknownOrdertype" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="WaybillNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Weight" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="ListOfShipmentItem" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfShipmentItemData"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ListOfOrderItemDetailData">
        <xsd:sequence>
            <xsd:element name="OrderItemDetail" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:OrderItemDetailData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="OrderItemDetailData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ActionCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AdjustedListPrice" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="AmountExchangeDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="AssetId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AssetIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AssetStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AutoExplodeFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="BasePrice" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="BillingAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CalculatedAssetStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CalculatedDueDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="CarrierCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CarrierPriority" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CfgActiveFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="CfgEndDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="CfgLatestReleasedFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CfgObjectDefFirstVersion" maxOccurs="1" minOccurs="0" type="xsd:int"/>
            <xsd:element name="CfgObjectDefLastVersion" maxOccurs="1" minOccurs="0" type="xsd:int"/>
            <xsd:element name="CfgReleasedFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="CfgStartDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="CfgStateCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CfgType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CfgVersion" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="ChangeCost" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ClassRegistrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CommitmentCoveredFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="CompoundProductFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="CompoundProductNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ConfigurationModelId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactEmail" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactWorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ConvertToAgreementFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="ConvertToAssetFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="Cost" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="CurrencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Discount2" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="DiscountAmount" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="DiscountPercent" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="DiscountSource" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DueDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="EligibilityReason" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="EligibilityStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ExchangeDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="ExcludePricingFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="ExtendedQuantity" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="ForcastableFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="HasGenericsFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="HeaderCurrencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="HeaderDiscount" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="HeaderExchangeDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="InclusiveEligibilityFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="IsComplexProduct" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="IsComplexProductComponent" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="IsComplexProductRoot" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="ItemPrice" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="ItemPriceListId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="JointWorkspaceId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LineNumber" maxOccurs="1" minOccurs="0" type="xsd:int"/>
            <xsd:element name="LineNumber2" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="MRCCxTotal" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="MRCCxTotalinHeaderCurrency" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="MaximumQuantity" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="MinimumQuantity" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="NRCCxTotal" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="NRCCxTotalinHeaderCurrency" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="NeedRefreshBasePrice" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="NetPrice" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="NetworkElementType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Node" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderActiveFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="OrderCPN" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderHeaderId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OwnerAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ParentOrderItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PartNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PostPickCD" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PrePickCD" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="PreviousAssetStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PreviousBillingAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PreviousServiceAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PreviousServiceId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PreviousUsageAssetId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PriceListId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PriceType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PricingComments" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProcessedFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="ProdItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProdPromId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProdPromInstanceId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProdPromName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProdPromRuleId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProdPromSourceId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Product" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProductDefTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProductEffectiveFrom" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="ProductEffectiveTo" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="ProductId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProductPortId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProductPrimaryProductLineId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProductTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProductXAClassId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PromotionItemFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="Quantity" maxOccurs="1" minOccurs="0" type="xsd:int"/>
            <xsd:element name="QuantityRequested" maxOccurs="1" minOccurs="0" type="xsd:int"/>
            <xsd:element name="QuantityShipped" maxOccurs="1" minOccurs="0" type="xsd:int"/>
            <xsd:element name="RevisedLineItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="RollupAmount" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="RollupItemPrice" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="RootAssetIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="RootItemPriceListId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="RootOrderItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="RootProductId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="SalesServiceFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="ServiceAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceAccountZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ServiceId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipInstrustions" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToContact-Email" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToContact-FirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToContact-LastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToContact-WorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="SmartPartNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TaxAmount" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="TaxExemptFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="ToNode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ToServiceAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ToServiceAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="UnitPrice" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="UnitofMeasure" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="VODRowId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="VolumeDiscountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="VolumeDiscountItem" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="VolumeDiscountItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="VolumeUpsellItem" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="VolumeUpsellItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="VolumeUpsellMessage" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Write-InProduct" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalShipToAddressee" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipToAddressee" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingProfileId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingProfileName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingContactEmail" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingContactFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingContactLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingContactWorkPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DonatingServiceProvider" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="EndingPhoneNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LegacyAccountNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="NumberPortabilityAgencyName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="NumberToPort" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PIN" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="RequestedPortingDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ServicePostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="StartingPhoneNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ListOfOrderItemXADetail" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfOrderItemXADetailData"/>
            <xsd:element name="ListOfOrderItemProductLine" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfOrderItemProductLineData"/>
            <xsd:element name="OrderItemDetail" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:OrderItemDetailData"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ListOfOrderPaymentData">
        <xsd:sequence>
            <xsd:element name="OrderPayment" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:OrderPaymentData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="OrderPaymentData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ABACode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AVSCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AccountNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AccountNumber-ReadOnly" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ActualCharge" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="AuthorizationCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AuthorizationDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="BCReadOnlyFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToAddressId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToAddressIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CalculatedOrderType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CardHolder" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactEmail" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactFirstLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactLastFirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactLastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ContactPhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CreatedByName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CreditCardNumber-Display" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CreditCardTransactionResponseCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CreditCardTransactionResponseMessage" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CreditCheckMessage" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CreditCheckStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CreditCheckStatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="CurrencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CustomerId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DateOfBirth" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="Description" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DesiredPayDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="EncryptionKey" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ExchangeDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="ExpirationDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="ExpirationMonth" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ExpirationYear" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="FirstName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="IntegrationId2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="InvoiceId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="InvoiceNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="IssuingBankCustomerId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="IssuingBankName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="IssuingBankPhoneNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LastName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LineNumber3" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ManualAuthorizationFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="MerchantId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderCustomerId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderId2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderTypeCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Payment" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentAccountIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentAccountLocation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentAccountName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentAccountSite" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentContactId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentContactIntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="PaymentImportFlg" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="PaymentMethod" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentMethodLIC" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentProfileName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentStatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="PaymentType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PaymentTypeReadOnlyFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="PersonalBillToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToPostalCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToStreetAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PersonalBillToStreetAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="QuoteCustomerId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="QuoteId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="QuoteNumber2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="SSNEncryptionKey" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="SaveCreditCard" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="SocialSecurityNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransactionAmount" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="TransactionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransactionMessage" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TransactionTime" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="TransactionType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="VendorId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="VerificationNumber" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="BillToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingProfileId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingProfileName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingAccountNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="InvoiceTo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ListOfOrderPaymentsBankAddress" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfOrderPaymentsBankAddressData"/>
            <xsd:element name="ListOfOrderPaymentsBillToAddress" maxOccurs="1" minOccurs="0" type="xsdLocal2:ListOfOrderPaymentsBillToAddressData"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ListOfShipmentItemData">
        <xsd:sequence>
            <xsd:element name="ShipmentItem" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:ShipmentItemData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="ShipmentItemData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AssetNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillingDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="BillingQuantity" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="DeliveryDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="DeliveryQuantity" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="LineItemActionType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LineItemActionTypeId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LineNumber4" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PickingDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="PickingQuantity" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="PlanDispatchDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="PlanDispatchQuantity" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="Product2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProductName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipmentDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ShipmentId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ShipmentQuantity" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="StatusAsOfDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ListOfOrderItemXADetailData">
        <xsd:sequence>
            <xsd:element name="OrderItemXADetail" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:OrderItemXADetailData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="OrderItemXADetailData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ActionCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AttributeId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BCReadOnlyFlag2" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="CfgStateCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DataType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DateValue" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="Description2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="DisplayName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Hidden" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="IntegrationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="LOVType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="MLOV" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="Name" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="NumericValue" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="ObjectId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="OrderItemStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ParentComplexProductFlag" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="PreviousDateValue" maxOccurs="1" minOccurs="0" type="xsd:date"/>
            <xsd:element name="PreviousNumericValue" maxOccurs="1" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="PreviousTextValue" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PreviousValue" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ReadOnly" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="Required" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="Sequence" maxOccurs="1" minOccurs="0" type="xsd:int"/>
            <xsd:element name="TextValue" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="UnitofMeasure" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Validation" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Value" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ListOfOrderItemProductLineData">
        <xsd:sequence>
            <xsd:element name="OrderItemProductLine" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:OrderItemProductLineData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="OrderItemProductLineData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProductLineId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ListOfOrderPaymentsBankAddressData">
        <xsd:sequence>
            <xsd:element name="OrderPaymentsBankAddress" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:OrderPaymentsBankAddressData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="OrderPaymentsBankAddressData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BankZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ListOfOrderPaymentsBillToAddressData">
        <xsd:sequence>
            <xsd:element name="OrderPaymentsBillToAddress" maxOccurs="unbounded" minOccurs="0" type="xsdLocal2:OrderPaymentsBillToAddressData"/>
        </xsd:sequence>
        <xsd:attribute name="lastpage" type="xsd:boolean"/>
        <xsd:attribute name="recordcount" type="xsd:integer"/>
    </xsd:complexType>
    <xsd:complexType name="OrderPaymentsBillToAddressData">
        <xsd:sequence>
            <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Created" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="Updated" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="ConflictId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ModId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToAddress" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToAddress2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToCity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToCountry" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToState" maxOccurs="1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="BillToZip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
        <xsd:attribute name="operation" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>
