AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/RequestProductStructureSiebelJMSProducer.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ABCS/Siebel/Core/RequestProductStructureSiebelJMSProducer/V1"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="RequestProductStructureSiebelJMSProducerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="RequestProductStructureSiebelJMSProducerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>
