AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/SWIAdminISSClassDefinitionIO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/SWIAdminISSClassDefinitionIO" xmlns:xsdLocal="http://www.siebel.com/xml/SWIAdminISSClassDefinitionIO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="ListOfSwiadminissclassdefinitionio" type="xsdLocal:ListOfSwiadminissclassdefinitionio"
/><xsd:complexType name="ListOfSwiadminissclassdefinitionioTopElmt"
><xsd:sequence
><xsd:element name="ListOfSwiadminissclassdefinitionio" type="xsdLocal:ListOfSwiadminissclassdefinitionio" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfSwiadminissclassdefinitionio"
><xsd:sequence
><xsd:element name="SwiIssClassVodBuscomp" type="xsdLocal:SwiIssClassVodBuscomp" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="SwiIssClassVodBuscomp"
><xsd:sequence
><xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="Description" type="xsdLocal:string250" minOccurs="0" maxOccurs="1"
/><xsd:element name="LockedBy" type="xsdLocal:string50" minOccurs="0" maxOccurs="1"
/><xsd:element name="LockedDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="LockedFlag" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ParentVODId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ParentVODName" type="xsdLocal:string100" minOccurs="0" maxOccurs="1"
/><xsd:element name="VODId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="VODName" type="xsdLocal:string100" minOccurs="1" maxOccurs="1"
/><xsd:element name="VODName-Display" type="xsdLocal:string100" minOccurs="1" maxOccurs="1"
/><xsd:element name="VODReleasedFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="VODType" type="xsdLocal:string30" minOccurs="1" maxOccurs="1"
/><xsd:element name="VODVersion" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="EffectiveStartDate" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="EffectiveEndDate" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfSwiIssAttributeDefinitionLangBuscomp" type="xsdLocal:ListOfSwiIssAttributeDefinitionLangBuscomp" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfSwiIssProductAttributeVbc" type="xsdLocal:ListOfSwiIssProductAttributeVbc" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfSwiIssProductDetailsBuscomp" type="xsdLocal:ListOfSwiIssProductDetailsBuscomp" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfSwiIssProductVersionsBuscomp" type="xsdLocal:ListOfSwiIssProductVersionsBuscomp" minOccurs="0" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/><xsd:attribute name="searchspec" type="xsd:string"
/></xsd:complexType
><xsd:complexType name="ListOfSwiIssAttributeDefinitionLangBuscomp"
><xsd:sequence
><xsd:element name="SwiIssAttributeDefinitionLangBuscomp" type="xsdLocal:SwiIssAttributeDefinitionLangBuscomp" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="SwiIssAttributeDefinitionLangBuscomp"
><xsd:sequence
><xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="Description" type="xsdLocal:string250" minOccurs="0" maxOccurs="1"
/><xsd:element name="LangCD" type="xsdLocal:string5" minOccurs="1" maxOccurs="1"
/><xsd:element name="LangName" type="xsdLocal:string50" minOccurs="0" maxOccurs="1"
/><xsd:element name="ParentId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="VODName" type="xsdLocal:string100" minOccurs="1" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/><xsd:attribute name="searchspec" type="xsd:string"
/></xsd:complexType
><xsd:complexType name="ListOfSwiIssProductAttributeVbc"
><xsd:sequence
><xsd:element name="SwiIssProductAttributeVbc" type="xsdLocal:SwiIssProductAttributeVbc" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="SwiIssProductAttributeVbc"
><xsd:sequence
><xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="AssetFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="VersionNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AttributeDefinitionTranslationName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AttributeId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AttributeName" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="DataType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="DataTypeInterger" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="DefaultValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Description2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="DisplayName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="EligibilityProcedureName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="HiddenFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="InheritedFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="IsAdminMode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="IsEnumerated" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MaximumValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MinimumValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="OverwrittenFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ParametricSearchFlg" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PostPickCD" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrePickCD" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="QBEValidationSpec" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ReadOnlyFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="RejectedDispVal" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="RejectedVal" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="RequiredFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SequenceNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="UnitofMeasure" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/><xsd:attribute name="searchspec" type="xsd:string"
/></xsd:complexType
><xsd:complexType name="ListOfSwiIssProductDetailsBuscomp"
><xsd:sequence
><xsd:element name="SwiIssProductDetailsBuscomp" type="xsdLocal:SwiIssProductDetailsBuscomp" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="SwiIssProductDetailsBuscomp"
><xsd:sequence
><xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="FirstVersion" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="LastVersion" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ObjectName" type="xsdLocal:string100" minOccurs="1" maxOccurs="1"
/><xsd:element name="OrigId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ParametricSearchFlg" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ParentVODId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PostPickCD2" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrePickCD2" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="SPNDefinitionId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="XAIntegrationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfSwiIssProductDetailsLangBuscomp" type="xsdLocal:ListOfSwiIssProductDetailsLangBuscomp" minOccurs="0" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/><xsd:attribute name="searchspec" type="xsd:string"
/></xsd:complexType
><xsd:complexType name="ListOfSwiIssProductVersionsBuscomp"
><xsd:sequence
><xsd:element name="SwiIssProductVersionsBuscomp" type="xsdLocal:SwiIssProductVersionsBuscomp" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="SwiIssProductVersionsBuscomp"
><xsd:sequence
><xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="ActiveFlg" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Comments" type="xsdLocal:string250" minOccurs="0" maxOccurs="1"
/><xsd:element name="LatestReleasedFlag" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ReleasedFlag" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="RequiredEndDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="RequiredStartDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="VODId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="Version" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="VersionId" type="xsd:string" minOccurs="1" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/><xsd:attribute name="searchspec" type="xsd:string"
/></xsd:complexType
><xsd:complexType name="ListOfSwiIssProductDetailsLangBuscomp"
><xsd:sequence
><xsd:element name="SwiIssProductDetailsLangBuscomp" type="xsdLocal:SwiIssProductDetailsLangBuscomp" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="SwiIssProductDetailsLangBuscomp"
><xsd:sequence
><xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"
/><xsd:element name="DisplayName2" type="xsdLocal:string100" minOccurs="1" maxOccurs="1"
/><xsd:element name="Lang" type="xsdLocal:string5" minOccurs="1" maxOccurs="1"
/><xsd:element name="LangName" type="xsdLocal:string50" minOccurs="0" maxOccurs="1"
/><xsd:element name="ParentId" type="xsd:string" minOccurs="1" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/><xsd:attribute name="searchspec" type="xsd:string"
/></xsd:complexType
><xsd:simpleType name ="string250"
><xsd:restriction base="xsd:string"
><xsd:maxLength value="250"
/></xsd:restriction
></xsd:simpleType
><xsd:simpleType name ="string50"
><xsd:restriction base="xsd:string"
><xsd:maxLength value="50"
/></xsd:restriction
></xsd:simpleType
><xsd:simpleType name ="string30"
><xsd:restriction base="xsd:string"
><xsd:maxLength value="30"
/></xsd:restriction
></xsd:simpleType
><xsd:simpleType name ="string5"
><xsd:restriction base="xsd:string"
><xsd:maxLength value="5"
/></xsd:restriction
></xsd:simpleType
><xsd:simpleType name ="string100"
><xsd:restriction base="xsd:string"
><xsd:maxLength value="100"
/></xsd:restriction
></xsd:simpleType
></xsd:schema
>