AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/SWICustomerPartyIO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/SWICustomerPartyIO" xmlns:xsdLocal="http://www.siebel.com/xml/SWICustomerPartyIO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="ListOfSwicustomerpartyio" type="xsdLocal:ListOfSwicustomerpartyio"
/><xsd:complexType name="ListOfSwicustomerpartyioTopElmt"
><xsd:sequence
><xsd:element name="ListOfSwicustomerpartyio" type="xsdLocal:ListOfSwicustomerpartyio" minOccurs="1" maxOccurs="1"
/></xsd:sequence
>
		<xsd:attribute name="Language" type="xsd:string"/>
  	   <xsd:attribute name="Locale" type="xsd:string"/>
  	   <xsd:attribute name="MessageId" type="xsd:string"/>
	   <xsd:attribute name="EnterpriseServerName" type="xsd:string"/>
</xsd:complexType
><xsd:complexType name="ListOfSwicustomerpartyio"
><xsd:sequence
><xsd:element name="Account" type="xsdLocal:Account" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="Account"
><xsd:sequence
><xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AccountStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AccountTypeCode" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="CurrencyCode" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="DUNSNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="HomePage" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Location" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MainFaxNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MainPhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ParentAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrimaryAddressId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrimaryBillToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrimaryContactId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrimaryShipToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Type" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrimaryBillingProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Created" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MasterAccountId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ListOfCutAddress" type="xsdLocal:ListOfCutAddress" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfContact" type="xsdLocal:ListOfContact" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfInternalDivision" type="xsdLocal:ListOfInternalDivision" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfComInvoiceProfile" type="xsdLocal:ListOfComInvoiceProfile" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfComExemptionsProfile" type="xsdLocal:ListOfComExemptionsProfile" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfComStatementProfile" type="xsdLocal:ListOfComStatementProfile" minOccurs="0" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/></xsd:complexType
><xsd:complexType name="ListOfCutAddress"
><xsd:sequence
><xsd:element name="CutAddress" type="xsdLocal:CutAddress" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="CutAddress"
><xsd:sequence
><xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AddressName" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="BillAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="County" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="DisableDataCleansing" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MainAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Province" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ShipAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="StreetAddress" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="StreetAddress2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AddressType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="EndDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="StartDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/></xsd:complexType
><xsd:complexType name="ListOfContact"
><xsd:sequence
><xsd:element name="Contact" type="xsdLocal:Contact" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="Contact"
><xsd:sequence
><xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Alias" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CellularPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ContactPersonTitle" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="DateofBirth" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="FaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="FirstName" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="Gender" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="HomePhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="JobTitle" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="LastName" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="MM" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MaritalStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MiddleName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MotherMaidenName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SocialSecurityNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SuppressAllCalls" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SuppressAllEmails" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SuppressAllFaxes" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SuppressAllMailings" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ConsumerLink" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfPersonalAddress" type="xsdLocal:ListOfPersonalAddress" minOccurs="0" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/></xsd:complexType
><xsd:complexType name="ListOfInternalDivision"
><xsd:sequence
><xsd:element name="InternalDivision" type="xsdLocal:InternalDivision" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="InternalDivision"
><xsd:sequence
><xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="Organization" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="OrganizationId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
><xsd:attribute name="operation" type="xsd:string"
/></xsd:complexType
><xsd:complexType name="ListOfComInvoiceProfile"
><xsd:sequence
><xsd:element name="ComInvoiceProfile" type="xsdLocal:ComInvoiceProfile" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ComInvoiceProfile"
><xsd:sequence
><xsd:element name="BillingProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AccountId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="AddressId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BankAccountName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BankAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BankAccountType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BankAuthorizationflag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BankBranch" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BankLanguageCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BankLanguageId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BankName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillAverage" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillCycle" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillCycleDay" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillFrequency" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillSequence" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillSource" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillVendorId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BudgetBillingFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CPNIDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CPNIFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CollectionsFlag" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ContactId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardBlockFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardBlockReason" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardCategory" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardExpirationDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardExpirationMonth" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardExpirationYear" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardNumberEncryptkeyReference" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardSecurityCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardVerificationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CreditCardVerificationNumberEncryptionKey" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="DaysToCash" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="EmailBillTo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ExternalBillingAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ExternalBillingAccountNumber-Old" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ExtraCopies" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="InterestatInvoiceFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="LastBillAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="LastBillDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MediaType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillingProfileName" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="NoPayFormFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="NumberofManualInvoices" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PaymentMethod" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ReasonforManualOutsource" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="RepeatDebtorFlag" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="RoutingNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="StandingOrderFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="StatementFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="YearlyAdvancePaymentFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfCutAddressCopy" type="xsdLocal:ListOfCutAddressCopy" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfContactQuery" type="xsdLocal:ListOfContactQuery" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfComExemptionsProfile"
><xsd:sequence
><xsd:element name="ComExemptionsProfile" type="xsdLocal:ComExemptionsProfile" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ComExemptionsProfile"
><xsd:sequence
><xsd:element name="LifeSupportFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SpecialDescription" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfComStatementProfile"
><xsd:sequence
><xsd:element name="ComStatementProfile" type="xsdLocal:ComStatementProfile" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ComStatementProfile"
><xsd:sequence
><xsd:element name="ContactFirstName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ContactLastName" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="StreetAddress" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="EmailBillTo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="LanguageCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ContactId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MediaType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ExtraCopies" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ContactFaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ContactWorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="StatementProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AddressId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AccountId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="StatementFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="City" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Zipcode" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfPersonalAddress"
><xsd:sequence
><xsd:element name="PersonalAddress" type="xsdLocal:PersonalAddress" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="PersonalAddress"
><xsd:sequence
><xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AddressName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="County" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Province" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="StreetAddress" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="StreetAddress2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AddressType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="EndDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="StartDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfCutAddressCopy"
><xsd:sequence
><xsd:element name="CutAddressCopy" type="xsdLocal:CutAddressCopy" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="CutAddressCopy"
><xsd:sequence
><xsd:element name="AddressName" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AddressId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AddressLine1" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="AddressLine2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="County" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Province" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfContactQuery"
><xsd:sequence
><xsd:element name="ContactQuery" type="xsdLocal:ContactQuery" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ContactQuery"
><xsd:sequence
><xsd:element name="CellularPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="FaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="FirstName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="HomePhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="JobTitle" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="LastName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Salutation" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MiddleName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ContactId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>