AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/SWIQuoteIO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal="http://siebel.com/OrderManagement/Quote/Data" targetNamespace="http://siebel.com/OrderManagement/Quote/Data" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="ListOfSWIQuoteIO" type="xsdLocal:ListOfSWIQuoteIO" />
  <xsd:complexType name="ListOfSWIQuoteIOTopElmt">
    <xsd:sequence>
      <xsd:element name="ListOfSWIQuoteIO" type="xsdLocal:ListOfSWIQuoteIO" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListOfSWIQuoteIO">
    <xsd:sequence>
      <xsd:element name="SWIQuote" type="xsdLocal:SWIQuote" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="MessageId" type="xsd:string" />
    <xsd:attribute name="MessageType" type="xsd:string" />
    <xsd:attribute name="IntObjectName" type="xsd:string" />
    <xsd:attribute name="IntObjectFormat" type="xsd:string" />
    <xsd:attribute name="Language" type="xsd:string" />
    <xsd:attribute name="Locale" type="xsd:string" />
    <xsd:attribute name="EnterpriseServerName" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="SWIQuote">
    <xsd:sequence>
      <xsd:element name="AccountAddress" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AccountAddress-City" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AccountAddress-Country" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AccountAddress-PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AccountAddress-State" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AccountAddress-Street2" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AccountAddressId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AccountHomePage" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AccountId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AccountMainPhoneNumber" type="xsdLocal:string40" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToAccountId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToAddress" type="xsdLocal:string200" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToAddress2" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToAddress3" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToAddressCounty" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToAddressProvince" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToCity" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToContactId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToCountry" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToPostalCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="BillToState" type="xsdLocal:string10" minOccurs="0" maxOccurs="1" />
      <xsd:element name="CarrierCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="CarrierPriority" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ContactId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="CurrencyCode" type="xsdLocal:string20" minOccurs="1" maxOccurs="1" />
      <xsd:element name="EAIStatus" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="EAISyncDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Freight" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="FreightTerms" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="FreightTermsInfo" type="xsdLocal:string250" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Location" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Name" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
      <xsd:element name="PaymentTerm" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
      <xsd:element name="PriceListId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="PricingDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="PrimaryShipToEmailAddress" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
      <xsd:element name="QuoteNumber" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="QuoteType" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="RequestedShipDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipCompleteFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAccountId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddress" type="xsdLocal:string200" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddress2" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddress3" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddressCity" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddressCountry" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddressPostalCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddressProvince" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddressState" type="xsdLocal:string10" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToContactId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToCounty" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Status" type="xsdLocal:string30" minOccurs="1" maxOccurs="1" />
      <xsd:element name="StatusAsOfDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="TaxAmount" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ListOfSWIQuoteItem" type="xsdLocal:ListOfSWIQuoteItem" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListOfSWIQuoteItem">
    <xsd:sequence>
      <xsd:element name="SWIQuoteItem" type="xsdLocal:SWIQuoteItem" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SWIQuoteItem">
    <xsd:sequence>
      <xsd:element name="CarrierCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Description" type="xsdLocal:string255" minOccurs="0" maxOccurs="1" />
      <xsd:element name="DueDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ExtendedQuantityRequested" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ExternalConfiguratorReference1" type="xsdLocal:string40" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ExternalConfiguratorReference2" type="xsdLocal:string40" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ExternalConfiguratorReference3" type="xsdLocal:string40" minOccurs="0" maxOccurs="1" />
      <xsd:element name="FreightAmount" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="FreightTerms" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="GrossWeight" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="GrossWeightUoM" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ItemPriceListId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="LineNumber" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="LineNumber2" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="NetPrice" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ParentQuoteItemId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ProductId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="RootQuoteItemId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="SalesUnitofMeasurement" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAccountId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddress" type="xsdLocal:string200" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddress2" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToCity" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToContactId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToCountry" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToState" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShipToZip" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ShippingMethod" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="SourceInventoryLocationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Status" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="TaxAmt" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="UnitPrice" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="UnitofMeasure" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
      <xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="SWIQuoteItem" type="xsdLocal:SWIQuoteItem" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="operation" type="xsd:string" />
    <xsd:attribute name="searchspec" type="xsd:string" />
  </xsd:complexType>
  <xsd:simpleType name="string250">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string30">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string40">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string200">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string100">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string20">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
