AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/OSM/V1/CreateTroubleTicketRespOSMCFSCommsJMSProducer.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Industry/Comms/CreateTroubleTicketRespOSMCFSCommsJMSProducer/V1"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CreateTroubleTicketRespOSMCFSCommsJMSProducerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CreateTroubleTicketRespOSMCFSCommsJMSProducerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>