AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/BusinessProcessServiceLibrary/EBF/V2/InterfaceSalesOrderToCustomerEBF.wsdl

<definitions name="InterfaceSalesOrderToCustomerEBF"
             targetNamespace="http://xmlns.oracle.com/EnterpriseFlows/Core/InterfaceSalesOrderToCustomerEBF/V2"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
             xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:pns1="http://xmlns.oracle.com/EnterpriseFlows/Core/InterfaceSalesOrderToCustomerEBF/V2/correlationset"
             xmlns:corecustparty="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2"
             xmlns:client="http://xmlns.oracle.com/EnterpriseFlows/Core/InterfaceSalesOrderToCustomerEBF/V2"
             xmlns:coresalesorder="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/SalesOrder/V2"
             xmlns:salesorderorchebs="http://xmlns.oracle.com/EnterpriseServices/Core/SalesOrderOrchestrationEBS/V2"
             xmlns:custpartyorcebs="http://xmlns.oracle.com/EnterpriseServices/Core/CustomerPartyOrchestration/V2">
    <documentation>
        <svcdoc:Service>
            <svcdoc:Description>Interface Sales Order to Customer Enterprise
                                Business Flow</svcdoc:Description>
            <svcdoc:ServiceType>EnterpriseBusinessFlow</svcdoc:ServiceType>
            <svcdoc:DisplayName>InterfaceSalesOrderToCustomerEBF</svcdoc:DisplayName>
            <svcdoc:Version>2.0</svcdoc:Version>
            <svcdoc:EBOName>SalesOrderEBO</svcdoc:EBOName>
            <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            <svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
        </svcdoc:Service>
    </documentation>
    <import namespace="http://xmlns.oracle.com/EnterpriseFlows/Core/InterfaceSalesOrderToCustomerEBF/V2/correlationset"
            location="InterfaceSalesOrderToCustomerEBFV2_Properties.wsdl"/>
    <import namespace="http://schemas.oracle.com/bpel/extension"
            location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/SalesOrder/V2"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/EBO/SalesOrder/V2/SalesOrderEBM.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/EBO/CustomerParty/V2/CustomerPartyEBM.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common"
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </xsd:schema>
    </types>
    <message name="InterfaceSalesOrderToCustomerReqMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the request payload
                                    to the InterfaceSalesOrderToCustomer
                                    operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="ProcessSalesOrderEBM"
              element="coresalesorder:ProcessSalesOrderEBM"/>
    </message>
    <message name="InterfaceCustomerToFulfillmentRespMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the inbound response
                                    payload received after the
                                    InterfaceCustomerToFulfillment operation</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="ProcessCustomerPartyListResponseEBM"
              element="corecustparty:ProcessCustomerPartyListResponseEBM"/>
    </message>
    <message name="AIAFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the internal fault
                                    message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="AIAFault" element="corecom:Fault"/>
    </message>
    <portType name="InterfaceSalesOrderToCustomerEBF">
        <documentation>
            <svcdoc:Interface>
                <svcdoc:Description>This interface contains the
                                    InterfaceSalesOrderToCustomerEBF service</svcdoc:Description>
                <svcdoc:DisplayName>InterfaceSalesOrderToCustomerEBF Interface</svcdoc:DisplayName>
                <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
            </svcdoc:Interface>
        </documentation>
        <operation name="InterfaceSalesOrderToCustomer">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This operation is used to interface
                                        sales order to customer</svcdoc:Description>
                    <svcdoc:MEP>ASYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>InterfaceSalesOrderToCustomer</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                </svcdoc:Operation>
            </documentation>
            <input message="client:InterfaceSalesOrderToCustomerReqMsg"/>
        </operation>
        <operation name="InterfaceCustomerToFulfillmentResponse">
            <documentation>
                <svcdoc:Operation>
                    <svcdoc:Description>This is the callback operation for the
                                        interface customers to fulfillment
                                        invokation</svcdoc:Description>
                    <svcdoc:MEP>ASYNC_REQ_RESPONSE</svcdoc:MEP>
                    <svcdoc:DisplayName>InterfaceCustomerToFulfillmentResponse</svcdoc:DisplayName>
                    <svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
                    <svcdoc:Scope>Public</svcdoc:Scope>
                    <svcdoc:InitiatorService>InterfaceCustomerToFulfillmentEBF</svcdoc:InitiatorService>
                    <svcdoc:InitiatorInterface>InterfaceCustomerToFulfillmentEBF</svcdoc:InitiatorInterface>
                    <svcdoc:InitiatorOperation>InterfaceCustomerToFulfillment</svcdoc:InitiatorOperation>
                </svcdoc:Operation>
            </documentation>
            <input message="client:InterfaceCustomerToFulfillmentRespMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="InterfaceSalesOrderToCustomerEBF_PL">
        <plnk:role name="InterfaceSalesOrderToCustomerEBF_Role">
            <plnk:portType name="client:InterfaceSalesOrderToCustomerEBF"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <bpws:propertyAlias propertyName="pns1:RequestEBMID"
                        messageType="custpartyorcebs:InterfaceCustomerToFulfillmentReqMsg"
                        part="ProcessCustomerPartyListEBM"
                        query="/corecustparty:ProcessCustomerPartyListEBM/corecom:EBMHeader/corecom:EBMID"/>
    <bpws:propertyAlias propertyName="pns1:RequestEBMID"
                        messageType="client:InterfaceCustomerToFulfillmentRespMsg"
                        part="ProcessCustomerPartyListResponseEBM"
                        query="/corecustparty:ProcessCustomerPartyListResponseEBM/corecom:EBMHeader/corecom:RequestEBMID"/>
</definitions>

