AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/wsdls/SWIAccountHiearchy.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/SWIAccountHierarchy"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/SWIAccountHierarchy"
></xsd:import
><xsd:element
 name="SWIAccountHierarchyGetAccountHierarchy_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfSWIAccountHierarchy"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SWIAccountHierarchyGetAccountHierarchy_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfSWIAccountHierarchy"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/SWIAccountHierarchy"
 targetNamespace="http://www.siebel.com/xml/SWIAccountHierarchy"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSWIAccountHierarchy"
 type="xsdLocal1:ListOfSWIAccountHierarchy"
></xsd:element
><xsd:complexType
 name="ListOfSWIAccountHierarchyTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSWIAccountHierarchy"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfSWIAccountHierarchy"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSWIAccountHierarchy"
><xsd:sequence
><xsd:element
 name="SWIAccountHierarchy"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:SWIAccountHierarchy"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SWIAccountHierarchy"
><xsd:sequence
><xsd:element
 name="SWIAccountList"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:SWIAccountList"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SWIAccountList"
><xsd:sequence
><xsd:element
 name="SWIAccount"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:SWIAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SWIAccount"
><xsd:sequence
><xsd:element
 name="AccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountTypeCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ParentAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="SWIAccountHierarchyGetAccountHierarchy_Input"
><part
 name="SWIAccountHierarchyGetAccountHierarchy_Input"
 element="tns:SWIAccountHierarchyGetAccountHierarchy_Input"
></part
></message
><message
 name="SWIAccountHierarchyGetAccountHierarchy_Output"
><part
 name="SWIAccountHierarchyGetAccountHierarchy_Output"
 element="tns:SWIAccountHierarchyGetAccountHierarchy_Output"
></part
></message
><portType
 name="SWI_spcAccount_spcHierarchy"
><operation
 name="SWIAccountHierarchyGetAccountHierarchy"
><input
 message="tns:SWIAccountHierarchyGetAccountHierarchy_Input"
></input
><output
 message="tns:SWIAccountHierarchyGetAccountHierarchy_Output"
></output
></operation
></portType
><binding
 name="SWI_spcAccount_spcHierarchy"
 type="tns:SWI_spcAccount_spcHierarchy"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="SWIAccountHierarchyGetAccountHierarchy"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:SWIAccountHierarchyGetAccountHierarchy"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="SWI_spcAccount_spcHierarchy"
><port
 binding="tns:SWI_spcAccount_spcHierarchy"
 name="SWI_spcAccount_spcHierarchy"
><soap:address
 location="http://set.at.runtime"
></soap:address
></port
></service
></definitions
>