AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/OSM/V1/AdapterServices/ProcessFOBillingAccountListRespOSMCFSCommsJMSProducer.wsdl

<definitions
     name="ProcessFOBillingAccountListRespOSMCFSCommsJMSProducer"
     targetNamespace="http://xmlns.oracle.com/ProcessFOBillingAccountListRespOSMCFSCommsJMSProducer"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns3="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/"
     xmlns:client="http://xmlns.oracle.com/ProcessFOBillingAccountListRespOSMCFSCommsJMSProducer"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/ProcessFOBillingAccountListRespOSMCFSCommsJMSProducer"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/OSM/V1/ProcessFOBillingAccountListRespOSMCFSCommsJMSProducer.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/FulfillmentOrder/V1"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/FulfillmentOrder/V1/FulfillmentOrderEBM.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/soapEnvelope.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProcessFOBillingAccountListRespOSMCFSCommsJMSProducerResponseMessage">
        <part name="payload" element="client:ProcessFOBillingAccountListRespOSMCFSCommsJMSProducerProcessResponse"/>
    </message>
    <message name="ProcessFOBillingAccountListRespOSMCFSCommsJMSProducerRequestMessage">
        <part name="ProcessFulfillmentOrderBillingAccountListResponseEBM" element="ns1:ProcessFulfillmentOrderBillingAccountListResponseEBM"/>
    </message>
    <message name="AIAFault_MsgTyp">
        <part name="AIAFault_Msg" element="ns3:Fault"/>
    </message>
    <portType name="ProcessFOBillingAccountListRespOSMCFSCommsJMSProducerCallback">
        <operation name="onResult">
            <input message="client:ProcessFOBillingAccountListRespOSMCFSCommsJMSProducerResponseMessage"/>
        </operation>
    </portType>
    <portType name="ProcessFOBillingAccountListRespOSMCFSCommsJMSProducer">
        <operation name="ProcessFulfillmentOrderBillingAccountListResponse">
            <input message="client:ProcessFOBillingAccountListRespOSMCFSCommsJMSProducerRequestMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ProcessFOBillingAccountListRespOSMCFSCommsJMSProducer">
        <plnk:role name="ProcessFOBillingAccountListRespOSMCFSCommsJMSProducerProvider">
            <plnk:portType name="client:ProcessFOBillingAccountListRespOSMCFSCommsJMSProducer"/>
        </plnk:role>
        <plnk:role name="ProcessFOBillingAccountListRespOSMCFSCommsJMSProducerRequester">
            <plnk:portType name="client:ProcessFOBillingAccountListRespOSMCFSCommsJMSProducerCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
