AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/BusinessProcessServiceLibrary/EBF/V1/InterfaceCustomerToFulfillmentEBF.wsdl

<definitions
     name="InterfaceCustomerToFulfillmentEBF"    
     targetNamespace="http://xmlns.oracle.com/EnterpriseFlows/Core/InterfaceCustomerToFulfillmentEBF/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
     xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"
     xmlns:customerebs="http://xmlns.oracle.com/EnterpriseServices/Core/CustomerParty/V2"
     xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:pns1="http://xmlns.oracle.com/EnterpriseFlows/Core/InterfaceCustomerToFulfillmentEBF/V1/correlationset"
     xmlns:client="http://xmlns.oracle.com/EnterpriseFlows/Core/InterfaceCustomerToFulfillmentEBF/V1"
     xmlns:corecustomerparty="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2">
     
     <documentation>
     <svcdoc:Service>
	<svcdoc:Description>This service contains operations that would be used by the participating application to interact with the external systems</svcdoc:Description>
	<svcdoc:ServiceType>EnterpriseBusinessFlow</svcdoc:ServiceType>
	<svcdoc:DisplayName>InterfaceCustomerToFulfillmentEBF</svcdoc:DisplayName>
	<svcdoc:ABOName>WF_EVENT_T</svcdoc:ABOName>
	<svcdoc:EBOName>CustomerPartyEBO</svcdoc:EBOName>
	<svcdoc:LifecycleStatus>active</svcdoc:LifecycleStatus>
	<svcdoc:Version>1.0</svcdoc:Version>
	<svcdoc:ImplementationTechnology>BPEL</svcdoc:ImplementationTechnology>
	<svcdoc:ProductFamily>Ebiz</svcdoc:ProductFamily>
	<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
	<svcdoc:ProductCode>SFA</svcdoc:ProductCode>
    </svcdoc:Service>
   </documentation>
    <import namespace="http://xmlns.oracle.com/EnterpriseFlows/Core/InterfaceCustomerToFulfillmentEBF/V1/correlationset"
         location="InterfaceCustomerToFulfillmentEBF_Properties.wsdl"/>    
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2"
                 schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/EBO/CustomerParty/V2/CustomerPartyEBM.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" 
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Core/Common/V2/Meta.xsd"/>
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" 
                        schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/bpel-common.xsd"/>
        </xsd:schema>
    </types>
    <message name="InterfaceCustomerToFulfillmentReqMsg">
     <documentation>
          <svcdoc:Message>
	   <svcdoc:Description>Request payload for the InterfaceCustomerToFulfillment operation</svcdoc:Description>
          </svcdoc:Message>
         </documentation>
        <part name="ProcessCustomerPartyListEBM" element="corecustomerparty:ProcessCustomerPartyListEBM"/>
    </message>
    <message name="SyncCustomerPartyListRespMsg">
     <documentation>
          <svcdoc:Message>
	   <svcdoc:Description>Response payload for the SyncCustomerPartyListResponse operation</svcdoc:Description>
          </svcdoc:Message>
         </documentation>
        <part name="SyncCustomerPartyListResponseEBM" element="corecustomerparty:SyncCustomerPartyListResponseEBM"/>
    </message>
    <message name="QueryCustomerPartyListRespMsg">
    
        <part name="QueryCustomerPartyListResponseEBM" element="corecustomerparty:QueryCustomerPartyListResponseEBM"/>
    </message>
    <message name="AIAFaultMsg">
        <documentation>
            <svcdoc:Message>
                <svcdoc:Description>This message is used as the internal fault message</svcdoc:Description>
            </svcdoc:Message>
        </documentation>
        <part name="AIAFault" element="corecom:Fault"/>
    </message>
    <message name="QueryCustomerPartyListReqMsg">
     <documentation>
          <svcdoc:Message>
	   <svcdoc:Description>Request payload for the Query operation</svcdoc:Description>
          </svcdoc:Message>
         </documentation>
        <part name="QueryCustomerPartyListEBM" element="corecustomerparty:QueryCustomerPartyListEBM"/>
    </message>
    <message name="SyncCustomerPartyListReqMsg">
     <documentation>
          <svcdoc:Message>
	   <svcdoc:Description>Request payload for the SyncCustomerPartyList operation</svcdoc:Description>
          </svcdoc:Message>
         </documentation>
        <part name="SyncCustomerPartyListEBM" element="corecustomerparty:SyncCustomerPartyListEBM"/>
    </message>
    <message name="InterfaceCustomerToFulfillmentRespMsg">
     <documentation>
          <svcdoc:Message>
	   <svcdoc:Description>Response payload for the InterfaceCustomerToFulfillment operation</svcdoc:Description>
          </svcdoc:Message>
         </documentation>
        <part name="ProcessCustomerPartyListResponseEBM" element="corecustomerparty:ProcessCustomerPartyListResponseEBM"/>
    </message>
    <portType name="InterfaceCustomerToFulfillmentEBF">
     <documentation>
          <svcdoc:Interface>
	   <svcdoc:Description>This interface contains the web service operations related to the CustomerParty object.</svcdoc:Description>
	   <svcdoc:DisplayName>CustomerParty Account Interface</svcdoc:DisplayName>
	   <svcdoc:LifecycleStatus>active</svcdoc:LifecycleStatus>
          </svcdoc:Interface>
         </documentation>
        <operation name="InterfaceCustomerToFulfillment">
         <documentation>
            <svcdoc:Operation>
	     <svcdoc:Description>This operation is used to interface the CustomerParty object</svcdoc:Description>
	     <svcdoc:MEP>REQUEST_ONLY</svcdoc:MEP>
	     <svcdoc:DisplayName>Sync CustomerParty</svcdoc:DisplayName>
	     <svcdoc:LifecycleStatus>active</svcdoc:LifecycleStatus>
	     <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
           </documentation>
            <input message="client:InterfaceCustomerToFulfillmentReqMsg"/>
        </operation>
        <operation name="SyncCustomerPartyListResponse">
         <documentation>
            <svcdoc:Operation>
	     <svcdoc:Description>This operation is used to interface the CustomerParty object</svcdoc:Description>
	     <svcdoc:MEP>REQUEST_ONLY</svcdoc:MEP>
	     <svcdoc:DisplayName>Sync CustomerParty</svcdoc:DisplayName>
	     <svcdoc:LifecycleStatus>active</svcdoc:LifecycleStatus>
	     <svcdoc:Scope>Public</svcdoc:Scope>
            </svcdoc:Operation>
           </documentation>
            <input message="client:SyncCustomerPartyListRespMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="InterfaceCustomerToFulfillmentEBF_PL">
        <plnk:role name="InterfaceCustomerToFulfillmentEBF_Role">
            <plnk:portType name="client:InterfaceCustomerToFulfillmentEBF"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <bpws:propertyAlias propertyName="pns1:Invoke_SyncCustomerPartyList_SyncCustomerPartyList_SyncCustomerPartyListEBM_EMBID_prop"
         xmlns:ns6="http://xmlns.oracle.com/EnterpriseServices/Core/CustomerParty/V2" messageType="ns6:SyncCustomerPartyListReqMsg"
         part="SyncCustomerPartyListEBM" query="/ns1:SyncCustomerPartyListEBM/ns2:EBMHeader/ns2:EBMID"
         xmlns:ns1="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2"
         xmlns:ns2="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"/>
    <bpws:propertyAlias propertyName="pns1:Invoke_SyncCustomerPartyList_SyncCustomerPartyList_SyncCustomerPartyListEBM_EMBID_prop"
         xmlns:ns6="http://xmlns.oracle.com/EnterpriseServices/Core/CustomerParty/V2" messageType="client:SyncCustomerPartyListRespMsg"
         part="SyncCustomerPartyListResponseEBM" query="/ns1:SyncCustomerPartyListResponseEBM/ns2:EBMHeader/ns2:RequestEBMID"
         xmlns:ns1="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/CustomerParty/V2"
         xmlns:ns2="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2"/>
</definitions>
