AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/SIA810/schemas/SWIContactIO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/SWIContactIO"
	xmlns:xsdLocal="http://www.siebel.com/xml/SWIContactIO" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ListOfSwicontactio" type="xsdLocal:ListOfSwicontactio" />
	<xsd:complexType name="ListOfSwicontactioTopElmt">
		<xsd:sequence>
			<xsd:element name="ListOfSwicontactio" type="xsdLocal:ListOfSwicontactio" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfSwicontactio">
		<xsd:sequence>
			<xsd:element name="Contact" type="xsdLocal:Contact" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="Language" type="xsd:string" />
		<xsd:attribute name="Locale" type="xsd:string" />
		<xsd:attribute name="MessageId" type="xsd:string" />
		<xsd:attribute name="EnterpriseServerName" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="Contact">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Alias" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CellularPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ContactPersonTitle" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CurrencyCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DateofBirth" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EmailAddress" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FirstName" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="HomePhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="IntegrationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="JobTitle" type="xsdLocal:string75" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LastName" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Gender" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MM" type="xsdLocal:string15" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MaritalStatus" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MiddleName" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MotherMaidenName" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryPersonalAddressId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SocialSecurityNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Status" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllCalls" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllEmails" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllFaxes" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllMailings" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AIAIntegrationId" type="xsdLocal:string150" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfAccount" type="xsdLocal:ListOfAccount" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfComInvoiceProfile" type="xsdLocal:ListOfComInvoiceProfile" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="ListOfOrganization" type="xsdLocal:ListOfOrganization" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfPersonalAddress" type="xsdLocal:ListOfPersonalAddress" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="ListOfUcmContactPrivacy" type="xsdLocal:ListOfUcmContactPrivacy" minOccurs="0"
				maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfAccount">
		<xsd:sequence>
			<xsd:element name="Account" type="xsdLocal:Account" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Account">
		<xsd:sequence>
			<xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfComInvoiceProfile">
		<xsd:sequence>
			<xsd:element name="ComInvoiceProfile" type="xsdLocal:ComInvoiceProfile" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComInvoiceProfile">
		<xsd:sequence>
			<xsd:element name="BillingProfileId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AccountId" type="xsd:string" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfOrganization">
		<xsd:sequence>
			<xsd:element name="Organization" type="xsdLocal:Organization" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Organization">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Name" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Organization" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AIAIntegrationId" type="xsdLocal:string150" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfPersonalAddress">
		<xsd:sequence>
			<xsd:element name="PersonalAddress" type="xsdLocal:PersonalAddress" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonalAddress">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AddressName" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="City" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Country" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="County" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EmailAddress" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="IntegrationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PostalCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Province" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="State" type="xsdLocal:string10" minOccurs="0" maxOccurs="1" />
			<xsd:element name="StreetAddress" type="xsdLocal:string200" minOccurs="1" maxOccurs="1" />
			<xsd:element name="StreetAddress2" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AIAIntegrationId" type="xsdLocal:string150" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfUcmContactPrivacy">
		<xsd:sequence>
			<xsd:element name="UcmContactPrivacy" type="xsdLocal:UcmContactPrivacy" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UcmContactPrivacy">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AffiliateFlag" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AffiliateMethod" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AffiliateSource" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AffiliateSystem" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ChannelFlag" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ChannelMethod" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ChannelSource" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ChannelSystem" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ContactId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CoverLetterType" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CoverLetterTypeII" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="IntegrationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LockedFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NonaffiliateFlag" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NonaffiliateMethod" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NonaffiliateSource" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NonaffiliateSystem" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NoticeSendFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NoticeSentDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NoticeSentReason" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NoticeSentType" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OFACFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PENDEndDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PENDStartDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrivacyParentType" type="xsdLocal:string30" minOccurs="1" maxOccurs="1" />
			<xsd:element name="PrivacyStateCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrivacyUID" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ReceiveAnnualNoticeFlag" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ReceiveAnnualNoticeMethod" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ReceiveAnnualNoticeSource" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ReceiveAnnualNoticeSystem" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="StatePENDPeriod" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="TelemarketingFlag" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="TelemarketingMethod" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="TelemarketingSource" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="TelemarketingSystem" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AIAIntegrationId" type="xsdLocal:string150" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:simpleType name="string50">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string10">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string15">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string75">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="75" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string30">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string150">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string200">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>