AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/SIA810/schemas/SWICustomerPartyIO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/SWICustomerPartyIO"
	xmlns:xsdLocal="http://www.siebel.com/xml/SWICustomerPartyIO" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ListOfSwicustomerpartyio" type="xsdLocal:ListOfSwicustomerpartyio" />
	<xsd:complexType name="ListOfSwicustomerpartyioTopElmt">
		<xsd:sequence>
			<xsd:element name="ListOfSwicustomerpartyio" type="xsdLocal:ListOfSwicustomerpartyio" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfSwicustomerpartyio">
		<xsd:sequence>
			<xsd:element name="Account" type="xsdLocal:Account" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="Language" type="xsd:string" />
		<xsd:attribute name="Locale" type="xsd:string" />
		<xsd:attribute name="MessageId" type="xsd:string" />
		<xsd:attribute name="EnterpriseServerName" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="Account">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AccountStatus" type="xsdLocal:string24" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AccountTypeCode" type="xsdLocal:string30" minOccurs="1" maxOccurs="1" />
			<xsd:element name="CurrencyCode" type="xsdLocal:string15" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DUNSNumber" type="xsdLocal:string15" minOccurs="0" maxOccurs="1" />
			<xsd:element name="HomePage" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="IntegrationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Location" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MainFaxNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MainPhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Name" type="xsdLocal:string100" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ParentAccountId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryAddressId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryBillToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryContactId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryShipToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Type" type="xsdLocal:string30" minOccurs="1" maxOccurs="1" />
			<xsd:element name="AIAIntegrationId" type="xsdLocal:string150" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfCutAddress" type="xsdLocal:ListOfCutAddress" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfContact" type="xsdLocal:ListOfContact" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfInternalDivision" type="xsdLocal:ListOfInternalDivision" minOccurs="0"
				maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfCutAddress">
		<xsd:sequence>
			<xsd:element name="CutAddress" type="xsdLocal:CutAddress" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CutAddress">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AddressName" type="xsdLocal:string100" minOccurs="1" maxOccurs="1" />
			<xsd:element name="BillAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="City" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Country" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="County" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DisableDataCleansing" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EmailAddress" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="IntegrationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MainAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PostalCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Province" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ShipAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="State" type="xsdLocal:string10" minOccurs="0" maxOccurs="1" />
			<xsd:element name="StreetAddress" type="xsdLocal:string200" minOccurs="1" maxOccurs="1" />
			<xsd:element name="StreetAddress2" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AIAIntegrationId" type="xsdLocal:string150" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfContact">
		<xsd:sequence>
			<xsd:element name="Contact" type="xsdLocal:Contact" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Contact">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Alias" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CellularPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ContactPersonTitle" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CurrencyCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DateofBirth" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EmailAddress" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FirstName" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Gender" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="HomePhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="IntegrationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="JobTitle" type="xsdLocal:string75" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LastName" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="MM" type="xsdLocal:string15" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MaritalStatus" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MiddleName" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MotherMaidenName" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SocialSecurityNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Status" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllCalls" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllEmails" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllFaxes" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllMailings" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AIAIntegrationId" type="xsdLocal:string150" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfInternalDivision">
		<xsd:sequence>
			<xsd:element name="InternalDivision" type="xsdLocal:InternalDivision" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InternalDivision">
		<xsd:sequence>
			<xsd:element name="Name" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Organization" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="OrganizationId" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="AIAIntegrationId" type="xsdLocal:string150" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:simpleType name="string50">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string24">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="24" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string10">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string75">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="75" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string15">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string30">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string150">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string200">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>