AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/SIA810/schemas/SWIFMLocationIO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/SWIFMLocationIO"
	xmlns:xsdLocal="http://www.siebel.com/xml/SWIFMLocationIO" attributeFormDefault="unqualified"
	elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ListOfSwifmlocationio" type="xsdLocal:ListOfSwifmlocationio" />
	<xsd:complexType name="ListOfSwifmlocationioTopElmt">
		<xsd:sequence>
			<xsd:element name="ListOfSwifmlocationio" type="xsdLocal:ListOfSwifmlocationio" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfSwifmlocationio">
		<xsd:sequence>
			<xsd:element name="FmLocation" type="xsdLocal:FmLocation" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="Language" type="xsd:string" />
		<xsd:attribute name="Locale" type="xsd:string" />
		<xsd:attribute name="MessageId" type="xsd:string" />
		<xsd:attribute name="EnterpriseServerName" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="FmLocation">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ActiveFlag" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Comments" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Description" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="IntegrationLocationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LocationAlias" type="xsdLocal:string30" minOccurs="1" maxOccurs="1" />
			<xsd:element name="LocationName" type="xsdLocal:string100" minOccurs="1" maxOccurs="1" />
			<xsd:element name="LocationType" type="xsdLocal:string30" minOccurs="1" maxOccurs="1" />
			<xsd:element name="LocationValidated" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MainFaxNumber" type="xsdLocal:string40" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Mainemailaddress" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OrganizationId" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="OwnerAccountId" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="OwnerAccountName" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OwnerAccountType" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PhoneNumber" type="xsdLocal:string40" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryLocationAccountId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryLocationAddressId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryLocationContactId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryLocationRoleId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfAccount" type="xsdLocal:ListOfAccount" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfCutAddress" type="xsdLocal:ListOfCutAddress" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfContact" type="xsdLocal:ListOfContact" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfFmLocationRole" type="xsdLocal:ListOfFmLocationRole" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
		<xsd:attribute name="searchspec" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfAccount">
		<xsd:sequence>
			<xsd:element name="Account" type="xsdLocal:Account" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Account">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfCutAddress">
		<xsd:sequence>
			<xsd:element name="CutAddress" type="xsdLocal:CutAddress" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CutAddress">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AddressName" type="xsdLocal:string100" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="BillAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="City" type="xsdLocal:string50" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Country" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="County" type="xsdLocal:string50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DisableDataCleansing" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="EmailAddress" type="xsdLocal:string50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IntegrationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MainAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PostalCode" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Province" type="xsdLocal:string50" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ShipAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="State" type="xsdLocal:string10" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StreetAddress" type="xsdLocal:string200" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="StreetAddress2" type="xsdLocal:string100" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AddressGeographyId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Latitude" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Longitude" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AddressTimezone" type="xsdLocal:string30" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfContact">
		<xsd:sequence>
			<xsd:element name="Contact" type="xsdLocal:Contact" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Contact">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Alias" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CellularPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ContactPersonTitle" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CurrencyCode2" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DateofBirth" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EmailAddress" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FirstName" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Gender" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="HomePhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="IntegrationId" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="JobTitle" type="xsdLocal:string75" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LastName" type="xsdLocal:string50" minOccurs="1" maxOccurs="1" />
			<xsd:element name="MM" type="xsdLocal:string15" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MaritalStatus" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MiddleName" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MotherMaidenName" type="xsdLocal:string50" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SocialSecurityNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Status" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllCalls" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllEmails" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllFaxes" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SuppressAllMailings" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AIAIntegrationId" type="xsdLocal:string150" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="ListOfFmLocationRole">
		<xsd:sequence>
			<xsd:element name="FmLocationRole" type="xsdLocal:FmLocationRole" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FmLocationRole">
		<xsd:sequence>
			<xsd:element name="Id" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ActiveFlag" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Description" type="xsdLocal:string100" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ParRowId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="RoleType" type="xsdLocal:string30" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="operation" type="xsd:string" />
	</xsd:complexType>
	<xsd:simpleType name="string50">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string10">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string15">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string75">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="75" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string40">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string30">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string150">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string200">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
