AIA_Deployment_Updated/AIA_Deployment/data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/PIM/V1/schemas/MethodResponse.xsd

<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://xmlns.oracle.com/svc"
     xmlns="http://xmlns.oracle.com/svc" xmlns:sdoJava="commonj.sdo/java" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="ServiceMessage.xsd"/>
    <xsd:include schemaLocation="DataObject.xsd"/>
    <xsd:complexType name="MethodResponse" sdoJava:package="oracle.svc" sdoJava:instanceClass="oracle.svc.MethodResponse">
        <xsd:annotation>
            <xsd:documentation>Represents the response generated by a {@link oracle.svc.MethodRequest MethodRequest} 
invocation on a {@link oracle.svc.Service Service}. One &lt;code&gt;MethodReponse&lt;/code&gt;
is returned for each {@link oracle.svc.MethodRequest MethodRequest} contained in
{@link oracle.svc.BatchRequest BatchRequest}.
@see Service
@see BatchRequest
@see BatchResponse
@see MethodRequest</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="DataObject">
                <xsd:sequence>
                    <xsd:element name="RequestName" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="MethodName" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="Return" type="xsd:anyType" minOccurs="0" nillable="true"/>
                    <xsd:element name="Message" type="ServiceMessage" minOccurs="0" maxOccurs="unbounded"
                         nillable="true"/>
                    <xsd:element name="ErrorMessage" type="ServiceMessage" minOccurs="0" maxOccurs="unbounded"
                         nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="methodResponse" type="MethodResponse" nillable="true"/>
</xsd:schema>
